include ../template/_mixins

.theme-light
	.modal-body
		.media
			.media-left.media-middle
				img.img-avatar.img-avatar--xlg(gravatar-src="user.gravatar_id", gravatar-default="404", fallback-icon="user")
			.media-body
				h3.h--large(ng-class="{ 'h--shift-up': !!user.location }") {{ user.name }}
				.text--large.text--shift-up
					+icon('location')(ng-show="user.location").shift-up.space-right
					| {{ user.location }}
					button.btn.btn-hollow.pull-right(ng-class="{ 'shift-up': !user.location }", ng-click="toggleStar()") {{ starred ? 'Unfollow' : 'Follow' }}

		hr
		ul.ul--no-list.no-indent
			li
				+icon('comment-circle').shift-up.space-right
				| {{ user.counter.comments }} comment{{ user.counter.comments == 1 ? '' : 's' }}
			li
				+icon('star-circle').shift-up.space-right
				| {{ user.counter.stars }} follower{{ user.counter.stars == 1 ? '' : 's' }}


	.modal-footer
		button.btn.btn-default(ng-click="$close()") Close