include ../template/_mixins

.theme-light
	.modal-header
		h1.h--small.h--no-margin
			+icon('user').space-right
			| Update User <strong>{{ originalName }}</strong>
	.modal-body
		form.form-horizontal(role="form")

			.form-group(ng-class="{ error: errors.name }")
				label.col-sm-3.control-label Display Name
				.col-sm-7
					input.form-control(ng-model="user.name", ng-required)

			.form-group(ng-class="{ error: errors.is_active }")
				label.col-sm-3.control-label(for="userActive") Active
				.col-sm-8
					input#userActive.checkbox--toggle(type="checkbox", ng-model="user.is_active")
					label(for="userActive")

			.form-group(ng-class="{ error: errors.username }")
				label.col-sm-3.control-label Username
				.col-sm-7
					input.form-control(ng-model="user.username", ng-required)

			.form-group(ng-class="{ error: errors.email }")
				label.col-sm-3.control-label Email
				.col-sm-7
					input.form-control(ng-model="user.email", ng-required)
				.col-sm-2
					button.btn.btn-hollow.btn-xs(ng-click="sendConfirmation()", ng-show="originalUser.provider === 'local' && !originalUser.is_active", title="Sends the confirmation mail") Resend

			.form-group(ng-class="{ error: errors.roles }")
				label.col-sm-3.control-label Roles
				.col-sm-8
					ul.list--checkboxes
						li(ng-repeat="role in roles", ng-hide="!auth.hasRole('root') && (role.id == 'root' || role.id == 'admin')")
							input.checkbox--check.nested(id="checked-{{ role.id }}", type="checkbox", name="selectedRoles[]", value="{{ role.id }}", ng-checked="user.roles.indexOf(role.id) > -1", ng-click="toggleSelection(role.id)")
							label.checkbox(for="checked-{{ role.id }}")
								h4.h--no-margin.h--lighter {{ role.name }}
								div {{ role.description }}


			.form-group
				label.col-sm-3.control-label Plan
				.col-sm-7
					ul.list--checkboxes.list--condensed
						li(ng-repeat="plan in plans")
							.radio--lg.radio--lg-twoliner.radio--lg-lighter
								label
									input(type="radio", name="plans", value="{{ plan.name }}", ng-model="user._plan")
									span: h4.h--no-margin.h--lighter {{ plan.name }}
									span
										span(ng-hide="plan.unlimited") {{ plan.credits }} credits per {{ plan.per }}
										span(ng-show="plan.unlimited") Unlimited credits

			div.alert.alert-danger(ng-show="errors.username")
				+icon('warning').shift-up.space-right
				| {{ errors.username }}

			div.alert.alert-danger(ng-show="errors.email")
				+icon('warning').shift-up.space-right
				| {{ errors.email }}

			div.alert.alert-danger(ng-show="errors.roles")
				+icon('warning').shift-up.space-right
				| {{ errors.roles }}

			div.alert.alert-danger(ng-show="error")
				+icon('warning').shift-up.space-right
				| {{ error }}

	.modal-footer
		button.btn.btn-hollow.pull-left(ng-click="$close()") Cancel
		button.btn.btn-default.space-right(ng-click="reset()") Reset
		button.btn.btn-primary(ng-click="save()") Update
