
.text-center

	h3.h--primary.padder-top-3x.padder-bottom-2x So you want to contribute.

	i.icon.icon-vpdb-logo-o.fa-3x

	p.padder-top-2x
		| Great!
		br
		| VPDB is open source and you're welcome to be part of the gang.
		br
		| Here are a few links to get you started.

hr.hr--light.padder-top-3x.padder-bottom-2x

.row
	a.a--lighter.col-sm-4.text-center(href="/api")
		i.fa.fa-gears.fa-2x
		h1.h--primary API
		p Want to integrate VPDB into your app? Check out the API.

	a.a--lighter.col-sm-4.text-center(href="/styleguide")
		i.fa.fa-paint-brush.fa-2x
		h1.h--primary Style Guide
		p Found a quirk in the UI? The style guide is your friend.

	a.a--lighter.col-sm-4.text-center(href="/architecture")
		i.fa.fa-code-fork.fa-2x
		h1.h--primary Code
		p Missing a feature? Clone the repo and start coding.

p.padder-top-3x
