extends ../layout

block root
	- var appname = 'devsite'

block body
	if deployment != 'production'
		.staging-bar
		.staging-bar
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				span.navbar-brand
					a(ui-sref="home")
						i.icon.icon-vpdb-logo-o
						i.icon.icon-vp
						i.icon.icon-db

			ul.nav.navbar-nav
				li(ng-class="{ active: section == 'home' }")
					a(ui-sref="home") Home
				li(ng-class="{ active: section == 'api' }")
					a(href="/api") Api
				li(ng-class="{ active: section == 'styleguide' }")
					a(ui-sref="styleguide.main") Style Guide
				li(ng-class="{ active: section == 'code' }")
					a(href="/code") Code

			ul.nav.navbar-nav.navbar-right
				li
					a(href="/", target="_self")
						i.fa.fa-caret-left.space-right-2x
						span.space-right Back to Site

	.container.container--topmost.styleguide(ng-controller="DevsiteCtrl")
		| <div ui-view></div>

	section.footer
		p
			a(href="https://github.com/freezy/node-vpdb", target="_blank")
				i.fa.fa-github-alt
				| <strong>Fork me</strong> on GitHub