lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

pids
logs
/build
/devsite
/coverage
/data/storage*
/data/gen/games/backglass
/data/gen/games/logo
/gfx/export
/gfx/mockups
/gfx/favicon
/gfx/svg-defs.svg
/vpdb-svg

results
server/config/settings.js
test/coverage

npm-debug.log
node_modules
bower_components

gitinfo.json
raml.json
postman*.json

.restart
.reload
.idea/bashsupport_project.xml
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/modules.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/mongoSettings.xml