@import('nib')

// http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// http://drewbarontini.com/articles/single-responsibility/


.row-data
	margin-bottom 10px
	position relative
	& > label
		margin-left 15px

dl.oneline
	width 100%
	dt
		float left
		font-weight font-weight-normal
		text-transform uppercase
	dd
		text-align right


.col-menu
	h4
		margin-top 20px
		text-transform uppercase


label, h4, h5 // TODO decide what to do
	i.fa, i.icon
		margin-right 6px

.nav.navbar-nav li
	button
		margin-top 10px
		&.btn-pin
			padding-left 14px
	img
		border-radius 20px
		top 4px
		left -35px
		width 40px
		height 40px
		position absolute-


ul.dropdown-menu table
	tr
		transition all animation-short
		td
			padding-left 12px
			padding-top 7px
			padding-bottom 7px
			border-bottom-style solid
			border-bottom-width 1px

			&.ic
				width 20px

			&:last-child
				padding-right 12px
				white-space nowrap
				vertical-align bottom
				text-align right
			p
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				margin 0
				&:first-child
					font-weight font-weight-bold
			i
				transition all animation-short
				cursor pointer
		&.divider-bottom td
			border-bottom-style solid
			border-bottom-width 2px
		&.divider-top td
			border-top-style solid
			border-top-width 2px
		&.divider-none td
			border-bottom none
		&:last-child
			td
				border-bottom none

		&[ng-click] td
			cursor pointer



// semi-transparent layer for dropdown
.dropdown-menu
	border-radius border-radius-small
	&:after
		border-radius border-radius-small
		content ""
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index -1
	& > li
		& > a
			padding 5px 15px
			margin-top 15px
		&:first-child > a
			margin-top 0px
.btn-lg + .dropdown-menu
	border-radius border-radius-large
	&:after
		border-radius border-radius-large


// :form
.form-group label.control-label
	font-size font-size-normal
	text-transform uppercase

// :buttons
.btn
	&.btn-dl > i
		margin-right 1px

	&.dropdown-toggle
		width 40px
	&.btn-comment
		margin-right 15px
		margin-bottom 15px

	&.btn-width-med
		width 124px

	.badge
		margin-left 10px
		margin-right -8px
		margin-top -4px
		vertical-align middle
		font-family font-content
		font-weight font-weight-bold


.btn-group.btn-media
	width 100%
	& > .btn
		padding-left 0
		padding-right 0

.btn-group
	&.btn-group-flex
		display inline-flex
		width 100%

	.btn + .btn, .btn + .btn-group, .btn-group + .btn, .btn-group + .btn-group
		margin-left 2px

// :checkbox
.checkbox > label
	h6
		font-size font-size-normal
		font-weight font-weight-bold
		text-transform uppercase
		margin 3px 0 0
	div
		white-space normal

// :radio
.radio-lg
	cursor default
	input[type=radio]
		display none
		cursor default
		& + span
			cursor pointer
			display block
			font-weight font-weight-bold
			font-size font-size-large
			text-transform uppercase
			margin-left 20px
			transition color animation-short
			&:before
				cursor pointer
				position absolute
				margin-left -31px
				margin-top -2px
				font-size 36px // icon
				font-family icons
				font-style normal
				font-weight normal
				line-height 1
				-webkit-font-smoothing antialiased
				-moz-osx-font-smoothing grayscale
				transition color animation-short
				content "\e617" /* Radio Unchecked */
		&:checked + span
			cursor default
			&::before
				cursor default
				content "\e618" /* Radio Checked */

// :table :panel


.panel
	.panel-content // will be panel-body.
		& > h3
			margin-top 15px
			margin-left 15px
		& > dl
			margin-bottom 10px
		& > hr
			margin-bottom 10px

	.list-group
		width 46%
		float left
		margin-bottom 0
		& + .list-group
			float right
		.list-group-item
			border none
			padding 3px 0
			cursor pointer
			transition color animation-short
			&.active
				font-weight font-weight-bold

// :table panes :compact
.panel-compact
	text-align center
	margin-top 10px

	.img
		border-top-left-radius border-radius-small
		border-top-right-radius border-radius-small

	h3
		text-align center


// :table panes releases (square img)
.panel-mini
	.img-wrapper
		width list-square-width
		float left
		.img
			padding 0
			height list-square-width
			border-radius border-radius-small 0 0 border-radius-small
	.data-wrapper
		margin-left list-square-width + 15px
		h3
			margin-top 10px
			margin-right 10px
		h4
			label.label-version
				margin-bottom -4px

// :table panes :extended
.panel-extended
	&:hover
		transform translateY(-3px) scale(1.01, 1.01)

	.img-wrapper
		width list-sidebar-width
		float left
		.img
			border-top-left-radius border-radius-small
			border-top-right-radius border-radius-small

	h3
		font-size font-size-normal-alt
		font-weight font-weight-normal-alt
		margin-top 10px
		margin-bottom 5px

.panel-small
	border-radius border-radius-large
	margin 15px
	position relative
	.panel-header
		border-radius border-radius-large border-radius-large 0 0
		padding 4px 14px 3px
		i.fa
			margin-left 10px
			cursor pointer
			transition color animation-short
	.panel-content
		padding 15px 15px 5px
		textarea
			margin-bottom 8px
	.panel-footer
		border none
		border-radius 0 0 border-radius-large border-radius-large

.panel-banner
	img
		width 100%
	i.icon-title
		position absolute
		margin-top 0
		cursor default
		& + label
			margin-right 15px
			margin-bottom 15px
			margin-top 0px
			font-size font-size-large-alt
			font-weight font-weight-normal-alt
			strong
				font-weight font-weight-light-alt
		&.icon-williams
			font-size 48px // icon
		&.icon-stern
			font-size 62px // icon
	h3 small
		font-size 80%

	& > .row
		margin 0 0 15px
		& > div
			transition color animation-short
			cursor pointer
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			&:nth-child(even)
				text-align right

	& > button.btn.btn-lg
		width 100%
		border-radius 0 0 border-radius-small border-radius-small


.panel-title
	font-size font-size-normal

.panel-inactive
	height 300px
	text-align center
	padding-top 90px
	i.icon
		font-size 50px
		& + span
			line-height 56px
			margin-left 7px
			vertical-align top

.panel-droppable
	.img
		border-radius border-radius-small


// :modals
.modal-dialog
	overflow hidden
	.modal-content
		border-radius 3px
		.modal-header
			border-radius 3px 3px 0 0
			h3
				margin 3px 5px 0
				strong
					margin-left 2px
					font-weight normal
			img.avatar-details + h3
				margin-left 110px
		.modal-body
			.ident
				margin-left 110px
				& + hr
					margin-top 20px
			h1
				font-family font-content
				font-weight font-weight-thin
				text-transform none
				margin-bottom 15px
				&:first-child
					margin-top 0
			h4
				text-transform uppercase

			.btn.btn-lg + .btn.btn-lg
				margin-left 20px

		.alert
			margin 0 -20px
			padding 5px 20px
			border-radius 0
			text-align center
			& + .alert
				margin-top 10px

		.modal-footer
			border-radius 0 0 3px 3px
			margin-top 0

// :image
.img
	& > .btn.btn-lg // change to btn--sticky-bottom
		width 100%
		bottom -1px
		position absolute
		border-radius 0 0 border-radius-small border-radius-small
	.text-center // "drop here" placeholder - not sure how to name this
		margin-top -50px
		position absolute
		top 50%
		width 100%
		p
			font-weight font-weight-bold
			font-style italic
		i
			font-size 70px


img.avatar-details
	width 100px
	height 100px
	border-radius 50px
	position absolute
	left 15px
	top 15px


.media.media-mini
	margin-top 10px
	padding-bottom 5px
	&.last
		border none !important
	img.media-object
		width 40px
		height 40px
	h4, h5
		margin-top 0
		text-transform none
		font-family font-content
		font-size font-size-normal
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	h4
		font-weight font-weight-bold
	h5
		font-weight font-weight-normal

// :newsfeed
.media-news
	hr
		margin-top 15px
		margin-left 15px
		margin-bottom 0
	.media-body
		& > label
			margin-left 15px
			a
				font-weight font-weight-bold



.spinner-overlay
	position absolute
	padding-top 200px
	top 0
	left 0
	width 100%
	height 100%
	z-index 10
	background-color rgba(0,0,0,0.5)
	transition all 1s

// loading spinner
.spinner
	margin 6em auto
	font-size 10px
	position relative
	text-indent -9999em
	border-top 1.1em solid rgba(255, 255, 255, 0.2)
	border-right 1.1em solid rgba(255, 255, 255, 0.2)
	border-bottom 1.1em solid rgba(255, 255, 255, 0.2)
	border-left 1.1em solid #ffffff
	animation load8 2s infinite linear
	&, &:after
		border-radius: 50%;
		width: 10em;
		height: 10em;
@keyframes load8
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg);

// :lists
dl.dl-centered
	& > dt
		width 49%
	& > dd
		margin-left 51%


// :staging indicator
.staging-bar
	position fixed
	height 100%
	width 15px
	z-index 9999
	&:nth-child(1)
		left 0
	&:nth-child(2)
		right 0


@media (max-width: 768px)
	.container.container-topmost
		padding-top 135px
		border-radius 0
	.row-fullheight
		border-radius 0
		> div
			margin-bottom 0
			padding-top 1px
			padding-bottom 10px

	.label-download
		margin-top 10px
		margin-bottom 8px

	.panel-banner > .row > div:nth-child(even)
		text-align left