color-black = black
color-background = #211f1d
color-darkest = rgba(255, 255, 255, 0.06)
color-darker = rgba(255, 255, 255, 0.15)
color-dark = rgba(255, 255, 255, 0.2)
color-light = rgba(255, 255, 255, 0.25)
color-lighter = rgba(255, 255, 255, 0.5)
color-primary = #ec843d

font-header = langdon
font-content = 'Raleway', sans-serif

border-radius-small = 2px;
border-radius-large = 8px;

font-weight-thin = 100
_font-weight-extralight = 200
_font-weight-light = 300
font-weight-normal = 400
_font-weight-medium = 500
_font-weight-semibold = 600
font-weight-bold = 700
_font-weight-extrabold = 800
_font-weight-ultrabold = 900

animation-short = 200ms
animation-shorter = 100ms

// background
body
  background-image url('images/background_outer.png')
  color color-lighter
  font-family font-content
  font-weight font-weight-normal
  font-size 16px
  -webkit-font-smoothing antialiased

.navbar-default
  background-color rgba(0, 0, 0, 0.2)
  border-radius 0
  border-color color-primary

.container.container-topmost
  background-image url('/images/background.png')
  padding-top 50px
  margin-bottom 30px
  border-bottom-right-radius border-radius-large
  border-bottom-left-radius border-radius-large
  box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.5)

.col-main
  padding-left 30px
  padding-right 30px
.col-menu
  background-color color-darkest
  padding-bottom 25px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

.row-fullheight
  overflow hidden
  border-bottom-right-radius border-radius-large
  border-bottom-left-radius border-radius-large
  > div
    margin-bottom -99999px
    padding-bottom 99999px
.row-data
  margin-bottom 10px

// :headers
h1
  color color-primary
  font-family font-header
  text-transform lowercase
h2
  color color-light
  font-family font-header
  text-transform uppercase

h1, h2
  font-size 36px
  margin-bottom 10px
  margin-top 20px
h3
  color color-light
  font-size 28px
  font-family font-header
  text-transform uppercase

// :hr
hr
  margin-top 10px
  border-color color-light
  border-width 2px

// :input
.form-control
  height 28px
  box-shadow none
  color color-lighter
  background-color color-darker
  padding-left 3px
  border-radius 14px
  border none
  &:focus
    box-shadow none
.input-group-addon
  color color-light
  background-color color-darker
  padding-right 3px
  border-radius 14px
  border none
  i.fa-search
    margin-left -2px
    margin-top 2px

// :view types
ul.viewtype-panel
    float right
    margin-top -34px
    position relative
    list-style none
    li
      display inline
      margin-left 15px
      &.active i
        color #aaa
        text-shadow 0 0 3px black
        cursor default
      i
        color color-light
        font-size 18px
        cursor pointer
        transition all animation-short
        &:hover
          color #aaa
          text-shadow 0 0 3px black


// :table panes
.panel-table
  border-radius border-radius-small
  background-color color-darkest
  box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.3)

  .img
    position relative
    width 100%
    height 0
    padding-bottom 80% // % of width, defines aspect ratio
    background-repeat no-repeat
    background-position center center
    background-size cover

  h3
    font-size 26px
    font-family font-header
    text-transform uppercase
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  label
    font-weight font-weight-normal
    margin-bottom 1px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    &.block
      display block
    i.fa
      margin-right 10px
    span
      margin-right 10px
      &.pipe
        margin-right 10px
        &:after
          content '|'
          margin-left 10px
          color color-light
        &:last-child:after
          content ''

// :table panes :compact
.panel-table-compact
  text-align center
  margin-top 10px

  .img
    border-top-left-radius border-radius-small
    border-top-right-radius border-radius-small

  h3
    text-align center
  label
    font-weight font-weight-normal
    margin-bottom 15px

// :table panes :extended
.panel-table-extended
  &:hover
    transform translateY(-1px) scale(1.01, 1.01)

  .img-wrapper
    width 170px
    float left
    .img
      border-top-left-radius border-radius-small
      border-top-right-radius border-radius-small
  .data-wrapper
    margin-left 185px

  h3
    font-size 32px
    margin-top 10px
    margin-bottom 5px

  .ratingbox
    position absolute
    right 10px
    top -5px
    .ratingbox-rating
      display inline
      font-size 50px
      font-weight font-weight-thin
    .ratingbox-right
      display inline
      position relative
    .votes
      display inline-block
      margin-left 5px
      width 80px
    .stars
      position absolute
      left 4px
      top -24px
      white-space nowrap

// common to both
.panel-table-compact, .panel-table-extended
  cursor pointer
  transition all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
  transform translateY(0) scale(1, 1)
  &:hover
    box-shadow 0 5px 9px rgba(0,0,0,0.5)
    transform translateY(-5px) scale(1.03, 1.03)

// :details view
h1 + h3.pull-right
  margin-top: -42px;
.panel-table-detailed
  .img-wrapper
    margin 15px
    width 170px
    float left
    .img
      padding-bottom 176%
      border-radius border-radius-small
  .data-wrapper
    margin-left 200px
    h1
      font-size 26px
      font-family font-content
      font-weight font-weight-bold
      text-transform none
      margin-bottom 0

// :table list
.table-wrapper
  margin-left 15px
  margin-right 15px
  table.tables
    width 100%

    tr
      &:nth-child(odd) > td
        background-color color-darkest
      &:hover
        td
          color color-primary
      td
        cursor pointer
        transition all animation-shorter
        padding 5px 0
        &.name
          padding-left 10px
          font-weight font-weight-bold

// :selectable list
ul.selectable
  padding-left 20px
  > li
    list-style-type none
    &.selected
      color color-primary
      font-weight font-weight-bold
      margin-left -20px
      &:before
        display inline-block
        width 20px
        font-family FontAwesome
        font-size 20px
        font-style normal
        font-weight normal
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
      &.desc:before
        content '\f107'
      &.asc:before
        content '\f106'


// :collapsable
.collapsable
  margin-top 15px
  .collapsable-header
    width 100%
    background-color color-darker
    padding 5px 0 3px 6px
    border-top-left-radius border-radius-large
    border-top-right-radius border-radius-large
    &.collapsed
      border-bottom-left-radius border-radius-large
      border-bottom-right-radius border-radius-large
    & > h1
      color color-lighter
      font-family font-content
      font-weight font-weight-bold
      font-size 18px
      text-transform uppercase
      display inline
      margin 0

  .collapsable-content
    width 100%
    padding 8px 8px 5px 8px
    background-color color-darkest
    border-bottom-left-radius border-radius-large
    border-bottom-right-radius border-radius-large

  .collapse-toggle
     margin-right 9px

// :accordion
accordion
  & > .panel-group
    & > .panel
      border none
      margin-right 15px
      background-color color-darkest
      border-radius 0
      & > .panel-heading
        padding 7px 9px
        border-radius 0
        background-color color-darkest
        border-bottom solid 1px color-darker
        h4
          color color-lighter
          text-transform uppercase
          font-weight font-weight-bold
      & > .panel-collapse
        & > .panel-body
          border-top none
          background-color transparent
      & + .panel
        margin-top 0
    & > .panel:first-child
      border-top-left-radius border-radius-large
      border-top-right-radius border-radius-large
      & > .panel-heading
        border-top-left-radius border-radius-large
        border-top-right-radius border-radius-large
    & > .panel:last-child
      border-bottom-left-radius border-radius-large
      border-bottom-right-radius border-radius-large
      & > .panel-heading
        border-bottom none