@import('nib')
@import('color-def')

body.theme-light
	background-image url('/images/background_white_outer.png')

.theme-light
	color color-lighter-inv
	label
		span
			&.pipe
				&:after
					color color-light-inv
		&.label-name
			a
				color color-lighter-inv
				&:hover
					color color-lightest-inv
		&.label-version
			background-color color-lighter-inv
			color white
	textarea
		background-color color-darkest-inv
	hr
		border-color color-darker-inv
	a
		color color-light-inv
		&:hover
			color color-lighter-inv
	h1, h5
		color color-primary
	h2, h3
		color color-light-inv

	.col-menu h4
		color color-primary-inv

	img, .img
		&.fade-after-load
			background-color color-darkest-inv

	.btn
		&.btn-default, &.btn-primary
			color color-light-inv
			background-color color-dark-inv
			&:hover
				color color-lighter-inv
				background-color color-light-inv
				box-shadow 0 0 3px 1px rgba(black, 0.3)
			.badge
				background-color color-light-inv
				color color-lighter
		&.btn-primary
			color color-background-inv
			background-color color-primary
			&:hover
				color color-background-inv
				background-color color-primary-light
				box-shadow 0 0 3px 1px rgba(black, 0.3)


	// :table
	table.table
		tr > th
			color color-lighter-inv
		&.table-striped tr
			&:nth-child(odd) > td
				background-color color-dark
				&.nostripe
					background-color transparent
		&.table-selectable tr
			&:hover
				td
					color color-lightest-inv

	.container.container-topmost
		background-image url('/images/background_white.png')
		box-shadow 0 0 5px 1px rgba(black, 0.1)

	// :navbar
	.navbar-default
		background-color color-navbar-inv
		border-color color-primary

	.navbar-brand
		.icon
			&.icon-vpdb-logo-o
				color color-primary
			&.icon-vp
				color color-primary
			&.icon-db
				color color-lighter-inv
			&.icon-vpdb-logo-o, &.icon-vp, &.icon-db
				text-shadow 0 0 15px rgba(white, 0.75)
		a
			&:hover
				.icon-vpdb-logo-o
					color color-primary-dark
				.icon-vp
					color color-primary-dark
				.icon-db
					color color-lightest-inv
	.nav.navbar-nav li
		a
			background-color transparent
			color color-lighter-inv
			&:hover
				color color-lightest-inv
		&.active > a
			background-color color-dark
			color color-primary
		.dropdown-menu
			background-color color-navbar-inv
			border-left-color color-primary
			border-right-color color-primary
			border-bottom-color color-primary
			box-shadow 0 1px 13px color-darkest-inv

	.navbar-default .navbar-nav > .open
		& > a, & > a:hover, & > a:focus
			background-color transparent

	ul.dropdown-menu table
		tr
			td
				border-bottom-color color-darker-inv
				i:hover
					color color-lightest-inv
			&.divider-bottom td
				border-bottom-color color-dark-inv
			&.divider-top td
				border-top-color color-dark-inv
			&[ng-click]:hover
				background-color color-darker-inv
				color color-lightest-inv

	.btn-group.open .dropdown-menu
		background-image url('/images/background.png')
		&:after
			background-color color-dark-inv
		& > li > a
			color color-lighter-inv
			&:hover
				background-color color-darker-inv
				color color-lightest-inv
		.divider
			background-color color-light-inv
	.btn-lg + .dropdown-menu:after
		background-color color-dark-inv + color-darkest-inv

	.modal-content
		background-image url('/images/background_white.png')
		color color-lightest

	// :accordion
	accordion
		& > .panel-group
			& > .panel
				background-color color-light
				& > .panel-heading
					background-color color-light
					h4
						color color-lightish-inv
					a:hover
						color color-lightish-inv

	// :tabs
	.tabbable
		ul.nav-tabs li
			&.active
				a
					color color-lighter-inv
					background-color rgba(black, 0.11)
				.panel-triangle
					border-color transparent #454442 transparent transparent
			.panel-triangle
				border-color transparent #383735 transparent transparent
			a
				color color-light-inv
				background-color color-darkest-inv
				&:hover
					color color-lighter-inv
		.tab-content
			background-color rgba(white, 0.11)
		label.label-small
			color color-light-inv
			a
				color color-lighter-inv
				&:hover
					color color-lightest-inv


	section.footer
		color color-lighter
		a
			color color-lighter
			&:hover
				color color-lightest

	// :selectable list
	ul.selectable > li
		&:hover
			color color-lightest-inv
		&.selected
			color color-primary
			&:hover
				color color-primary-light

	ul.viewtype-panel
		li
			&.active i
				color #aaa
				text-shadow 0 0 3px white
			i
				color color-light-inv
				&:hover
					color #aaa
					text-shadow 0 0 3px white

	// :avatar
	.media-avatar, .thumbnail > img.media-avatar
		background-color color-darker
		div.media-avatar:before
			color color-darker-inv
	.thumbnail.thumbnail-avatar
		background-color transparent
		.caption
			h1
				color color-lighter-inv
			label
				color color-lighter-inv

	// more :media
	.media.media-mini
		border-bottom solid 2px color-darkest-inv
		h4, h5
			color color-lighter-inv

	// :rating :star
	.ratingbox
		.ratingbox-left .ratingbox-rating.rating-user
			color color-primary
		.rating-user
			.star-on
				color color-primary
			.star-off
				color color-darker-inv
		.rating-avg
			.star-on
				color color-lighter
			.star-off
				color color-darker-inv

	// :newsfeed
	.media-news
		hr
			border-color color-darkest-inv
		.media-body
			& > label
				a
					color color-lighter-inv
					&:hover
						color color-lightest-inv

	// 404 page
	.center-middle-404
		i.icon-vpdb-logo-o
			color color-dark-inv
		h1
			color color-lighter-inv
		p
			color color-lighter-inv
			code
				color color-lightest-inv
				background-color color-darker-inv
		a
			color color-light-inv
			&:hover
				color color-lighter-inv

	// :markdown
	.markdown
		h1, h2
			color color-lightest-inv
		h3, h4, h5
			color color-lighter-inv
		a
			color color-lighter-inv
			&:hover
				color color-lightest-inv
		code
			background-color color-light-inv
			color white
		pre code
			background-color transparent
			color inherit
		blockquote
			border-color color-light-inv
		pre
			color color-lighter-inv
			border-color color-darkest-inv
			background-color transparent
			background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")


	::-webkit-scrollbar
		background color-background-inv
	::-webkit-scrollbar-thumb
		background color-darker-inv
		-webkit-box-shadow 0px 1px 2px rgba(black, 0.75)
	::-webkit-scrollbar-corner
		background color-background-inv
	::selection
		color rgba(white,0.9)
		background color-primary
	::-moz-selection
		color rgba(white,0.9)
		background color-primary

	.panel
		.list-group-item
			color color-lightish-inv
			background-color transparent
			&:hover
				color color-lightest-inv
			&.active
				color color-primary
				&:hover
					color color-primary-light
	user:hover
		color color-lightest-inv

	.staging-bar
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2VjODQzZCI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC43NSkiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC43NSkiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")

	// DARK COLUMN
	.bg-dark
		background-color color-darkest-inv

		.form-control
			color color-lighter-inv
			background-color color-lighter

		.input-group-addon
			color color-dark-inv
			background-color color-lighter

.bg-lightest

	h3
		color color-lightish-inv
	h4
		color color-lighter-inv

	a
		color color-lighter-inv
		&:hover
			color color-lightest-inv
	label
		color color-lightish-inv

	hr
		border-color color-darkest-inv

	.modal-header
		background-color rgba(black, 0.1)
		box-shadow inset 0px 1px 3px 0px rgba(white, 0.5)
	.modal-body
		h1
			color color-lightest-inv
		.alert-danger
			color color-lightest
			background-color color-danger
		.alert-success
			color color-lightest
			background-color color-success
	.modal-footer
		background-color rgba(black, 0.1)

	.btn.btn-default
		color rgba(white, 0.6)
		background-color rgba(black, 0.25)
		&:hover
			color rgba(white, 0.7)
			background-color rgba(black, 0.35)
			box-shadow 0 0 10px 1px rgba(black, 0.1)

	.btn.btn-primary
		color rgba(white, 0.7)
		background-color rgba(black, 0.35)
		&:hover
			color rgba(white, 0.8)
			background-color rgba(black, 0.45)
			box-shadow 0 0 10px 1px rgba(black, 0.1)

	.form-group.error
		.form-control
			border-color color-danger
		label
			color color-danger
	.form-control
		box-shadow none
		color color-lighter-inv
		background-color color-lighter
		&:focus
			box-shadow none
		&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
			color red

	.tabbable
		ul.nav-tabs
			li
				&.active
					a
						color color-lighter-inv
						background-color rgba(black, 0.11)
				.panel-triangle
					border-color transparent #383735 transparent transparent
				a
					color color-light-inv
					background-color color-darkest-inv
					&:hover
						color color-lighter-inv
		.tab-content
			background-color rgba(black, 0.11)
		label.label-small
			color color-lighter-inv
			a
				font-weight 700
				color color-lighter-inv
				&:hover
					color color-lightest-inv

	textarea
		color color-lighter-inv
		border-color color-darkest-inv
		background-color rgba(black, 0.05)
		&:focus
			background-color rgba(black, 0.08)

	.markdown
		color color-lighter-inv
		h1, h2
			color color-lightest-inv
		h3, h4, h5
			color color-lighter-inv
		a
			color color-lighter-inv
			&:hover
				color color-lightest-inv
		code
			background-color color-light-inv
			color black
		blockquote
			border-color color-light-inv
		pre
			color color-lighter-inv
			border-color color-darkest-inv
			background-color transparent
			background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")


