// Alerts
//
// Styleguide 18


// Full page alerts
//
// Span over the whole width without any padding.
//
// Markup:
// <div class="alert {$modifiers}">
//   <i class="fa fa-exclamation-triangle space-right"></i>
//   Hello, I'm an alert!
// </div>
//
// .alert-danger  - Danger
// .alert-success - Success
//
// Styleguide 18.1
.alert
	text-indent -15px
	margin 10px -30px 0
	padding-top 5px
	padding-bottom 5px
	padding-left 60px
	padding-right 15px
	border-radius 0
	border none

	> .svg-icon
		margin-left -20px



// Inverted Alerts
//
// Have padding and transparentish background.
//
// Markup:
// <div class="alert alert--inverted {$modifiers}">
//   <i class="fa fa-exclamation-triangle space-right"></i>
//   Hello, I'm an alert!
// </div>
//
// .alert-danger  - Danger
// .alert-warning - Warning
// .alert-success - Success
//
// Styleguide 18.2
.alert--inverted
	margin 10px -15px 0
	padding-top 5px
	padding-bottom 5px
	padding-left 45px
	padding-right 15px
	border-style solid
	border-width 2px

.alert--shifted-up
	margin-top -5px
	margin-bottom 20px

.alert--shifted-up-2x
	margin-top -20px
	margin-bottom 20px

.alert--no-bottom-margin
	margin-bottom -20px

// Alerts in modals
.modal-dialog
	.alert
		margin 0 -20px
		padding 5px 35px // bumped from 20 to 35 because of login box message padding.
		text-align center
		& + .alert
			margin-top 10px

		&.text-left
			padding-left 50px
			text-align left

// Fix margin on main column
.col--main > .alert--inverted
	margin-left 0
	margin-right 0

.alert--aligned
	text-align left
	padding-left 45px
	padding-top 10px
	padding-bottom 10px
	position relative
	text-indent 0
	> .svg-icon
		position absolute
		top 10px
		left 30px

.alert--rounded
	border-radius $border-radius-larger
	margin 10px 0 0

.panel--rect-block > .alert
	margin-left 0
	margin-right 0