
.documentation .apidoc-method-wrapper .tabset--transparent > .nav-tabs
	margin-top 0

.apidoc-method-wrapper
	margin-left -30px
	margin-right -30px

.apidoc-method
	cursor pointer
	transition color $animation-short
	margin-top 5px
	margin-bottom 10px
	padding-left 30px
	padding-right 30px

	> p
		display inline

.icon-badge
	font-size 23px
	line-height 26px
	vertical-align top