// Badges
//
// Styleguide 20


// Removable Badges
//
// Small items you can only remove, not edit.
//
// Markup:
// <div class="{$modifiers}">
//   I'm small! <span class="a">&times;</span>
// </div>
//
// .badge        - Default badge
//
// Styleguide 20.1
.badge
	font-weight $font-weight-normal
	font-size $font-size-normal
	font-family $font-content
	border-radius $border-radius-large
	padding-bottom 0
	padding-left 10px
	span
		font-size 26px
		padding-left 5px
		vertical-align text-bottom

// Tag Labels
//
// For badges that are tags.
//
// Markup:
// <div class="badge {$modifiers}">
//   Buy me!
// </div>
//
// badge--tag        - Tag
//
// Styleguide 20.2
.badge--tag

	padding-left 5px
	padding-bottom 5px
	padding-right 10px
	padding-top 5px
	margin-left 20px
	margin-bottom 5px
	margin-right 5px
	border-top-right-radius $border-radius-large
	border-bottom-right-radius $border-radius-large
	border-top-left-radius 0
	border-bottom-left-radius 0
	&:before
		background-repeat no-repeat
		content " "
		height 30px
		margin-left -23px
		margin-top -5px
		position absolute
		width 30px


// Small Badge
//
// Looks good inline.
//
// Markup:
// <p>This is a <span class="badge {$modifiers}">required</span> attribute.</p>
//
// badge--small        - Small Badge
//
// Styleguide 20.3
.badge--small
	font-size $font-size-normal * 0.8
	padding-top 4px
	padding-bottom 2px
	padding-left 5px
	padding-right 5px
	text-transform uppercase
	border-radius $border-radius-small

	&.badge--tag:before
		height 22px
		margin-top -4px
		margin-left -19px

// APIDoc verb
//
// Verb in the APIDoc, like GET, POST, PUT etc
//
// Markup:
// <div class="badge {$modifiers} badge--verb--get">GET</div>
// <div class="badge {$modifiers} badge--verb--post">POST</div>
// <div class="badge {$modifiers} badge--verb--put">PUT</div>
// <div class="badge {$modifiers} badge--verb--delete">DELETE</div>
// <div class="badge {$modifiers} badge--verb--patch">PATCH</div>
// <div class="clearfix"></div>
//
// badge--verb - HTTP Verb
//
// Styleguide 20.4
.badge--verb
	float left
	width 100px
	margin-right 15px
	padding-top 5px
	padding-bottom 5px
	font-weight $font-weight-bold
	text-transform uppercase
	border-radius $border-radius-small
	transition background-color $animation-short


// The Top 10/100/300 badges
.top-badge
	.top-block
		display inline-block
		margin-top 8px
		margin-bottom 10px
		margin-left -3px
		margin-right -3px
		transition color $animation-short
		.top-title
			font-size $font-size-smallest
			text-transform uppercase
			line-height 6px
		.top-how-many
			font-size $font-size-smaller
			font-weight $font-weight-bold
			line-height 18px
		.top-rank
			font-size $font-size-small
			line-height 15px
	.svg-icon
		height 50px
		width 30px
		margin-top -30px

// Release verified badges
table > tbody > tr > td.validation-badge
	padding-top 5px
	.svg-icon
		height 50px
		width: 32px

	&.unknown a
		.svg-icon
			fill $color-light
		&:hover
			.svg-icon
				fill $color-lightish
	&.verified a
		.svg-icon
			fill $color-primary
		&:hover
			.svg-icon
				fill $color-primary-light
	&.playable a
		.svg-icon
			fill $color-lighter
		&:hover
			.svg-icon
				fill $color-lightest
	&.broken a
		.svg-icon
			fill $color-primary
		&:hover
			.svg-icon
				fill $color-primary-light

h3.hr--no-margin > .validation-badge
	top -3px
	left -5px
	position relative
	width 40px
	height 60px