//
// Dropdown menus
// --------------------------------------------------

// Typography
.dropdown-menu
	font-size $font-size-small
	> li > a
		font-weight $font-weight-normal

// In navbar
.navbar-nav > li .dropdown-menu
	padding 	5px
	margin-top 1px
	border-left solid 1px
	border-right solid 1px
	border-bottom solid 1px
