// :flip panel http://aerotwist.com/tutorials/protip-nobody-expects-3d/
$flipbox-translateY = -2px
$flipbox-shadow-color = rgba(0,0,0,0.3)
$flipbox-duration = 650ms

.flipbox-back
	border 1px solid black

// flip boxes (toclean)
.flipbox-backglass
	height 250px
	hr
		margin 0 15px
	.oneline
		text-align center
		margin 5px 0
	.morelines
		margin 5px 15px

	.backglass-description
		padding 5px 5px 9px 15px
		height 110px
		overflow hidden
		position relative
		line-height 100%
		text-align left

	footer
		position absolute
		bottom 8px
		width 100%
		.third
			width 32%
			display inline-table
			padding-top 5px
			border-right-width 2px
			border-right-style solid
			text-align center
			&:last-child
				border none


.flipbox
	position relative
	perspective 1000px
	width 100%

	.flipbox-front, .flipbox-back
		position absolute
		width 100%
		backface-visibility hidden
		cursor pointer
		&:hover
			box-shadow 0 5px 9px $flipbox-shadow-color
			transform translateY($flipbox-translateY) scale(1.02)

	&:not(.active)
		.flipbox-front, .flipbox-back
			transition transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)

	.flipbox-front
		transform translateY(0) scale(1)
		&:hover
			transform translateY($flipbox-translateY) scale(1.02)

	.flipbox-back
		transform translateY(0) scale(1) rotateY(180deg)
		&:hover
			transform translateY($flipbox-translateY) scale(1.02) rotateY(180deg)

	&.active
		.flipbox-front, .flipbox-front:after, .flipbox-back:after
			animation front $flipbox-duration 0s 1 linear forwards

		.flipbox-back
			animation back $flipbox-duration 0s 1 linear forwards

		.flipbox-front:after, .flipbox-back:after
			animation-name shadow

		.flipbox-front, .flipbox-back, .flipbox-front:after, .flipbox-back:after
			animation-play-state running

	&.reverse
		.flipbox-front
			transform scale(1) rotateY(180deg)
			animation-direction reverse

		.flipbox-back
			transform scale(1) rotateY(360deg)
			animation-direction reverse
			&:hover
				transform translateY($flipbox-translateY) scale(1.02) rotateY(360deg)

// :flip animation
@keyframes back
	0%
		box-shadow 0 5px 9px $flipbox-shadow-color
		transform scale(1.02) rotateY(180deg) translateY($flipbox-translateY)
	10%
		box-shadow 0px 6.0972799999999998px 10.0972799999999998px $flipbox-shadow-color
		transform scale(1.020768) rotateY(180deg) translateY($flipbox-translateY)
	20%
		box-shadow 0px 9.112960000000001px 13.112960000000001px $flipbox-shadow-color
		transform scale(1.024576) rotateY(180deg) translateY($flipbox-translateY)
	30%
		box-shadow 0px 16.88704px 16.88704px $flipbox-shadow-color
		transform scale(1.125424) rotateY(180.17135717260666deg) translateY($flipbox-translateY)
	40%
		box-shadow 0px 19.90272px 19.90272px $flipbox-shadow-color
		transform scale(1.149232) rotateY(185.48342952341287deg) translateY($flipbox-translateY)
	50%
		box-shadow 0px 20px 20px $flipbox-shadow-color
		transform scale(1.15) rotateY(221.6397929434164deg) translateY($flipbox-translateY)
	60%
		box-shadow 0px 19.90272px 19.90272px $flipbox-shadow-color
		transform scale(1.149232) rotateY(318.3602070565836deg) translateY($flipbox-translateY)
	70%
		box-shadow 0px 16.887040000000006px 16.887040000000006px $flipbox-shadow-color
		transform scale(1.125424) rotateY(354.51657047658716deg) translateY($flipbox-translateY)
	80%
		box-shadow 0px 9.112959999999997px 13.112959999999997px $flipbox-shadow-color
		transform scale(1.024576) rotateY(359.8286428273933deg) translateY($flipbox-translateY)
	90%
		box-shadow 0px 6.0972799999999998px 10.0972799999999998px $flipbox-shadow-color
		transform scale(1.020768) rotateY(360deg) translateY($flipbox-translateY)
	100%
		box-shadow 0 5px 9px $flipbox-shadow-color
		transform scale(1.02) rotateY(360deg) translateY($flipbox-translateY)

@keyframes front
	0%
		box-shadow 0 5px 9px $flipbox-shadow-color
		transform scale(1.02) rotateY(0deg) translateY($flipbox-translateY)
	10%
		box-shadow 0px 6.0972799999999998px 10.0972799999999998px $flipbox-shadow-color
		transform scale(1.020768) rotateY(0deg) translateY($flipbox-translateY)
	20%
		box-shadow 0px 9.112960000000001px 13.112960000000001px $flipbox-shadow-color
		transform scale(1.024576) rotateY(0deg) translateY($flipbox-translateY)
	30%
		box-shadow 0px 16.88704px 16.88704px $flipbox-shadow-color
		transform scale(1.125424) rotateY(0.17135717260665195deg) translateY($flipbox-translateY)
	40%
		box-shadow 0px 19.90272px 19.90272px $flipbox-shadow-color
		transform scale(1.149232) rotateY(5.4834295234128625deg) translateY($flipbox-translateY)
	50%
		box-shadow 0px 20px 20px $flipbox-shadow-color
		transform scale(1.15) rotateY(41.639792943416424deg) translateY($flipbox-translateY)
	60%
		box-shadow 0px 19.90272px 19.90272px $flipbox-shadow-color
		transform scale(1.149232) rotateY(138.36020705658356deg) translateY($flipbox-translateY)
	70%
		box-shadow 0px 16.887040000000006px 16.887040000000006px $flipbox-shadow-color
		transform scale(1.125424) rotateY(174.51657047658713deg) translateY($flipbox-translateY)
	80%
		box-shadow 0px 9.112959999999997px 13.112959999999997px $flipbox-shadow-color
		transform scale(1.024576) rotateY(179.82864282739334deg) translateY($flipbox-translateY)
	90%
		box-shadow 0px 6.0972799999999998px 10.0972799999999998px $flipbox-shadow-color
		transform scale(1.020768) rotateY(180deg) translateY($flipbox-translateY)
	100%
		box-shadow 0 5px 9px $flipbox-shadow-color
		transform scale(1.02) rotateY(180deg) translateY($flipbox-translateY)

