@font-face {
	font-family: 'langdon';
	src: url('/fonts/langdon-webfont.eot');
	src: url('/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/langdon-webfont.woff') format('woff'),
	url('/fonts/langdon-webfont.ttf') format('truetype'),
	url('/fonts/langdon-webfont.svg#langdonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}