@font-face {
	font-family: 'langdon';
	src: url('/fonts/langdon-webfont.eot');
	src: url('/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/langdon-webfont.woff') format('woff'),
	url('/fonts/langdon-webfont.ttf') format('truetype'),
	url('/fonts/langdon-webfont.svg#langdonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:url('/fonts/icons.eot?-8xzwie');
	src:url('/fonts/icons.svg?-8xzwie#icons') format('svg'),
	url('/fonts/icons.eot?#iefix-8xzwie') format('embedded-opentype'),
	url('/fonts/icons.woff?-8xzwie') format('woff'),
	url('/fonts/icons.ttf?-8xzwie') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.glyphicon {
	font-family: FontAwesome;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-crown:before {
	content: "\21";
}
.icon-ext:before {
	content: "\22";
}
.icon-ext-audio:before {
	content: "\23";
}
.icon-ext-code:before {
	content: "\24";
}
.icon-ext-image:before {
	content: "\25";
}
.icon-ext-txt:before {
	content: "\26";
}
.icon-ext-video:before {
	content: "\27";
}
.icon-ext-vpt:before {
	content: "\28";
}
.icon-ext-vpx:before {
	content: "\29";
}
.icon-ext-zip:before {
	content: "\2a";
}
.icon-markdown:before {
	content: "\2b";
}
.icon-markdown-o:before {
	content: "\2c";
}
.icon-vpf-short:before {
	content: "\2d";
}
.icon-vpf-logo:before {
	content: "\2e";
}
.icon-vpf:before {
	content: "\2f";
}
.icon-ipdb:before {
	content: "\30";
}
.icon-checkbox-unchecked:before {
	content: "\31";
}
.icon-checkbox-checked:before {
	content: "\32";
}
.icon-vpdb-logo-o:before {
	content: "\33";
}
.icon-vpdb-logo:before {
	content: "\34";
}
.icon-gameex-text:before {
	content: "\35";
}
.icon-gameex:before {
	content: "\36";
}
.icon-pin-on:before {
	content: "\37";
}
.icon-pin-off:before {
	content: "\38";
}
.icon-bally:before {
	content: "\39";
}
.icon-dataeast:before {
	content: "\3a";
}
.icon-williams:before {
	content: "\3b";
}
.icon-stern-old:before {
	content: "\3c";
}
.icon-stern:before {
	content: "\3d";
}
.icon-sega:before {
	content: "\3e";
}
.icon-midway:before {
	content: "\3f";
}
.icon-gottlieb:before {
	content: "\40";
}
.icon-capcom:before {
	content: "\41";
}
.icon-vpdb:before {
	content: "\42";
}
.icon-vp:before {
	content: "\43";
}
.icon-th-list-list:before {
	content: "\44";
}
.icon-db:before {
	content: "\45";
}
.icon-moon:before {
	content: "\46";
}
.icon-trash:before {
	content: "\47";
}
.icon-package:before {
	content: "\48";
}
.icon-user:before {
	content: "\49";
}
.icon-globe:before {
	content: "\4a";
}
.icon-exit:before {
	content: "\4b";
}
.icon-arrow-up:before {
	content: "\4c";
}
.icon-arrow-right:before {
	content: "\4d";
}
.icon-arrow-down:before {
	content: "\4e";
}
.icon-arrow-left:before {
	content: "\4f";
}
.icon-diamond:before {
	content: "\50";
}
.icon-badge:before {
	content: "\51";
}
.icon-badge2:before {
	content: "\52";
}
