// Forms
//
// Styleguide 5


// Text Input
//
// Those are basically all `<input>`, `<textarea>` and `<select>` elements
//
// Markup:
// <input type="text" placeholder="Type something!" class="{$modifiers}"/><br>
// <textarea class="{$modifiers}">Text goes here</textarea>
//
// .form-control          - Plain text boxes
// .form-control.input-lg - Large input boxes
//
// Styleguide 5.1
.form-control
	border-radius $border-radius-small
	border-color transparent
	border-style none
	box-shadow none
	font-size $font-size-normal
	font-weight $font-weight-normal
	transition background-color $animation-short
	&:focus
		box-shadow none
	&[disabled="disabled"]
		cursor default
select.form-control
	padding 0 5px
	border 0px
	outline 0px

// Large input box
.input-lg
	border-radius $border-radius-large
	padding-left 12px
	padding-right 12px

// Input box within a header (for inline editing)
h2 .form-control
	@extend h2
	height 50px

// Search Box
//
// Search box gets special treatment with rounded corners.
//
// Markup:
// <div class="input-group input-group-addon--search">
//   <span class="input-group-addon">
//     <i class="fa fa-search"></i>
//   </span>
//   <input class="form-control {$modifiers}" type="text" placeholder="Search">
// </div>
//
// .input--search - Search Box with addon icon
//
// Styleguide 5.1.1
.input--search
	height 28px
	padding-left 3px
	padding-top 0
	padding-bottom 0
	border-radius 14px
	border none
// Addon
.input-group-addon
	border none
	border-radius $border-radius-small
	transition background-color $animation-short
	font-size $font-size-normal
.input-group-addon--search
	padding-right 3px
	border-radius 14px


// Input Group
//
// One example with a vanilla and button addon
//
// Markup:
// <div class="{$modifiers}">
//   <span class="input-group-addon">
//     <i class="fa fa-info"></i>
//   </span>
//   <input class="form-control" type="text" placeholder="Enter something!">
//   <span class="input-group-btn">
//     <button class="btn btn-default" type="button">OK</button>
//   </span>
// </div>
//
// .input-group - Search Box with addon icon
//
// Styleguide 5.1.2
.input-group
	> .input-group-addon
		padding 0 10px
	> .form-control:nth-child(2)
		padding-left 0
	> .input-group-btn .btn
		margin-left 0
		padding 0 10px
		height 34px


// Text Area
//
// Different text area stylings
//
// Markup:
// <textarea class="form-control {$modifiers}">Text goes here</textarea>
//
// .textarea--full - Full width
//
// Styleguide 5.1.3
textarea
	border none
	resize vertical
	&:focus
		outline none

.textarea--full
	width 100%
	height 80px
	padding 5px
	margin 0
	resize none
	border none
	border-radius $border-radius-small


// Radio Buttons
//
// Styled radios.
//
// Styleguide 5.2


// Huge custom buttons
//
// Markup:
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno" checked>
//     <span>Yeah</span>
//   </label>
// </div>
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno">
//     <span>Nope</span>
//   </label>
// </div>
//
// .radio--lg - Large buttons
//
// Styleguide 5.2.1
$radio--lg-spacing = 40px
.radio--lg
	cursor default
	input[type=radio]
		opacity 0
		position absolute
		cursor default
		+span
			cursor pointer
			display block
			margin-left $radio--lg-spacing
			transition color $animation-short

			font-size $font-size-large
			font-weight normal
			text-transform none

			b
				font-family $font-content
				font-weight $font-weight-bold
				font-size $font-size-large
				text-transform uppercase

			&:before
				position absolute
				content ''
				border-width 2px
				border-style solid
				display inline-block
				vertical-align middle
				width 20px
				height 20px
				padding 2px
				margin-right 10px
				margin-left - $radio--lg-spacing
				margin-top 7px
				text-align center
				border-radius 50%
				transition border-color $animation-short

			&.aligned
				margin-left 0
				&:before
					margin-left -40px

	input[type=radio], +span
		display inline-block
		vertical-align middle
		margin 5px

	input[type=radio]:checked +span
		cursor default


// Two-liners
//
// Huge with two-line label.
//
// Markup:
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno" checked>
//     <span>Yeah</span>
//     <span>Really.</span>
//   </label>
// </div>
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno">
//     <span>Nope</span>
//     <span>Don't think so</span>
//   </label>
// </div>
//
// .radio--lg-twoliner - Large buttons
//
// Styleguide 5.2.2
.radio--lg-twoliner
	input[type=radio]
		+ span
			margin-bottom -5px
			&:before
				margin-top 18px
			+ span
				transition color $animation-short
				margin-left $radio--lg-spacing
				cursor pointer
		&:checked + span + span
			cursor default



// Checkboxes
//
// Custom check boxes in two flavors: "check" and "toggle".
//
// Styleguide 5.3

// Check
//
// Typical checkbox, only add the class.
//
// Markup:
// <input class="{$modifiers}" id="box1" type="checkbox" />
// <label for="box1">Checkbox 1</label><br/>
// <input class="{$modifiers}" id="box2" type="checkbox" />
// <label for="box2">Checkbox 2</label>
//
// .checkbox--check - Check
//
// Styleguide 5.3.1
input.checkbox--check
	opacity 0

	+ label
		margin-left 6px
		cursor pointer
		transition color $animation-short

		&:before
			content ''
			cursor pointer
			position absolute
			width 15px
			height 15px
			top 7px
			left 0
			border-radius 3px
			border-style solid
			border-width 2px
			transition all $animation-short

		&:after
			opacity 0
			content ''
			position absolute
			width 10px
			height 5px
			top 11px
			left 3px
			border-style solid
			border-width 2px
			border-top none
			border-right none
			transform rotate(-45deg)
			transition opacity $animation-short

	&:checked + label:after
		opacity 1

	&.nested
		position absolute

label.checkbox
	white-space normal
	padding-left 30px

	h4
		margin-top -2px

// Toggle
//
// This one needs an additional `<label>` element.
//
// Markup:
// <label for="box3">Activate me:</label>
// <input class="{$modifiers}" id="box3" type="checkbox" />
// <label for="box3"></label><br/>
//
// .checkbox--toggle - Toggle
//
// Styleguide 5.3.2
input.checkbox--toggle
	position absolute
	margin-left -9999px
	visibility hidden

	+ label

		display block
		position relative
		cursor pointer
		outline none
		user-select none

		padding 2px
		width 40px
		height 25px
		border-radius 60px
		transition background $animation-short
		overflow inherit

		&:before, &:after
			display block
			position absolute
			content ""

		&:before
			top 2px
			left 2px
			bottom 2px
			right 2px
			border-radius 60px
			transition background $animation-short
		&:after
			top 4px
			left 4px
			bottom 4px
			width 17px
			border-radius 52px
			transition margin $animation-short, background $animation-short

		+ label
			margin-top -27px
			position relative
			float left
			margin-left 48px

	&:checked + label:after
		margin-left 15px

// Errors
//
// For errors, wrap your element into a `.form-group` element and add the error class.
//
// Styleguide 5.4


// Erroneous Text Input
//
// When validations fail for a text input
//
// Markup:
// <form class="form-horizontal">
//   <div class="{$modifiers}">
//     <label class="col-sm-3 control-label">Display Name</label>
//     <div class="col-sm-7">
//       <input class="form-control" type="text"/>
//     </div>
//   </div>
// </form>
//
// .form-group.error - Erroneous field
//
// Styleguide 5.4.1
.form-group
	&.error .form-control, &.error .input-group-addon, .error.form-control, .error.input-group-addon
		border-style solid
		border-width 2px
	&.error .input-group-addon
		border-left-style none

	&.form--inline
		margin-right 75px

// don't make pull-right boxes 100%
.form-control
	&.pull-right
		width initial
	&.width-md
		width 120px