// Forms
//
// Styleguide 5


// Text Input
//
// Those are basically all `<input>`, `<textarea>` and `<select>` elements
//
// Markup:
// <input type="text" placeholder="Type something!" class="{$modifiers}"/><br>
// <textarea class="{$modifiers}">Text goes here</textarea>
//
// .form-control          - Plain text boxes
// .form-control.input-lg - Large input boxes
//
// Styleguide 5.1
.form-control
	border-radius $border-radius-small
	border none
	box-shadow none
	font-size $font-size-normal
	&:focus
		box-shadow none
// Large input box
.input-lg
	border-radius $border-radius-large


// Search Box
//
// Search box gets special treatment with rounded corners.
//
// Markup:
// <div class="input-group input-group-addon--search">
//   <span class="input-group-addon">
//     <i class="fa fa-search"></i>
//   </span>
//   <input class="form-control {$modifiers}" type="text" placeholder="Search">
// </div>
//
// .input--search - Search Box with addon icon
//
// Styleguide 5.1.1
.input--search
	height 28px
	padding-left 3px
	border-radius 14px
	border none
// Addon
.input-group-addon
	border none
.input-group-addon--search
	padding-right 3px
	border-radius 14px
	// fix search icon position
	i.fa-search
		margin-left -2px
		margin-top 2px


// Input Group
//
// One example with a vanilla and button addon
//
// Markup:
// <div class="{$modifiers}">
//   <span class="input-group-addon">
//     <i class="fa fa-info"></i>
//   </span>
//   <input class="form-control" type="text" placeholder="Enter something!">
//   <span class="input-group-btn">
//     <button class="btn btn-default" type="button">OK</button>
//   </span>
// </div>
//
// .input-group - Search Box with addon icon
//
// Styleguide 5.1.2
.input-group
	> .input-group-addon
		padding 0 10px
	> .form-control
		padding-left 0
	> .input-group-btn .btn
		padding 0 10px
		height 34px



// Text Area
//
// Different text area stylings
//
// Markup:
// <textarea class="form-control {$modifiers}">Text goes here</textarea>
//
// .textarea--full - Full width
//
// Styleguide 5.1.3
textarea
	border none
	resize vertical
.textarea--full
	width 100%
	height 80px
	padding 5px
	margin 0
	resize none
	border none
	border-radius $border-radius-small


// Radio Buttons
//
// Styled radios.
//
// Styleguide 5.2


// Huge custom buttons
//
// Markup:
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno" checked>
//     <span>Yeah</span>
//   </label>
// </div>
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno">
//     <span>Nope</span>
//   </label>
// </div>
//
// .radio--lg - Large buttons
//
// Styleguide 5.2.1
.radio--lg
	cursor default
	input[type=radio]
		display none
		cursor default
		+ span
			cursor pointer
			display block
			font-weight $font-weight-bold
			font-size $font-size-large
			text-transform uppercase
			margin-left 20px
			transition color $animation-short
			&:before
				cursor pointer
				position absolute
				margin-left -31px
				margin-top -2px
				font-size 36px // icon
				font-family icons
				font-style normal
				font-weight normal
				line-height 1
				-webkit-font-smoothing antialiased
				-moz-osx-font-smoothing grayscale
				transition color $animation-short
				content "\31" /* Radio Unchecked */
		&:checked + span
			cursor default
			&::before
				cursor default
				content "\32" /* Radio Checked */

// Two-liners
//
// Huge with two-line label.
//
// Markup:
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno" checked>
//     <span>Yeah</span>
//     <span>Really.</span>
//   </label>
// </div>
// <div class="radio-inline {$modifiers}">
//   <label>
//     <input type="radio" name="yesorno">
//     <span>Nope</span>
//     <span>Don't think so</span>
//   </label>
// </div>
//
// .radio--lg-twoliner - Large buttons
//
// Styleguide 5.2.2
.radio--lg-twoliner
	@extend .radio--lg
	input[type=radio]
		+ span
			font-size $font-size-large
			font-weight normal
			text-transform none
			margin-bottom -5px
			&:before
				font-size 30px
				margin-top 14px
		&:checked + span + span
			cursor default
	span
		margin-left 20px
		cursor pointer



// Checkboxes
//
// Huge with two-line label.
//
// Markup:
// <div>
//   <input id="box1" type="checkbox" />
//   <label for="box1">Checkbox 1</label>
//   <input id="box2" type="checkbox" />
//   <label for="box2">Checkbox 2</label>
// </div>
//
// . - Checkboxes
//
// Styleguide 5.3
input[type=checkbox]
	display none
	+ label
		margin-left 23px
		cursor pointer
		transition color $animation-short
		&:before
			cursor pointer
			font-family FontAwesome
			display inline-block
			content "\f096"
			position absolute
			margin-left -22px
			margin-top 1px
			transition color $animation-short

	&:checked + label:before
		content "\f14a"
		margin-top 0px
		margin-left -23px


// Errors
//
// For errors, wrap your element into a `.form-group` element and add the error class.
//
// Styleguide 5.4


// Erroneous Text Input
//
// When validations fail for a text input
//
// Markup:
// <form class="form-horizontal">
//   <div class="{$modifiers}">
//     <label class="col-sm-3 control-label">Display Name</label>
//     <div class="col-sm-7">
//       <input class="form-control" type="text"/>
//     </div>
//   </div>
// </form>
//
// .form-group.error - Erroneous field
//
// Styleguide 5.4.1
.form-group
	&.error .form-control, &.error .input-group-addon, .error.form-control, .error.input-group-addon
		border-style solid
		border-width 1px
	&.error .input-group-addon
		border-left-style none

// Normal line breaks for descriptions after label
.checkbox > label div
	white-space normal