//
// Grid system
// --------------------------------------------------

// Main container, there's only one element with this class.
.container--topmost
	padding-top 50px
	margin-bottom 30px
	border-bottom-radius($border-radius-large)

// A row that fills the entire height so we can put a background color on it.
.row--fullheight
	overflow hidden
	border-bottom-radius($border-radius-large)
	> div
		margin-bottom -99999px
		padding-bottom 99999px

// Our main- and menu column
.col--main
	padding-left 30px
	padding-right 30px
	position relative
.col--menu
	padding-bottom 25px

// Columns for the extended game list
.col--list-extended-left
	width $list-sidebar-width
	float left
.col--list-extended-right
	margin-left $list-sidebar-width + 15px
	margin-top 10px

// Columns for the mini release list
.col--list-mini-left
	width $list-square-width
	float left
.col--list-mini-right
	margin-left $list-square-width + 15px
	margin-top 10px
	margin-right 5px

.vertical-center--100
	top 50%
	margin-top -45px
	position absolute
	width 100%
