
.svg-icon
	margin-top -5px
	height 24px
	width 24px
	vertical-align middle
	transition fill $animation-short

	&.small
		height 20px
		width 20px

	&.smaller
		height 16px
		width 16px


body > svg
	display none

.theme-dark .svg-icon
	fill $color-lighter

.theme-light .svg-icon
	fill $color-lighter-inv