
.svg-icon
	height 24px
	width 24px
	vertical-align middle
	transition fill $animation-short

	&.smaller
		height 16px
		width 16px
		margin-top -5px


body > svg
	display none

.theme-dark .svg-icon
	fill $color-lighter

.theme-light .svg-icon
	fill $color-lighter-inv