
.svg-icon
	height 24px
	width 24px
	vertical-align middle
	transition fill $animation-short

	&.small
		height 20px
		width 20px

	&.smaller
		height 16px
		width 16px

	&.svg-2x
		height 32px
		width 32px

	&.svg-3x
		height 50px
		width 50px

	&.svg-4x
		height 75px
		width 75px

	&.svg-huge
		height 300px
		width 300px

	&.shift-up
		margin-top -5px

	&.shift-up-2x
		margin-top -7px

	&.shift-down
		margin-top 5px
		margin-bottom -5px

	&.img-avatar
		padding 10px

	&.star
		transition none

&.svg-spin
	animation svg-spin 2s infinite linear
&.svg-spin--slow
	animation svg-spin 4s infinite linear


table.table tr > td.td--big-icon
	width 36px
	padding-right 0
	padding-left 3px
	> .svg-icon
		width 32px
		height 32px
		margin-bottom -4px
		margin-top -7px

@keyframes svg-spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(359deg)

body > svg
	display none

.theme-dark .svg-icon
	fill $color-lighter

.theme-light .svg-icon
	fill $color-lighter-inv

.inline-edit
	position absolute
	right 15px
	margin-top 30px
	.icon-opener
		opacity 1
	.icon-editing
		opacity 0
	.svg-icon
		transition all $animation-long
		transform translateX(56px)
	&.open
		.svg-icon
			transform translateX(0)
		.icon-opener
			opacity 0
		.icon-editing
			opacity 1

// Icon special cases
.svg-icon.icon-ipdb--huge
	height 60px
	width 140px
	& + span
		line-height 60px
		margin-left -5px
		vertical-align top
