//
// Images
// --------------------------------------------------


// Base class
.img
	background-repeat no-repeat
	background-position center center
	background-size cover


// Aspect ratios
.img--ar-bg, .img--ar-logo, .img--ar-square
	position relative
	width 100%
	height 0
.img--ar-bg // formerly: .img-backglass
	padding-bottom 80% // % of width, defines aspect ratio
.img--ar-logo // formerly: .img-logo-placeholder
	padding-bottom 40%


// Fading animation
.img--fade // formerly: .img-fade
	opacity 0
	transition opacity animation-short
	&.loaded
		opacity 1

// Top right table logo
.img--logo
	margin-top 30px
	width 95%



// Avatar images (size and border-radius) - default is --md
.img-avatar
	width 64px
	height 64px
	border-radius 50%
	padding-bottom 0
.img-avatar--lg
	width 72px
	height 72px


// Avatar place holders
.avatar-placeholder:before
	position absolute
	font-family FontAwesome
	font-style normal
	font-weight normal
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	content '\f007'
	margin-left 19px // --md
	margin-top 14px
	font-size 33px
.avatar-placeholder--sm:before
	margin-left 18px
	margin-top 16px
	font-size 37px
.avatar-placeholder--lg:before
	margin-left 18px
	margin-top 16px
	font-size 37px


// Rounded corners
.img--rounded // formerly: .img-fullspan
	padding 0
	border-radius $border-radius-small
.img--rounded-top
	border-top-radius($border-radius-small)
.img--rounded-left
	border-left-radius($border-radius-small)
