
.container .jumbotron
	background-image url("/images/background_blurred.jpg")
	background-size cover
	background-position center top
	margin-top -70px
	margin-left -15px
	margin-right -15px
	margin-bottom 0
	padding-top 150px
	padding-bottom 0

	border-radius 0
	border-bottom-style solid
	border-bottom-width 1px
	border-bottom-color $color-primary

	text-align center

	h3
		margin-bottom 30px
	input
		border-radius 20px
		color black

	.collapse--search > .panel, .collapse--info > .panel
		margin-left -60px
		margin-right -60px
		margin-bottom 0
		box-shadow inset 0 9px 8px -5px rgba(0,0,0,0.1);
		border-radius 0
		.clear
			position absolute
			z-index 1
			left 30px
			top 25px

	.collapse--search
		position relative

		.spacer
			padding-top 90px

		.paginator
			position absolute
			z-index 1
			right 30px
			top 25px

		> .panel
			background-color $color-lighter-inv

			.container
				margin-top 75px
				margin-bottom 10px
				padding-left 30px
				padding-right 30px

		.searchbox
			position absolute
			top 20px
			left 0
			right 0

	.collapse--info
		position relative

		.spacer
			padding-top 35px

		.abs-center
			position absolute
			top -25px
			left 0
			right 0

		> .panel
			padding-left 50px
			padding-right 50px
			background-color $color-lightest-inv

			h3
				margin-top 40px

			p.center-block
				margin-left 100px
				margin-right 100px