
.container .jumbotron
	background-image url("/images/background_blurred.jpg")
	background-size cover
	margin-top -70px
	margin-left -15px
	margin-right -15px
	margin-bottom 0
	padding-top 150px
	padding-bottom 0

	border-radius 0
	border-bottom-style solid
	border-bottom-width 1px
	border-bottom-color $color-primary

	text-align center

	h3
		margin-bottom 30px
	input
		border-radius 20px
		font-weight $font-weight-bold

	a.center-block
		margin-top 45px
		margin-bottom -25px

	.panel
		margin-left -60px
		margin-right -60px
		margin-bottom 0
		padding-bottom 30px
		box-shadow inset 0 9px 8px -5px rgba(0,0,0,0.1);
		border-radius 0
		background-color $color-lightest-inv