
.container .jumbotron
	background-image url("/images/background_blurred.jpg")
	background-size cover
	margin-top -70px
	margin-left -15px
	margin-right -15px
	padding-top 150px
	padding-bottom 50px

	border-radius 0
	border-bottom-style solid
	border-bottom-width 1px
	border-bottom-color $color-primary

	text-align center

	h3
		margin-bottom 30px
	input

		border-radius 20px
		font-weight $font-weight-bold