// Lists
//
// Styleguide 12


// Simple List
//
// Usually in a panel
//
// Markup:
// <accordion close-others="false" ng-init="simpleListOpened=true">
//   <accordion-group is-open="simpleListOpened">
//     <accordion-heading>Selectable List<i ng-class="{'fa-chevron-circle-up': filterYearOpen, 'fa-chevron-circle-down': !filterYearOpen}" class="fa pull-right space-right"></i></accordion-heading>
//     <ul class="list-group {$modifiers}">
//       <li class="a a--lighter list-group-item" ng-class="{ active: one }" ng-click="one=!one">One</li>
//       <li class="a a--lighter list-group-item" ng-class="{ active: two }" ng-click="two=!two">Two</li>
//       <li class="a a--lighter list-group-item" ng-class="{ active: three }" ng-click="three=!three">Three</li>
//     </ul>
//   </accordion-group>
// </accordion>
//
// .list-group--simple    - Simple list
//
// Styleguide 12.1
.list-group--simple > li
	border none


// Unordered Lists
//
// .list          - Default list
//
// Markup:
// <ul class="list">
//   <li>One</li>
//   <li>Two</li>
//   <li>Three</li>
//   <li>Four</li>
// </ul>
//
// Styleguide 12.2
ul.list
	position relative
	> li
		list-style none
		&:before
			content "·"
			font-size 45px
			margin-left -16px
			margin-top -21px
			position absolute


// e.g. lists in tables shouldn't be indented.
ul.list--noindent > li
	margin-left -25px


// Sort Option List
//
// A list where you can toggle sort options. Clicking once on an item will
// highlight it with a default sort direction and following clicks will toggle
// the sort direction.
//
// > The directive that contains the selection logic is called `sort`.
//
// Markup:
// <ul class="{$modifiers}">
//   <li class="a" d="desc" sort="name">Date Added</li>
//   <li class="a" d="asc" sort="year">Original Release</li>
//   <li class="a" d="asc" sort="name" class="asc selected">Name</li>
//   <li class="a" d="desc" sort="rating">Rating</li>
//   <li class="a" d="desc" sort="views">Views</li>
//   <li class="a" d="desc" sort="gamedownloads">Downloads</li>
// </ul>
//
// .list--sort-options    - Sort Option List
//
// Styleguide 12.3
.list--sort-options
	padding-left 30px
	> li
		position relative
		list-style-type none
		cursor pointer
		&.selected
			&:before
				display block
				position absolute
				content ''
				width 10px
				height 10px
				left -25px
				border-style solid
				border-width 2px
				border-top none
				border-right none
				transition all $animation-short
			&.desc:before
				top 6px
				transform rotate(-45deg)
			&.asc:before
				top 10px
				transform rotate(135deg)


// Checkbox List
//
// Checkable items usually with title and description.
//
// Markup:
// <ul class="{$modifiers}">
//   <li>
//     <input id="cb1" class="checkbox--check" type="checkbox">
//     <label for="cb1">
//       <h4 class="h--no-margin h--lighter ng-binding">Line One</h4>
//       <div>This can be a long description spanning over multiple lines.</div>
//     </label>
//   </li>
//   <li>
//     <input id="cb2" class="checkbox--check" type="checkbox">
//     <label for="cb2">
//       <h4 class="h--no-margin h--lighter ng-binding">Line Two</h4>
//       <div>This can still be a long description spanning over multiple lines.</div>
//     </label>
//   </li>
// </ul>
//
// .list--checkboxes    - Checkbox list
//
// Styleguide 12.4
ul.list--checkboxes
	padding-left 0
	li
		list-style none
		position relative

.list--condensed
	margin-bottom -10px


// File List
//
// Used in the drop zone of release upload.
//
// Markup:
// <ul class="{$modifiers}">
//   <li class="panel">
//     <div class="col--list-files-left"><i class="icon icon-ext"></i></div>
//     <div class="col--list-files-right">
//       <div class="block big">First line</div>
//       <div class="block big">Second line</div>
//     </div>
//     <i class="icon icon-trash"></i>
//   </li>
// </ul>
//
// .list--files    - List Files
//
// Styleguide 12.5
ul.list--files
	padding 0
	> li
		border-radius $border-radius-large
		margin-top 15px
		margin-bottom 0
		list-style-image none
		list-style-type none
		padding-top 3px
		padding-left 3px
		padding-right 3px
		> .svg-icon
			position absolute
			right 14px
			top 28px
			cursor pointer
		&.error
			border-width 2px
			border-style solid
			padding-bottom 0

		.alert
			padding-left 75px

.flavor-item
	border-radius $border-radius-larger
	padding 15px
	cursor pointer
	transition all $animation-short
	label
		cursor pointer

.col--list-files-left, .col--list-files-right
	float left
	> svg.svg-icon
		margin-bottom 3px

.col--list-files-left
	width 60px

.col--list-files-right
	width calc(100% - 90px + 15px * 2)

	form
		margin-top 20px

.simple-list
	margin-bottom -10px
	margin-top 5px
	position relative

// List group within panel-body
// @todo refactor, this was done for the style guide panel, the game filter panels look different.
.panel-body > .list-group
	margin -15px -15px
	.list-group-item
		padding 5px 15px
		border-radius 0
		border-left-style none
		border-right-style none
		border-bottom-style none
		&:first-child
			border-top-style none


.list-group.list-group--users > .list-group-item
	padding 5px
	min-width 200px
	cursor pointer
	&:first-child
		border-top-left-radius  $border-radius-small
		border-top-right-radius  $border-radius-small
	&:last-child
		border-bottom-left-radius  $border-radius-small
		border-bottom-right-radius  $border-radius-small

.user-mention-info
	padding-left 5px
	padding-right 10px
	background-color $color-dark-inv
	border-radius $border-radius-larger