// Markdown styles
//
// Styleguide 16


// Markdown
//
// Some elements look different in a Markdown container than on the site.
// This shows how the elements that differ when rendering markdown code.
//
// Markup:
// <div class="{$modifiers}">
//   <h1>Heading 1</h1>
//   <h2>Heading 2</h2>
//   <h3>Heading 3</h3>
//   <h4>Heading 4</h4>
//   <h5>Heading 5</h5>
//   <h6>Heading 6</h6>
//   <pre>some_code_ma;</pre>
//   <blockquote>
//     A block quote!
//   </blockquote>
// </div>
//
// .markdown         - Markdown
//
// Styleguide 16.1
.markdown
	& > *:first-child
		margin-top 0
	h1, h2
		font-family $font-content
		text-transform none
	h3, h4, h5
		font-family $font-content
		text-transform none
	h1
		font-size $font-size-largest
		font-weight $font-weight-thin
	h2
		font-size $font-size-larger
		font-weight $font-weight-thin
	h3
		font-size $font-size-large
		font-weight $font-weight-bold
	h4
		font-size $font-size-normal + 2px
		font-weight $font-weight-bold
	h5, h6
		font-size $font-size-normal
		font-weight $font-weight-normal
		text-decoration underline
	a
		text-decoration underline
	pre code
		font-size $font-size-code
	blockquote
		font-size $font-size-normal
