// Modals
//


// :modals
.modal-dialog
	overflow hidden
	.modal-content
		border-radius 3px
		.modal-header
			border-radius 3px 3px 0 0
			padding-left 15px
			padding-top 10px
			padding-right 20px
			padding-bottom 10px
	// Title margin before title when avatar is displayed
	.img--avatar-header + h1
		margin-left 100px
		
	.modal-body
		padding-left 20px
		padding-right 20px
		.indent
			margin-left 100px
			& + hr
				margin-top 20px
		.btn.btn-lg + .btn.btn-lg
			margin-left 20px

	.modal-footer
		border-radius 0 0 3px 3px
		margin-top 0

// TODO: Remove when fixed: https://github.com/angular-ui/bootstrap/issues/2970
.modal-backdrop
	position fixed
	bottom 0