// Navbar
//
// Styleguide 10


// Default Navigation Bar
//
// We only have one, and that's the one.
//
// Markup:
// <nav class="navbar {$modifiers}">
//   <div class="container">
//     <div class="navbar-header">
//       <span class="navbar-brand">
//         <i class="icon icon-vpdb-logo-o"></i>
//         <i class="icon icon-vp"></i>
//         <i class="icon icon-db"></i>
//       </span>
//    </div>
//    <ul class="nav navbar-nav">
//      <li class="active"><a>Active</a></li>
//      <li><a>Inactive</a></li>
//     </ul>
//   </div>
// </nav>
//
// .navbar-default          - Default Navbar
//
// Styleguide 10.1
.navbar-default
	transition background-color $animation-long
	border-radius 0

	.navbar-toggle
		border-radius 0
		border none
		margin 0
		padding-right 15px
		padding-top 10px
		&:hover, &:focus
			background-color inherit

// VPDB logo
.navbar-brand
	position relative
	width 200px
	.svg-icon
		height 37px
		position absolute
		top 7px
		transition all $animation-long
		&.logo
			top 4px
			left 12px
			height 43px
			width 43px
		&.logo-vp
			left 40px
			width 75px
		&.logo-db
			left 87px
			width 75px
	span.logo-beta
		position absolute
		left 123px
		top 33px
		font-size 10px

// Navbar nav links
.navbar-nav
	> li
		font-size $font-size-small
		a
			text-transform uppercase
			&.btn
				margin-left 15px
				margin-right 15px
	> .active > a
		cursor default

	.btn.btn-hollow
		font-family $font-content
		font-size $font-size-small
		padding 4px 12px
		margin-top 10px
		margin-bottom 9px

	.img-avatar
		margin-top -15px
		margin-bottom -10px

#timeoutNotice
	position relative
	background-color $color-light
	margin-left -15px
	margin-right -15px
	padding-left 15px
	padding-top 10px