// Navbar
//
// Styleguide 10


// Default Navigation Bar
//
// We only have one, and that's the one.
//
// Markup:
// <nav class="navbar {$modifiers}">
//   <div class="container">
//     <div class="navbar-header">
//       <span class="navbar-brand">
//         <i class="icon icon-vpdb-logo-o"></i>
//         <i class="icon icon-vp"></i>
//         <i class="icon icon-db"></i>
//       </span>
//    </div>
//    <ul class="nav navbar-nav">
//      <li class="active"><a>Active</a></li>
//      <li><a>Inactive</a></li>
//     </ul>
//   </div>
// </nav>
//
// .navbar-default          - Default Navbar
//
// Styleguide 10.1
.navbar-default
	transition background-color $animation-long
	border-radius 0

	.navbar-toggle
		border-radius 0
		border none
		margin 0
		padding-right 15px
		padding-top 10px
		&:hover, &:focus
			background-color inherit

// VPDB logo
.navbar-brand
	position relative
	width 200px
	.icon
		font-size 92px  // both icons, overlayed
		left 55px
		position absolute
		top -50px
		transition all $animation-long
		&.icon-vpdb-logo-o
			font-size 36px // logo
			left 13px
			top 7px

// Navbar nav links
.navbar-nav
	> li
		font-size $font-size-small
		a
			text-transform uppercase
	> .active > a
			cursor default
