//
// Navs
// --------------------------------------------------


// View type switcher when listing games
.nav-icons // formerly: ul.viewtype-panel
	float right
	margin-top -39px
	margin-bottom 0
	position relative
	list-style none
	li
		display inline
		margin-left 15px
		&.active i
			cursor default
		i
			font-size 18px
			cursor pointer
			transition all $animation-short
