//
// Navs
// --------------------------------------------------


// View type switcher when listing games
.nav-icons // formerly: ul.viewtype-panel
	float right
	margin-top -39px
	margin-bottom 0
	position relative
	list-style none
	li
		display inline
		margin-left 15px
		&.active i
			cursor default
		i
			font-size 18px
			cursor pointer
			transition all $animation-short


// Tabs for message composition
// --------------------------------------------------
.nav-tabs
	border none
	li
		margin-bottom 0
		&.active
			> a,  > a:hover,  > a:focus
				border none
		a
			padding 4px 15px
			font-size 20px  // tab icons
			border none
			border-top-radius($border-radius-large)

	// the markdown notice
	> .label--small
		margin-top 7px

// content panel
.tab-content
	padding 10px 15px 15px 13px
	border-radius 0 $border-radius-large $border-radius-large $border-radius-large
	textarea
		margin-top 5px

// triangle that points from the panel to the media
.panel-triangle
	position absolute
	width 0px
	height 0px
	left -8px
	top 11px
	border-width 9px 9px 9px 0
	border-style solid
	transition background-color animation-short

// padding fixes
//.tabset--newcomment
//	margin 15px
//.tabset--moderequest
//	margin 15px 0
