growl-notification
	position fixed
	padding-left 20px
	padding-top 20px
	padding-right 40px
	padding-bottom 20px
	z-index 1000

	top 30px
	left 30px
	max-width 350px
	border-radius $border-radius-small

	&[class^="ns-effect-"].ng-leave, &[class*=" ns-effect-"].ng-leave
		animation-direction reverse

	.ns-close
		position absolute
		top 5px
		right 5px

.ns-effect-slide
	top auto
	bottom 30px

	&.ng-move, &.ng-leave
		animation-name animSlideIn
		animation-duration 1s
		animation-timing-function linear

	&.ng-leave
		animation-name animSlideOut
		animation-duration 0.25s

.animation-target
	animation animation 1000ms linear both

@media screen and (max-width: 25em)
	growl-notification
		top 10px
		left 10px
		right 10px
		max-width none

	.ns-effect-slide
		top auto
		bottom 10px
