//
// Panels
// --------------------------------------------------


// Base class
.panel
	position relative
	border-radius $border-radius-small
	transition background-color $animation-short, color $animation-short
	> .panel-heading
		border-top-radius($border-radius-small)
		padding 8px 12px 6px
	> .panel-footer
		border-bottom-radius($border-radius-small)

// Panels within panels
.panel--inner, .panel-group .panel--inner
	border-radius $border-radius-large
	> .panel-heading, > .panel-footer
		border-top-radius($border-radius-large)
	> .panel-footer
		border-bottom-radius($border-radius-large)

// Heading style
.panel-title
	text-align left
	font-family $font-family-content
	font-size $font-size-normal
	font-weight $font-weight-bold


// remove border from bootstrap
.panel, .panel-default, .panel > .panel-heading + .panel-collapse .panel-body, .panel-footer
	border none


// Accordion with groups glued together
.panel-group--glued
	.panel
		border-top-radius($border-radius-large)
		> .panel-heading
			border-top 2px solid rgba(0, 0, 0, 0.34)
			border-top-radius($border-radius-large)
	.panel + .panel
		margin-top 0
		border-radius 0
		> .panel-heading
			border-radius 0
	.panel:last-child
		border-bottom-radius($border-radius-large)


// Hover animates it towards POV
.panel--animated
	cursor pointer
	transition all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
	transform translateY(0) scale(1, 1)
	&:hover
		transform translateY(-5px) scale(1.03, 1.03)
