// Panels
//
// Basic panel. Use this to group elements.
//
// Markup:
// <div class="panel padder {$modifiers}">
//   <p>Panel Content</p>
// </div>
//
// .                   - Default panel
// .panel--animated    - Hover animates it towards POV
//
// Styleguide 3.1
.panel
	position relative
	border-radius $border-radius-small
	transition background-color $animation-short, color $animation-short
	> .panel-heading
		border-top-radius($border-radius-small)
		padding 7px 12px 6px
		> *
			margin 0
	> .panel-footer
		border-bottom-radius($border-radius-small)


// Inner Panels
//
// Add this class if you're creating a panel within another panel.
//
// Markup:
// <div class="panel padder">
//   <div class="panel padder {$modifiers}">
//     <p>Panel Content</p>
//    </div>
// </div>
//
// .panel--inner         - Inner panel
//
// Styleguide 3.2
.panel--inner, .panel-group .panel--inner
	border-radius $border-radius-large
	> .panel-heading, > .panel-footer
		border-top-radius($border-radius-large)
	> .panel-footer
		border-bottom-radius($border-radius-large)


// Inactive Panels
//
// When you show stuff that is going to be filled up, "blank slate" as GitHub calls it.
// Basically its `.panel.content` div is vertically and horizontally centered.
//
// Markup:
// <div class="panel panel--fixed-height-300 {$modifiers}">
//   <div class="panel-content">
//     <i class="icon icon-ipdb icon-ipdb--huge space-right"></i>
//     <span>INFO</span>
//     <p><i>Click "Fetch" to load data.</i></p>
//    </div>
// </div>
//
// .panel--inactive         - Inactive panel
//
// Styleguide 3.3
.panel--blank
	width 100%
	display table
	text-align center
	> .panel-content
		display table-cell
		vertical-align middle

// toclean
.panel--backglass
	height 250px

.panel--fixed-height-300
	height 300px

// toclean
.panel-banner
	img
		width 100%
	i.icon-title
		position absolute
		margin-top 0
		cursor default
		& + label
			margin-right 15px
			margin-bottom 15px
			margin-top 0px
			font-size $font-size-large-alt
			font-weight $font-weight-normal-alt
			strong
				font-weight $font-weight-light-alt
		&.icon-williams
			font-size 48px // icon
		&.icon-stern
			font-size 62px // icon

	& > .row
		margin 0 0 15px
		& > div
			transition color $animation-short
			cursor pointer
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			&:nth-child(even)
				text-align right

	& > button.btn.btn-lg
		width 100%
		border-radius 0 0 $border-radius-small $border-radius-small

// Heading style
.panel-title
	text-align left
	font-family $font-family-content
	font-size $font-size-normal
	font-weight $font-weight-bold


// Remove border from bootstrap
.panel, .panel-default, .panel > .panel-heading + .panel-collapse .panel-body, .panel-footer
	border none

// Rounder corner and padding for panel groups.
.panel-group
	.panel
		border-radius $border-radius-large
		> .panel-heading
			border-top-radius($border-radius-large)
			padding 8px 10px 5px

// For non-glued panel groups, make margin larger.
.panel-group .panel + .panel
	margin-top 15px

// Accordion with groups glued together
.panel-group--glued
	.panel
		border-top-radius($border-radius-large)
		> .panel-heading
			border-top 2px solid rgba(0, 0, 0, 0.34)
			border-top-radius($border-radius-large)
	.panel + .panel
		margin-top 0
		border-radius 0
		> .panel-heading
			border-radius 0
	.panel:last-child
		border-bottom-radius($border-radius-large)

// Hover animates it towards POV
.panel--animated
	cursor pointer
	transition all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
	transform translateY(0) scale(1, 1)
	&:hover
		transform translateY(-5px) scale(1.03, 1.03)

.panel--animated--less:hover
		transform translateY(-3px) scale(1.01, 1.01)

.panel--banner__h3
	font-size $font-size-larger
	font-family $font-header
	font-weight $font-weight-normal-alt
	text-transform uppercase
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	margin-left 15px