.playfield--rotate-on-upload
	.panel.playfield--image
		transition all $animation-long

	&.angle--0 .panel.playfield--image
		transform rotate(0deg)
		margin-left 0
		margin-top 0
		margin-bottom 0

	&.angle--90 .panel.playfield--image
		transform rotate(-90deg)
		margin-left -21%
		margin-top 23%
		margin-bottom 25%

	&.angle--180 .panel.playfield--image
		transform rotate(-180deg)
		margin-left 0
		margin-top 0
		margin-bottom 0

	&.angle--270 .panel.playfield--image
		transform rotate(90deg)
		margin-left -21%
		margin-top 23%
		margin-bottom 25%

.playfield--video
	width 58.25%

/* Small devices (tablets, 768px and up) */
@media (min-width: $bootstrap-screen-sm-min)
	.playfield--video
		width 146px

/* Medium devices (desktops, 992px and up) */
@media (min-width: $bootstrap-screen-md-min)
	.playfield--video
		width 193px

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $bootstrap-screen-lg-min)
	.playfield--video
		width 234px