// Progress Bars
//
// Styleguide 19


// Image Upload
//
// Indicator when image was dropped into the browser.
//
// Markup:
// <div class="alert {$modifiers}">
//   <i class="fa fa-exclamation-triangle space-right"></i>
//   Hello, I'm an alert!
// </div>
//
// .alert-danger  - Danger
// .alert-success - Success
//
// Styleguide 19.1
.progress
	position absolute
	top 20px
	left 50%
	margin-left -100px
	width 200px
	height 24px
	padding 5px 4px

	.progress-bar
		border-left-radius(2px)
		box-shadow none
