// Progress Bars
//
// Styleguide 19
.progress
	height 24px
	padding 5px 4px

	.progress-bar
		border-left-radius(2px)
		box-shadow none

// Absolute/Fixed
//
// Progress bars when uploading images into a blank panel. It's vertically
// centered relative to its parent (hence the `vertical-center-100` element).
// Also it has a fixed width of `200px`.
//
// Markup:
// <div class="panel panel--fixed-height-300">
//   <div class="panel-content">
//     <div class="vertical-center--100">
//       <uib-progressbar class="progress-striped progress--fixed-absolute active" value="80"></uib-progressbar>
//     </div>
//   </div>
// </div>
//
// .progress--fixed-absolute - In panel with fixed height
//
// Styleguide 19.1
.progress.progress--fixed-absolute
	position absolute
	top 20px
	left 50%
	margin-left -100px
	width 200px


// In Dropzone
//
// Progress bar replaces a oneliner
//
// Markup:
// <div class="panel panel--dropzone">
//   <ul class="list--files">
//     <li class="panel">
//       <div class="col--list-files-left"><i class="icon icon-ext"></i></div>
//       <div class="col--list-files-right">
//         <uib-progressbar class="progress-striped active" value="80"></uib-progressbar>
//         <div class="block big">28.4 MB</div>
//       </div>
//     </li>
//   </ul>
// </div>
//
// .progress - Oneliner
//
// Styleguide 19.2
.panel--dropzone .progress
	margin-bottom 0
	margin-right 10px
	margin-top 11px


// Spinning Gear
//
// Displayed over a background still, hence the name
//
// Markup:
// <div class="img img--ar-ws loaded" style="background-image: url('/images/styleguide_16_9.jpg');">
//   <div class="text-center vertical-center--100">
//     <span class="{$modifiers}">
//       <i class="fa fa-cog fa-3x fa-spin--slow"></i>
//       <p>Generating video thumbnail...</p>
//   </div>
// </div>
//
// .progress-note--with-background - Spinning gear on top of background image
//
// Styleguide 19.3
.progress-note--with-background
	color $color-lightest

	i.fa:before
		background-color $color-lightest-inv
		border-radius 60px
		padding 3px 9px
	p
		margin-top 4px
		background-color $color-lightest-inv