// Ratings
//
// Styleguide 15


// Ratings
//
// We rely on UI Bootstrap's [Rating](http://angular-ui.github.io/bootstrap/#rating)
// component for our ratings. Since we don't have the space for 10 stars but
// still want to rate from 1 to 10, we hide half of each star so it looks like rating
// semi stars.
//
// Then we want to display the average rating as well, so we have two rating
// bars, while only one is visible at the time:
//
// * The first displays the current rating (and is static)
// * The second displays the number of stars the user is about to select.
//   This bar is only visible when the user hovers of the bar.
//
// When the user clicks on a star, value is then persisted when hovering again
// over the rating bar.
//
// Markup:
// <div class="{$modifiers}" rating-avg="7.5" rating-votes="$parent.game.votes" ng-mouseenter="editing=true" ng-mouseleave="editing=false">
//   <div class="ratingbox__left-col">
//     <div ng-show="editing" class="ratingbox__rating rating-user">{{ hoverRating | rating }}</div>
//     <div ng-class="{ 'rating-hide' : editing }" class="ratingbox__rating">7.5</div>
//   </div>
//   <div class="ratingbox__right-col">
//     <rating ng-show="editing" ng-model="ratingUser" max="10" rating-states="states" on-hover="hoverRating=value" on-leave="hoverRating=ratingUser" class="rating-user"></rating>
//     <rating ng-hide="editing" ng-model="ratingAvg" max="10" rating-states="states" readonly="true" class="rating-avg"></rating>
//     <span class="votes">42 votes</span>
//   </div>
// </div>
//
// .ratingbox - Ratings
//
// Styleguide 15.1

// We have a 2-column layout here, the large number in the left column and the
// stars with the votes in the right column.
.ratingbox

	position relative
	width 200px
	height 65px

	// Left column
	.ratingbox__left-col
		position absolute
		top 0
		left 50px
		.ratingbox__rating
			position absolute
			left 0
			top 0
			font-size 50px
			font-weight $font-weight-thin
			text-align right
			cursor default
			&.rating-10
				margin-right 10px
				width 68px

	// Right column
	.ratingbox__right-col
		position absolute
		top 30px
		left 140px
		.votes
			width 80px
			display inline-block
			margin-left 5px
			cursor default
		.rating-stars
			font-size 16px
			position absolute
			left 4px
			top -17px
			white-space nowrap
			cursor pointer

	.star-wrapper
		height 22px
		position relative
		display inline-block
		width 9px
	.star
		height 22px
		position absolute


	// Star styling
	//.star-left
	//	width 7.5px
	//	overflow hidden
	//.star-right
	//	overflow hidden
	//	margin-right 3px
	//	&:before
	//		margin-left -7.5px
	//		overflow hidden

// Glues the rating bar to the top right corner (for extended game list view type).
.ratingbox--sticky-top-right
	position absolute
	right 40px
	top 5px