//
// Scaffolding
// --------------------------------------------------

body
	font-family $font-content
	font-weight $font-weight-normal
	font-size $font-size-normal
	-webkit-font-smoothing antialiased

