//
// Styleguide styles
// --------------------------------------------------
.styleguide

	h1.code
		font-family $font-code
		font-weight bold
		font-size 25px
		text-transform none
		padding 0 5px
		margin-top 30px
		margin-bottom 20px
		border-radius 4px
	hr
		margin-bottom 10px
	pre
		font-size $font-size-code
	.nav.nav-tabs
		margin-top 20px
	.tab-pane > pre
		margin 0

	#kss-content
		padding-bottom 30px


// Dark theme
// --------------------------------------------------
.theme-dark .styleguide


	h1.code
		background-color $color-lighter
		color black

	pre
		color $color-lighter
		border-color $color-darkest
		background-color transparent
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")


// Light theme
// --------------------------------------------------
.theme-light .styleguide

	h1.code
		background-color $color-lighter-inv
		color white

	pre
		color $color-lighter-inv
		border-color $color-darkest-inv
		background-color transparent
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")
