//
// Styleguide styles
// --------------------------------------------------


.styleguide

	h1.code
		font-family $font-code
		font-weight bold
		font-size 25px
		text-transform none
		padding 0 5px
		margin-top 30px
		border-radius 4px

	&.theme-dark

		h1.code
			background-color $color-lighter
			color black

	&.theme-light

		h1.code
			background-color $color-lighter-inv
			color white
