// Thumbnails
//
// Styleguide 13


// Overview
//
// These are overrides for [Bootstrap's thumbnail component](http://getbootstrap.com/components/#thumbnails)
// which is more about aligning thumbnails than dealing with actual thumbnail.
// For the latter, see the [images](/styleguide/sections/13.1) documentation.
//
// Styleguide 13.1
.thumbnail
	border none

// Avatars
//
// Avatars under the "authors" panel
//
// Markup:
// <div class="thumbnail {$modifiers}">
//   <div class="img img-avatar loaded" img-bg="/images/styleguide_square.jpg"></div>
//   <div class="caption">
//     <user class="center-block">username</user>
//     <i class="center-block">Title</i>
//   </div>
// </div>
//
// .thumbnail--avatar    - Authors
//
// Styleguide 13.2
.thumbnail.thumbnail--avatar
	width 130px
	margin-bottom 0
	> .img
		margin 0 auto
	.caption
		text-align center
