//
// Thumbnails
// --------------------------------------------------
// see http://getbootstrap.com/components/#thumbnails

.thumbnail
	border none

// Avatars under the "authors" panel
.thumbnail.thumbnail--avatar
	width 130px
	margin-bottom 0
	> .img
		margin 0 auto
	.caption
		text-align center
