// Typography
//
// Below are different text styles used on VPDB.
//
// Styleguide 2

// Body
body
	font-family $font-content
	font-weight $font-weight-normal
	font-size $font-size-normal
	-webkit-font-smoothing antialiased

// Headings
//
// Styleguide 2.1


// Standard Headings
//
// Your standard, everyday headings. The pure headers define font, weight and absolute
// size, while the modifiers take care of color, relative size and special positioning.
// Note that `.h4` headers are usually used by panel headers. Also note that headers are
// per default oneliners, i.e. they don't line wrap but are cut off with an ellipsis.
//
//   * Color - `.h--primary`, `.h--lighter` which changes the color, leaving type and size as-is
//   * Size -  `.h--small`, `.h--smaller` which changes the size, leaving the type and color as-is
//
// .             - Default styles
// .h--primary   - Header in primary color
// .h--lighter   - Header in lighter color
// .h--small     - Small font size (only `h1` and `h2` affected)
// .h--smaller   - Smaller font size (only `h1` and `h2` affected)
// .h--no-margin - Without margin, when padding is given by parent.
// .h--code      - With code type face
//
// Markup:
// <h1 class="{$modifiers}">Heading h1</h1>
// <h2 class="{$modifiers}">Heading h2</h2>
// <h3 class="{$modifiers}">Heading h3</h3>
// <h4 class="{$modifiers}">Heading h4</h4>
// <h5 class="{$modifiers}">Heading h5</h5>
// <h6 class="{$modifiers}">Heading h6</h6>
//
// Styleguide 2.1.1

// Page headers, Sidebar header, anything that is upper case and title font
h1
	font-family $font-header
	font-size $font-size-larger-alt
	font-weight $font-weight-normal-alt
	text-transform uppercase

// Release title
h2
	font-family $font-content
	font-weight $font-weight-bold
	font-size $font-size-largest
	text-transform none

// Huge modal title
h3
	font-family $font-content
	font-weight $font-weight-thin
	font-size $font-size-huge
	text-transform none
	margin-bottom 15px

// Panel headers
h4, .panel-title
	font-family $font-content
	font-weight $font-weight-bold
	font-size $font-size-normal
	text-transform uppercase

// Small sidebar headers
h5
	font-family $font-content
	font-weight $font-weight-normal
	font-size $font-size-normal
	text-transform uppercase
h6
	font-family $font-content
	font-weight $font-weight-bold
	font-size $font-size-normal
	text-transform none

h1.h--small
	font-size $font-size-normal-alt
h2.h--small
	font-size $font-size-larger
h1.h--smaller
	font-size $font-size-small-alt
h2.h--smaller
	font-size $font-size-large
h4.h--large
	font-size $font-size-large
.h--code
	font-family $font-code


// Pre Headings
//
// Sometime you want to prefix a heading with something. Works well with `h4`:
//
// Markup:
// <span class="{$modifiers}">Playfield</span>
// <h4 class="h--large">Screenshot</h4>
//
// .pre-h4            - Header prefix
//
// Styleguide 2.1.2
.pre-h4
	text-transform uppercase
	font-size $font-size-smaller
	font-weight $font-weight-normal
	display block
	margin-bottom -10px



// Make all headings oneliner with ellipsis (except h4, which causes weird behavior in panel heading)
h1, h2, h3, h5, h6
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	line-height normal

h1, h2, h3, h4, h5, h6
	&.h--no-margin
		margin 0
	&.h--shift-up
		margin -10px 0 5px

// Fix vertical position of floating h
h1 + h1.pull-right
	margin-top -48px
	margin-bottom 0

// icons within h2
h2.h--smaller > .fa-2x
	font-size 30px

.text--large
	font-size $font-size-large

// User links
user
	font-weight $font-weight-bold
	transition color $animation-short
	cursor pointer

// Icon special cases
.icon-ipdb--huge
	font-size 50px
	& + span
		line-height 56px
		margin-left 7px
		vertical-align top

code, kbd, pre, samp
	font-family $font-code