// Typography
//
// Below are different text styles used on VPDB.
//
// Styleguide 1.2


// Headings
//
// Your standard, everyday headings. The pure headers define font, weight and absolute
// size, while the modifiers take care of color, relative size and special positioning.
// Note that `.h4` headers are usually used by panel headers.
//
//   * Color - `.h--primary` which changes the color, leaving type and size as-is
//   * Size -  `.h--small` which changes the size, leaving the type and color as-is
//
// .             - Default styles
// .h--primary   - Header in primary color
// .h--small     - Small font size (80%)
// .h--smaller   - Smaller font size
// .h--no-margin - Without margin, when padding is given by parent.
//
// Markup:
// <h1 class="{$modifiers}">Heading h1</h1>
// <h2 class="{$modifiers}">Heading h2</h2>
// <h3 class="{$modifiers}">Heading h3</h3>
// <h4 class="{$modifiers}">Heading h4</h4>
// <h5 class="{$modifiers}">Heading h5</h5>
//
// Styleguide 1.2.1

// Page headers, Sidebar header, anything that is upper case and title font
h1
	font-family $font-header
	font-size $font-size-larger-alt
	font-weight $font-weight-normal-alt
	text-transform uppercase
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

// Release title
h2
	font-family $font-content
	font-weight $font-weight-bold
	font-size $font-size-largest
	text-transform none

// Huge modal title
h3
	font-family $font-content
	font-weight $font-weight-thin
	font-size $font-size-huge
	text-transform none
	margin-bottom 15px

// Panel headers
h4
	font-family $font-content
	font-weight $font-weight-bold
	font-size $font-size-normal
	text-transform uppercase

// Small sidebar headers
h5
	font-family $font-content
	font-weight $font-weight-normal
	font-size $font-size-normal
	text-transform uppercase

h1.h--small
	font-size $font-size-normal-alt

h1, h2, h3, h4, h5, h6
	&.h--no-margin
		margin 0

// Panel headings
// -------------------------
.panel__h-alpha // formerly: .panel h1
	margin-top 0
	font-size $font-size-largest
	font-family $font-content
	font-weight $font-weight-bold
	text-transform none

.panel__h-beta // formerly: .panel h3
	font-size $font-size-larger
	font-family $font-header
	font-weight $font-weight-normal-alt
	text-transform uppercase
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

.panel__h-gamma // formerly: .panel-header > h1
	margin 10px auto
	font-family $font-content
	font-size $font-size-larger
	font-weight $font-weight-bold

.panel--banner__h3
	font-size $font-size-larger
	font-family $font-header
	font-weight $font-weight-normal-alt
	text-transform uppercase
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

// User links
user
	font-weight $font-weight-bold
	transition color animation-short
	cursor pointer
