//
// Utility classes
// --------------------------------------------------


// Spaces
// --------------------------------------------------

.no-space-top
	margin-top 0 !important

// Usually used after icons when there's text beside.
.space-right
	margin-right 10px
.space-right-less
	margin-right 5px
.space-right-2x
	margin-right 15px
.panel-heading > h4 .space-right
	margin-right 5px
.space-left
	margin-left 7px
.space-left-2x
	margin-left 15px
.space-left-abs
	position absolute
	left 48px

// Padding classes
.padder
	padding 15px
.padder-notop
	padding 0 15px 15px
.padder-top
	margin-top 15px
.padder-top-2x
	margin-top 30px
.padder-top-3x
	margin-top 50px
.padder-nobottom
	padding 15px 15px 0 15px
.padder-bottom
	margin-bottom 15px !important
.padder-bottom-2x
	padding-bottom 30px
.padder-left
	margin-left 15px
.padder-horizontal
	padding-left 5px
	padding-right 5px
.padder-horizontal-3x
	padding-left 15px
	padding-right 15px

// Shifting classes
.shift-down
	margin-top 6px
	margin-bottom -6px

.transparent
	color transparent !important
	fill transparent !important

// Misc
// ----------------------------------------------------------

// Angular classes
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display none !important

.rel-pos
	position relative

// Staging marker
.staging-bar
	background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2VjODQzZCI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC43NSkiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC43NSkiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")

// One liner with ellipsis
.oneliner
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

// Sometimes, we'd like to wrap markdown-rendered text without breaking lines
.nobreak
	display inline
	> p
		display inline

.fullwidth
	width 100%

.nopointer
	cursor default

// line-height hack (adds 1px padding before EVERY div - wtf?)
//div
	//-webkit-padding-before 1px

// Style Guide
// -------------------------
.btn-theme-toggle
	position fixed
	bottom 5px
	right 20px

.multiline-wrapper
	margin-top -5px
	> *
		margin-top 5px