//
// Variables
// --------------------------------------------------


//== Typography
//
$font-header = 'langdon', sans-serif
$font-content = 'brandon-grotesque', sans-serif
$font-code = Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-weight-thin = 100
//font-weight-extralight = 200
//font-weight-light = 300
$font-weight-normal = 300
//font-weight-medium = 500
//font-weight-semibold = 600
$font-weight-bold = 700
//font-weight-extrabold = 800
//font-weight-ultrabold = 900

// primary font sizes (font-content)
$font-size-smaller = 16px
$font-size-small = 18px
$font-size-normal = 20px
$font-size-large = 24px
$font-size-larger = 28px
$font-size-largest = 34px

// alt font sizes (font-header)
$font-size-smaller-alt = 24px
$font-size-small-alt = 26px
$font-size-normal-alt = 32px
$font-size-large-alt = 34px
$font-size-larger-alt = 37px

// code font size
$font-size-code = 16px

// alt font weights
$font-weight-light-alt = 400
$font-weight-normal-alt = 500

$animation-long = 350ms
$animation-short = 200ms
$animation-shorter = 100ms

$panel-sidebar-width = 175px
$list-sidebar-width = 170px
$list-square-width = 120px

$border-radius-small = 2px
$border-radius-large = 8px
