//
// Variables
// --------------------------------------------------


//== Typography
//
$font-header = 'langdon', sans-serif
$font-content = 'brandon-grotesque', sans-serif
$font-code = Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-weight-thin = 100
$font-weight-normal = 300
$font-weight-bold = 700

// primary font sizes (font-content)
$font-size-smaller = 16px
$font-size-small = 18px
$font-size-normal = 20px
$font-size-large = 24px
$font-size-larger = 28px
$font-size-largest = 34px
$font-size-huge = 38px

// alt font sizes (font-header)
$font-size-smaller-alt = 22px
$font-size-small-alt = 26px
$font-size-normal-alt = 30px
$font-size-large-alt = 34px
$font-size-larger-alt = 37px

// code font size
$font-size-code = 16px

// alt font weights
$font-weight-light-alt = 400
$font-weight-normal-alt = 500

//== Colors
//
$color-black = black
$color-background = #211f1d
$color-darkest = rgba(white, 0.06)
$color-darker = rgba(white, 0.15)
$color-dark = rgba(white, 0.2)
$color-light = rgba(white, 0.25)
$color-lightish = rgba(white, 0.32)
$color-lighter = rgba(white, 0.5)
$color-lightest = rgba(white, 0.75)
$color-primary = #ec843d
$color-primary-light = #ffa364
$color-primary-dark = #c76f33
$color-primary-black = rgba(154, 62, 0, 0.65)
$color-primary-black-light = rgba(154, 62, 0, 0.75)

$color-background-inv = #e3e1de
$color-darkest-inv = rgba(black, 0.04)
$color-darker-inv = rgba(black, 0.15)
$color-dark-inv = rgba(black, 0.2)
$color-light-inv = rgba(black, 0.25)
$color-lightish-inv = rgba(black, 0.4)
$color-lighter-inv = rgba(black, 0.5)
$color-lightest-inv = rgba(black, 0.75)

$color-navbar = rgba(26, 25, 23, 0.8)
$color-navbar-inv = rgba(26, 25, 23, 0.9)

$color-danger = rgba(87, 32, 21, 0.85)
$color-success = rgba(32, 87, 21, 0.85)

//== Animation
//
$animation-long = 350ms
$animation-short = 200ms
$animation-shorter = 100ms


//== Dimensions
//
$panel-sidebar-width = 175px
$list-sidebar-width = 170px
$list-square-width = 120px

$border-radius-small = 2px
$border-radius-large = 8px
