//@import "nib";
@import "variables";
@import "mixins";

// Core CSS
//
// Reusable elements that can be used across the site.
//
// Styleguide 1.
@import "scaffolding";
@import "type";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
//
// Reusable components that can be used across the site.
//
// Styleguide 2.
@import "dropdowns";
@import "navs";
@import "navbar";
@import "labels";
@import "lists";
@import "thumbnails";
@import "media";
@import "images";
@import "ratings";
@import "markdown";

// Panels
//
// Where stuff gets wrapped into.
//
// Styleguide 3.
@import "panels";

// Animations
@import "flipbox";
@import "animations";

// Components w/ JavaScript
@import "modals";

// Utility classes
@import "utilities";
@import "styleguide";


// Colors
// --------------------------------------------------

// Core CSS
@import "colors/scaffolding";
@import "colors/type";
@import "colors/grid";
@import "colors/tables";
@import "colors/forms";
@import "colors/buttons";
@import "colors/colors";

// Components
@import "colors/dropdowns";
@import "colors/navs";
@import "colors/navbar";
@import "colors/labels";
@import "colors/lists";
@import "colors/thumbnails";
@import "colors/media";
@import "colors/panels";
@import "colors/images";
@import "colors/ratings";
@import "colors/markdown";

// Components w/ JavaScript
@import "colors/modals";

