.well--full-width
	padding-top 10px
	padding-left 30px
	padding-right 30px
	border none
	border-radius 0
	margin-bottom 10px

.well--dropzone
	padding-bottom 0
	transition all $animation-short
	border-top-style dashed
	border-top-width 2px
	border-top-color rgba(0,0,0,0.01)
	border-bottom-style dashed
	border-bottom-width 2px
	border-bottom-color rgba(0,0,0,0.01)

	> label
		margin-top 45px

	&.well--dragging
		border-top-color $color-primary
		border-bottom-color $color-primary
