p Drag and drop your files from the file explorer into the box below.
.panel.panel--dropzone(
	file-upload="{ type: 'release', status: meta.files, onSuccess: onFileUpload, allowedExtensions: ['vpt', 'vpx', 'mp3', 'vbs', 'txt', 'md', 'rar', 'zip'], allowMultipleFiles: true, disableSelect: true }"
	ngf-drag-over-class="'panel--dragging'",
	ng-class="{ error: filesError }"
)

	ul.list--files
		li.panel(ng-repeat="file in meta.files")
			.col--list-files-left
				+icon('{{ file.icon }}').svg-4x
			.col--list-files-right
				.col-md-12
					.block.text--large: strong {{ file.name }}
					.block.text--large(ng-hide="file.uploading") {{ file.bytes | bytes }}
					uib-progressbar.progress-striped.active(value="file.progress", ng-show="file.uploading")
			+icon('trash')(ng-click="removeFile(file)", ng-hide="file.uploading")

	label.center-block.text-center: small: i Drop your files in here.

.alert.alert-danger.padder-bottom(ng-show="filesError")
	+icon('warning').shift-up.space-right
	| {{ filesError }}

p Note that files of a release are structured, i.e. there are only certain file types allowed:
ul
	li <code>.vpt</code> / <code>.vpx</code> - The table file of the release. You can upload multiple of those
		| if you have multiple flavors ready to release (see step {{ step.flavors }} below)
	li <code>.vbs</code> - Table scripts, located in the <i>Scripts</i> folder
	li <code>.mp3</code> - External game music, located in the <i>Music</i> folder
	li <code>.zip</code> / <code>.rar</code> - When downloading the release as an archive, these will be
		| extracted into the <i>Tables</i> folder before adding them to the archive. However, if files
		| in your .zip or .rar file are located at the root of the archive, they will be extracted into
		| a folder named after the your .zip or .rar file.
	li <code>.txt</code> / <code>.md</code> - Note that your release will be in any case packaged with a
		| README file generated from the description you provide below. There will also be a file about
		| authors and acknowledgements distributed with every download. Thus, it is recommended to use text
		| files only for configuration or other technical usages when necessary.

script(id="template/timepicker/timepicker.html", type="text/ng-template")
	table(style="margin:-28px 0")
		tbody
			tr.text-center
				td
					a(ng-click="incrementHours()")
						+icon('angle-up').small
				td  
				td
					a(ng-click="incrementMinutes()")
						+icon('angle-up').small
				td(ng-show="showMeridian")
			tr
				td.form-group(style="width:50px;", ng-class="{'has-error': invalidHours}")
					input.form-control.text-center(type="text", ng-model="hours", ng-change="updateHours()", ng-mousewheel="incrementHours()", ng-readonly="readonlyInput", maxlength="2")
				td: b &nbsp;:&nbsp;
				td.form-group(style="width:50px;", ng-class="{'has-error': invalidMinutes}")
					input.form-control.text-center(type="text", ng-model="minutes", ng-change="updateMinutes()", ng-readonly="readonlyInput", maxlength="2")
				td(ng-show="showMeridian")
					button.btn.btn-default.text-center(type="button", ng-click="toggleMeridian()") {{meridian}}
			tr.text-center
				td
					a(ng-click="decrementHours()")
						+icon('angle-down').small
				td  
				td
					a(ng-click="decrementMinutes()")
						+icon('angle-down').small
				td(ng-show="showMeridian")
