include ../template/_mixins
.row.row--fullheight(ng-controller="ReleaseFileAddCtrl")
	.col-sm-9.col--main
		h1.h--primary Upload new files
		hr.hr--primary
		p Here you can either upload additional flavors for an existing version or upload a new version of you release.

		.row: .col-sm-10.col-sm-offset-1
			select.form-control.pull-right(ng-disabled="mode == 'newVersion'")
				option(ng-repeat="version in release.versions") {{ version.version }}
			.radio--lg: label
				input.input-lg(type="radio", name="mode", value="newFile", ng-model="meta.mode")
				span.aligned Existing version

			input.form-control.width-md.pull-right(type="text", ng-disabled="meta.mode == 'newFile'", ng-model="version.version", placeholder="x.x.x")
			.radio--lg: label
				input(type="radio", name="mode", value="newVersion", ng-model="meta.mode")
				span.aligned New version

			.form-group(ng-show="meta.mode == 'newVersion'")
				label.control-label(for="version") Release Information
				tabset.tabset--light
					label.label--small.pull-right(markdown-info="Markdown enabled.")
					tab
						tab-heading(title="Write"): +icon('edit')
						textarea.textarea--full.msd-elastic(placeholder="Release Information", ng-model="release.versions[0].changes")
					tab
						tab-heading(title="Preview"): +icon('eye')
						div.markdown(markdown="release.versions[0].changes")
						label.tab__label(ng-show="!release.versions[0].changes || release.versions[0].changes.length == 0") Nothing to preview.
				i This will show up in the release's change log


		//---------------------------------------------------------------------
		h1 1. Upload Files
		hr

		include add-01-upload-files

		//---------------------------------------------------------------------
		h1 2. Define your Flavors
		hr

		include add-03-flavors

		//---------------------------------------------------------------------
		h1 3. Set Compatibility
		hr

		include add-05-compat

		//---------------------------------------------------------------------
		h1 4. Upload Media
		hr

		include add-07-upload-media

		//------------------------- FINISH LINE -------------------------------
		//---------------------------------------------------------------------
		hr
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="errors && errors.__count")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Add New Release
		.clearfix
		//- TODO fix
		p &nbsp;
	.col-sm-3.col--menu
		img.img--logo(ng-show="game.media.logo.url", ng-src="{{ game.media.logo.url }}")
		h3.h--multiline.text-center {{ game.title }}
		.text-center {{ release.name }}
