p Can this release be freely modded?

.row.row--fullwidth.row--no-margin
	.col-md-offset-1.col-md-11

		.radio--lg
			label
				input(type="radio", name="license", value="by-sa", ng-model="release.license")
				span Yes, release can be modded when properly credited

	.col-md-offset-1.col-md-11
		.radio--lg
			label
				input(type="radio", name="license", value="by-nd", ng-model="release.license")
				span No, relesase can only be modded with explicit permission

div.alert.alert-danger.padder-bottom(ng-show="errors.license")
	+icon('warning').shift-up.space-right
	| {{ errors.license }}