p A flavor defines attributes that are relevant to the table file, so users can find more easily what they're
	| interested in. You can upload multiple flavors by adding several <code>.vpt</code> or
	| <code>.vpx</code> files in step 1.
ul.list--files
	li.panel(ng-repeat="file in meta.files | fileext:['vpt','vpx']", ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)].flavor }")
		.col--list-files-left
			+icon('{{ file.icon }}').svg-4x
		.col--list-files-right
			.col-md-12
				.block.text--large: strong {{ file.name }}
				hr.hr--margin-smaller
				table.table--inner-border
					tr(ng-repeat="flavor in flavors")
						th.text--large {{ flavor.header }}
						td(ng-repeat="flavorVal in flavor.values | allowedFlavors:file")
							.radio--lg-twoliner.radio-inline
								label(orientation-check="{ flavor: flavor, file: file, files: mediaFiles, metaFiles: meta.mediaFiles, flavorVal: flavorVal, metaLinks: meta.mediaLinks }")
									input(type="radio", name="{{ file.name + flavor.header }}", value="{{ flavorVal.value }}", ng-model="file.flavor[flavor.name]")
									span {{ flavorVal.name }}
									span: i {{ flavorVal.other }}
		.clearfix
		.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)].flavor.orientation")
			+icon('warning').shift-up.space-right
			| {{ errors.versions[0].files[meta.files.indexOf(file)].flavor.orientation }}
		.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)].flavor.lightning")
			+icon('warning').shift-up.space-right
			| {{ errors.versions[0].files[meta.files.indexOf(file)].flavor.lightning }}
.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
	+icon('warning').shift-up.space-right
	i Upload <code>.vpt</code>/<code>.vpx</code> files under 1. before defining flavors.
