include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseAddCtrl")
	.col-sm-9.col--main

		.alert.alert-danger(ng-show="mpuRestriction")
			+icon('warning').space-right.shift-up
			b Game Restriction <br>
			| This is a {{ game.mpu.short }} game. In order to respect the industry, we don't allow users to download {{ game.mpu.short }} games. You still can upload releases but be aware that only you will able to see them until the situation changes.

		h1.h--primary Add a new Release
		hr.hr--primary

		.alert.alert--rounded.alert--aligned(ng-show="showHelp")
			+icon('info')
			p(ng-hide="mpuRestriction") We're excited to host your release! What you're going to need is the table file and a high resolution screenshot, but we'll guide you through that below.
			p If this is the first time you're uploading a release, read carefully through the instructions. You can hit refresh or quit this page (even the browser) and what you've entered will be restored any time you come back.

		//---------------------------------------------------------------------
		h1 1. Upload Files
		hr

		include add-01-upload-files

		//---------------------------------------------------------------------
		h1 2. Name your Release
		hr

		include add-02-name

		//---------------------------------------------------------------------
		h1 3. Define your Flavors
		hr

		include add-03-flavors

		//---------------------------------------------------------------------
		h1 4. Describe your Release
		hr
		.form-group
			editor.tabset--light(ng-model="release.description", placeholder="Description of the release", markdown-text="Markdown enabled. This will show up globally under your release.")

		include add-04-release-notes

		//- AUTHORS
		//---------------------------------------------------------------------
		h4
			+icon('user').shift-up.space-right
			| Authors
		hr.hr--light.hr--margin-small

		include add-04-authors

		//- TAGS
		//---------------------------------------------------------------------
		h4
			+icon('tags').shift-up.space-right
			| Tags
		hr.hr--light.hr--margin-small

		include add-04-tags

		//- LINKS
		//---------------------------------------------------------------------
		h4
			+icon('link').shift-up.space-right
			| Links
		hr.hr--light.hr--margin-small

		include add-04-links

		//---------------------------------------------------------------------
		h1 5. Set Compatibility
		hr

		include add-05-compat

		//---------------------------------------------------------------------
		h1 6. Give Credits
		hr

		include add-06-credits

		//---------------------------------------------------------------------
		h1 7. Upload Media
		hr

		include add-07-upload-media

		//------------------------- FINISH LINE -------------------------------
		//---------------------------------------------------------------------
		hr
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="errors && errors.__count")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()", ng-disabled="submitting") Add New Release
		.clearfix

		//- TODO fix
		p &nbsp;

	.col-sm-3.col--menu
		img.img--logo(ng-show="game.logo.url", ng-src="{{ game.logo.variations['medium' + pixelDensitySuffix].url }}")
		h3.h--multiline.text-center {{ game.title }}
		.text-center {{ game.manufacturer }} · {{ game.year }}

		hr
		input#showHelp.checkbox--toggle(type='checkbox', ng-model="showHelp")
		label(for="showHelp")
		label.a.a--light.padder-bottom(for="showHelp") Show Instructions
		.clearfix
