p Drag and drop your files from the file explorer into the box below.
.panel.panel--dropzone(
	file-upload="{ type: 'release', status: meta.files, beforeUpload: beforeFileUpload, onSuccess: onFileUpload, allowedExtensions: ['vpt', 'vpx', 'mp3', 'vbs', 'txt', 'md', 'rar', 'zip'], allowMultipleFiles: true, disableSelect: true }"
	ngf-drag-over-class="'panel--dragging'",
	ng-class="{ error: filesError }"
)
	ul.list--files
		li.panel(ng-repeat="file in meta.files")
			.col--list-files-left
				+icon('{{ file.icon }}').svg-4x
			.col--list-files-right
				.col-md-12
					.block.text--large: strong {{ file.name }}
					.block.text--large(ng-hide="file.uploading") {{ file.bytes | bytes }}
					uib-progressbar.progress-striped.active(value="file.progress", ng-show="file.uploading")
			+icon('trash')(ng-click="removeFile(file)", ng-hide="file.uploading")

	label.center-block.text-center: small: i Drop your files in here.

.alert.alert-danger.padder-bottom(ng-show="filesError")
	+icon('warning').shift-up.space-right
	| {{ filesError }}

.alert.alert--rounded.alert--aligned(ng-show="showHelp")
	+icon('info')
	p At VPDB, we do the packaging of your release ourselves so when downloading, we can place the files according to each user's preferences. For a table release, the following file types are allowed:
	table.table.table--
		colgroup
			col(width="35px")
			col
			col
		thead
			tr
				th(colspan="2") Type
				th Description
		tbody
			tr
				td
					+icon('ext-vpx').svg-2x
				td <code>.vpt</code> <code>.vpx</code>
				td The table file of the release. You can upload multiple of those if you have multiple flavors ready to release (see step {{ step.flavors }} below)
			tr
				td
					+icon('ext-code').svg-2x
				td <code>.vbs</code>
				td External table scripts, located in the <i>Scripts</i> folder
			tr
				td
					+icon('ext-audio').svg-2x
				td <code>.mp3</code>
				td External game music, located in the <i>Music</i> folder
			tr
				td
					+icon('ext-zip').svg-2x
				td <code>.zip</code> <code>.rar</code>
				td When downloading the release as an archive, these will be extracted into the <i>Tables</i> folder before adding them to the archive. However, if files in your .zip or .rar file are located at the root of the archive, they will be extracted into a folder named after the your .zip or .rar file.
			tr
				td
					+icon('ext-txt').svg-2x
				td <code>.txt</code>
				td Note that your release will be in any case packaged with a Readme file generated from the description you provide below. There will also be a file about authors and acknowledgements distributed with every download. Thus, it is recommended to use text files only for configuration or other technical usages when necessary.

include ../template/timepicker