i.pull-left(ng-show="release.authors.length == 0") No authors added.
.row--fullwidth
	.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in release.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
		.media-left.media-middle
			img.img-avatar.img-avatar--sm(gravatar-src="meta.users[author._user].gravatar_id", gravatar-default="404", fallback-icon="user")
		.media-body
			h6.h--no-margin.h--lighter.media-heading {{ meta.users[author._user].name }}
			span {{ author.roles.join(', ') }}
		.media--edit-panel.fade-animation(ng-show="hovering")
			+icon('pencil').pos-pencil.a.smaller(ng-click="addAuthor(author)")
			+icon('trash').pos-trash.a.smaller(ng-click="removeAuthor(author)")
button.btn.btn-default.padder-top.pull-right(ng-click="addAuthor()")
	+icon('plus-circle').space-right
	| Add Author
.clearfix.padder-bottom
.alert.alert-danger.padder-bottom(ng-show="errors.authors")
	+icon('warning').shift-up.space-right
	| {{ errors.authors }}
p Note that you can add acknowledgements below for people who provided help or resources but are not considered
	| as authors for that particular release.
