.alert.alert--rounded.alert--aligned(ng-show="showHelp")
	+icon('info')
	p Here you can let users know which versions of Visual Pinball your release supports. For every uploaded file, check which build you feel confident with.

ul.list--files
	li.panel(ng-repeat="file in meta.files | fileext:['vpt','vpx']", , ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._compatibility }")
		.container
		.col--list-files-left
			+icon('{{ file.icon }}').svg-4x
		.col--list-files-right
			.col-md-12
				.block.text--large: strong {{ file.name }}
				hr.hr--margin-smaller
			.col-md-4
				span
					span Official Releases
				hr.hr--thin.hr--margin-small
				.simple-list(ng-repeat="build in builds.release | filter:{is_range:false}")
					input.checkbox--check(ng-checked="getReleaseFile(file)._compatibility.indexOf(build.id) > -1", ng-click="toggleBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
					label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
			.col-md-4
				span
					span Nightly Builds
				hr.hr--thin.hr--margin-small
				.simple-list(ng-repeat="build in builds.nightly | filter:{is_range:false}")
					input.checkbox--check(ng-checked="getReleaseFile(file)._compatibility.indexOf(build.id) > -1", ng-click="toggleBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
					label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
			.col-md-4
				span
					span Test Builds
				hr.hr--thin.hr--margin-small
				.simple-list(ng-repeat="build in builds.experimental | filter:{is_range:false}")
					input.checkbox--check(ng-checked="getReleaseFile(file)._compatibility.indexOf(build.id) > -1", ng-click="toggleBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
					label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
			.col-md-12
				p.padder-top
				button.btn.btn-default.pull-right(ng-click="addBuild()")
					+icon('plus-circle').space-right
					| Add Another
		.clearfix
		.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)]._compatibility")
			+icon('warning').shift-up.space-right
			| {{ errors.versions[0].files[meta.files.indexOf(file)]._compatibility }}
		p.padder-top(ng-hide="errors.versions[0].files[meta.files.indexOf(file)]._compatibility")

.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
	+icon('warning').shift-up.space-right
	i Upload <code>.vpt</code>/<code>.vpx</code> files under {{ step.files }}. before setting compatibility.
