.col-lg-6.col-md-12(ng-repeat="release in releases", ng-click="navGame(release.game.id)")
	.panel.panel--animated.ng-cloak
		.clearfix
		.col--list-mini-left
			.img.img--ar-square.img--rounded-left(img-bg="release.latest_version.thumb.image.url")
		.col--list-mini-right
			h1.h--small.h--no-margin {{ release.game.title }}
			label.label--block {{ release.name }}
			span.small.pull-left by {{ release.authors[0].user.name }}
			span.small.pull-right.space-right(am-time-ago="release.created_at")
		.clearfix