include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseListController")

	//- main column
	.col-sm-9.col--main
		h1.h--primary Releases

		//- view type toggles
		ul.nav-icons
			li.a(ng-class="{ active: viewtype == 'compact' }")
				+icon('th-compact')(ng-click="switchview('compact')")
			li.a(ng-class="{ active: viewtype == 'extended' }")
				+icon('th-extended')(ng-click="switchview('extended')")
		hr

		//- number of games counter
		.pull-left(ng-show="releases.length > 0")
			span.small {{ pagination.count }} RELEASE{{ pagination.count == 1 ? '' : 'S' }}

		//- pagination
		.pull-right(ng-show="releases.length > 0")

			span(ng-show="pagination.links.first", ng-click="paginate(pagination.links.first)"): +icon('angle-left-skip').smaller.a.a--lighter
			span.space-left(ng-show="pagination.links.prev", ng-click="paginate(pagination.links.prev)"): +icon('angle-left').smaller.a.a--lighter
			span.small.space-left PAGE &nbsp; {{ pagination.page }} / {{ Math.ceil(pagination.count / pagination.size) }}
			span.space-left(ng-show="pagination.links.next", ng-click="paginate(pagination.links.next)"): +icon('angle-right').smaller.a.a--lighter
			span.space-left(ng-show="pagination.links.last", ng-click="paginate(pagination.links.last)"): +icon('angle-right-skip').smaller.a.a--lighter

		.clearfix.padder-bottom(ng-show="releases.length > 0")

		//- no releases
		p(ng-show="!releases.length && !loading") No releases found.

		//- loading
		p(ng-show="loading && !error") Loading...

		//- error
		p(ng-show="error") Error: {{ error }}

		//- content
		.row.ng-cloak
			.fade2-animation(ng-include="template")

	.col-sm-3.col--menu
		h1 Filter
		hr

		// search box
		.input-group.padder-bottom
			span.input-group-addon.input-group-addon--search
				+icon('search').smaller
			input.form-control.input--search(ng-model="q", type="text", placeholder="Search")

		// starred only
		span(ng-show="auth.isAuthenticated")
			input#starredOnly.checkbox--toggle(type='checkbox', ng-model="starredOnly")
			label(for='starredOnly')
			label.a.a--light.padder-bottom(for='starredOnly') Starred releases only
			.clearfix

		// filters
		uib-accordion.panel-group--transparent(close-others="false")

			// flavor filters
			uib-accordion-group.panel--inner(ng-repeat="flavor in flavors", is-open="filterFlavorOpen[flavor.name]")
				uib-accordion-heading by {{ flavor.header }}
				ul.list--checkboxes.list--condensed
					li
						.radio--lg
							label
								input(type="radio", name="{{ flavor.name }}", value="", ng-model="flavorFilter[flavor.name]", ng-change="onFlavorChange()")
								span No Filter

					li(ng-repeat="flavorVal in flavor.values")
						.radio--lg.radio--lg-twoliner
							label
								input(type="radio", name="{{ flavor.name }}", value="{{ flavorVal.value }}", ng-model="flavorFilter[flavor.name]", ng-change="onFlavorChange()")
								span {{ flavorVal.name }}
								span: i {{ flavorVal.other }}

			// tag filter
			uib-accordion-group.panel--inner(is-open="filterTagOpen")
				uib-accordion-heading by Tag
				.row
					.col-xs-6.text-center.a(ng-repeat="tag in tags" filter-tag="{{ tag.id }}", title="{{ tag.description }}") {{ tag.name }}

			// tag filter
			uib-accordion-group.panel--inner(is-open="filterBuildOpen")
				uib-accordion-heading by Compatibility
				.row
					p.space-left-2x Official:
					.col-xs-6.text-center.a(ng-repeat="build in builds | filter:{is_range:false,type:'release'}" filter-build="{{ build.id }}") {{ build.label }}
				.row
					p.space-left-2x.padder-top Experimental:
					.col-xs-6.text-center.a(ng-repeat="build in builds | filter:{is_range:false,type:'experimental'}" filter-build="{{ build.id }}") {{ build.label }}

		h1 Sort
		hr
		ul.list--sort-options
			li.a(sort="title", d="asc") Name
			li.a(sort="modified_at", d="desc") Date
			li.a(sort="rating", d="desc") Rating
			li.a(sort="popularity", d="desc") Popularity