include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('download').space-right
			| Download <strong>{{ game.title }}</strong>
	.modal-body

		//---------------------------------------------------------------------
		//- FILES
		h3.hr--margin-smaller Choose your Flavors:
		.row
			.col-sm-3(ng-repeat="file in latestVersion.files | filter:tableFile")
				.flavor-item(ng-class="{ active: downloadFiles[file.file.id] }", ng-click="toggleFile(file)")
					img.img.img-responsive.img--rounded-more(img-src="{{ file.playfield_image.variations['square-2x'].url }}")
					.text-center.padder-top
						label.label--block
							strong {{ flavors.orientation.values[file.flavor.orientation].name }},
							| &nbsp;{{ flavors.lighting.values[file.flavor.lighting].name }}
						label.label--block
							span(ng-repeat="compat in file.compatibility") {{ compat.label }}

		//---------------------------------------------------------------------
		//- MEDIA
		.row.padder-top-2x
			.col-sm-6
				p
					input#includeGameMedia.checkbox--toggle(type="checkbox", ng-model="includeGameMedia")
					label(for="includeGameMedia")
					label(for="includeGameMedia") Include game media

			.col-sm-6

				p
					input#includePlayfieldImage.checkbox--toggle(type="checkbox", ng-model="downloadRequest.playfield_image")
					label(for="includePlayfieldImage")
					label(for="includePlayfieldImage") Include playfield shots

				p
					input#includePlayfieldVideo.checkbox--toggle(type="checkbox", ng-model="downloadRequest.playfield_video")
					label(for="includePlayfieldVideo")
					label(for="includePlayfieldVideo") Include playfield videos

		//---------------------------------------------------------------------
		//- BACKGLASSES
		h3.hr--margin-smaller(ng-show="game.backglasses.length > 0") Include Backglass:
		.row(ng-show="game.backglasses.length > 0").padder-bottom-2x
			.col-sm-3(ng-repeat="backglass in game.backglasses")
				.flavor-item(ng-class="{ active: downloadRequest.backglass === backglass.id }", ng-click="selectBackglass(backglass)")
					img.img.img-responsive.img--rounded-more(img-src="{{ backglass.versions[0].file.variations['medium' + pixelDensitySuffix].url }}")
					.text-center.padder-top
						label.label--block
							strong v{{ backglass.versions[0].version }}
						label.label--block
							| by&nbsp;
							span(ng-repeat="author in backglass.authors") {{ author.user.name }}

		//---------------------------------------------------------------------
		//- ROMS
		h3.hr--margin-smaller(ng-show="roms.length > 0") Include ROMs:
		table.table.table-striped(ng-show="roms.length > 0")
			thead
				tr
					th
					th Version
					th.hidden-xs Language
					th.hidden-xs Notes
					th DLs
					th Size
			tbody
				tr(ng-repeat="rom in roms")
					td
						input.checkbox--check(id="rom-{{ rom.id }}", type="checkbox", ng-click="toggleRom(rom)")
						label(for="rom-{{ rom.id }}"): b {{ rom.id }}
					td {{ rom.version }}
					td.hidden-xs {{ rom.languages.join(', ') }}
					td.hidden-xs {{ rom.notes }}
					td {{ rom.file.counter.downloads | number }}
					td {{ rom.file.bytes | bytes }}

	.modal-footer
		button.btn.btn-hollow(ng-click="$dismiss()") Cancel
		button.btn.btn-primary(ng-click="download()") Download
