include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small Playfield image
	.modal-body

		h3.hr--margin-smaller(ng-show="images.length > 0") Choose an existing playfield image:
		.row(ng-show="images.length > 0")
			div(ng-repeat="playfield in images", ng-class="images.length > 2 ? 'col-xs-4' : 'col-xs-6'")
				.flavor-item(ng-click="$close(playfield.image)")
					img.img.img-responsive(img-src="{{ playfield.image.variations['medium' + pixelDensitySuffix].url }}")
				.text-center.padder-top
					label.label--block
						strong {{ playfield.version.version }}

	.modal-footer
		button.btn.btn-hollow(ng-click="$dismiss()") Cancel
