.row.row--fullheight(ng-controller="AdminGameAddCtrl")
	.col-sm-9.col--main
		h1.h--primary add new game
		hr
		p Note that a game is completely decoupled from its releases. Data appearing in here is common to all releases
			| that are linked to that game, but kept as a separate and independent data set.

		pre {{ game }}

		form(role="form")
			h1 1. enter title
			hr
			.form-group(ng-class="{ error: errors.title }")
				input.form-control.input-lg(type="text", placeholder="Title", ng-model="game.name")
				span.help-block No year, manufacturer or anything else, just the title. Example: <i>The Addams Family</i>.
			div.alert.alert-danger(ng-show="errors.title")
				i.fa.fa-exclamation-triangle.space-right
				| {{ errors.title }}
			h1 2. origin
			hr
			p If you’ve created the game by yourself, it’s an original game. I’ve you built a game that exists in real
				| life, it’s called a recreation. Recreations must be on IPDB.org.


			.text-center.padder-top()
				.radio-inline.radio--lg
					label
						input.input-lg(type="radio", name="origin", value="recreation", ng-model="game.origin")
						span Recreation

				.radio-inline.radio--lg
					label
						input(type="radio", name="origin", value="originalGame", ng-model="game.origin")
						span Original Game

			.clearfix
			h1 3. game info
			hr

			//----------------------
			//- form for recreations
			//----------------------
			p(ng-show="game.origin == 'recreation'") Search IPDB.org and it will populate the following fields. You can also add additional data if you have
				| more info available.

			.form-horizontal(ng-show="game.origin == 'recreation'")
				.form-group
					label.col-sm-3.control-label(for='ipdbUrl') IPDB
					.col-sm-6
						input#ipdbUrl.form-control(type="text", ng-model="ipdbUrl", placeholder="URL or Number")
						a(href="http://www.ipdb.org/search.pl?any={{ game.name | escape }}&search=Search+Database&searchtype=quick", target="_blank")
							i.fa.fa-external-link.space-right
							| Search title on IPDB.org
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="refresh()")
							i.fa.fa-refresh.space-right
							| Fetch

				.form-group
					label.col-sm-3.control-label(for='ipdbUrl') Game ID
					.col-sm-6
						.input-group
							input#ipdbUrl.form-control(type="text", ng-model="game.gameId", placeholder="Common Abbreviation", ng-change="idValidated = false")
							span.input-group-addon(ng-class="{ transparent: !idValidated }"): i.fa(class="{{ idValid ? 'fa-check': 'fa-times'}}")
						span.help-block Must be unique and contain only letters and dashes.
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="check()", ng-disabled="idValidated")
							i.fa.fa-check.space-right
							| Check

			.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10(ng-show="game.origin == 'recreation'")
				.panel(ng-show="game.year")
					.panel-heading
						h2.h--small.text-center {{ game.name }}
					.panel-body
						dl.dl-horizontal.dl--centered
							dt Manufacturer
							dd {{ game.manufacturer }}
							dt Year
							dd {{ game.year }}
							dt
						hr.hr--margin-small(ng-show="game.units || game.ipdb.rating || game.type || game.modelno")
						dl(ng-show="game.units || game.ipdb.rating || game.type || game.modelno").dl-horizontal.dl--centered
							dt(ng-show="game.ipdb.rating") IPDB Rating
							dd(ng-show="game.ipdb.rating") {{ game.ipdb.rating }}
							dt(ng-show="game.units") Production
							dd(ng-show="game.units") {{ game.units | number }} units
							dt(ng-show="game.type") Game Type
							dd(ng-show="game.type") {{ game.type | gametype }}
							dt(ng-show="game.modelno") Model Number
							dd(ng-show="game.modelno") {{ game.modelno }}
						hr.hr--margin-small(ng-show="game.designers || game.artists")
						dl(ng-show="game.designers || game.artists").dl-horizontal.dl--centered
							dt(ng-show="game.designers") Game Design
							dd(ng-show="game.designers") {{ game.designers.join(', ') }}
							dt(ng-show="game.artists") Art design
							dd(ng-show="game.artists") {{ game.artists.join(', ') }}
				.panel.panel--fixed-height-300.panel--blank(ng-hide="game.year")
					.panel-content
						i.icon.icon-ipdb.icon-ipdb--huge.space-right
						span INFO
						p
							i Click "Fetch" to load data.


			//-------------------------
			//- form for original games
			//-------------------------
			p(ng-show="game.origin == 'originalGame'") Provide some more information about your table.

			.form-horizontal(ng-show="game.origin == 'originalGame'")

				.form-group
					label.col-sm-3.control-label(for='ipdbUrl') Game ID
					.col-sm-6
						input#ipdbUrl.form-control(type="text", ng-model="game.gameId", placeholder="Common Abbreviation")
						span.help-block Must be unique and contain only letters and dashes.
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="check()")
							i.fa.fa-check.space-right
							| Check

				.form-group
					label.col-sm-3.control-label Description
					.col-sm-9
						tabset.tabset--light
							label.label--small.pull-right(markdown-info="Markdown enabled.")
							tab
								tab-heading
									i.fa.fa-edit(title="Write")
								textarea.textarea--full.msd-elastic(placeholder="Description of the original table", ng-model="game.description")
							tab
								tab-heading
									i.fa.fa-eye(title="Preview")
								div.markdown(markdown="game.description")
								label.tab__label(ng-show="!game.description || game.description.length == 0") Nothing to preview.

				.form-group
					label.col-sm-3.control-label Instructions
					.col-sm-9
						tabset.tabset--light
							label.label--small.pull-right(markdown-info="Markdown enabled.")
							tab
								tab-heading
									i.fa.fa-edit(title="Write")
								textarea.textarea--full.msd-elastic(placeholder="Put game instructions here", ng-model="game.instructions")
							tab
								tab-heading
									i.fa.fa-eye(title="Preview")
								div.markdown(markdown="game.instructions")
								label.tab__label(ng-show="!game.instructions || game.instructions.length == 0") Nothing to preview.


			.clearfix
			h1 4. Upload Media
			hr
			p Upload high quality artwork here. The backglass is mandatory but also the logo is strongly recommended.
				| Please check the image guidelines if you haven’t done so yet.

			.row.padder-top
				.col-sm-6
					.panel.panel--blank(ng-file-drop="onBackglassUpload($files)", ng-file-drag-over-class="panel--dragging")
						.panel-body
							.img.img--ar-bg.loaded(img-bg="uploadedBackglass")
								.text-center.vertical-center--100(ng-hide="uploadedBackglass")
									i.fa.fa-picture-o.fa-3x
									p Drop backglass image here
				.col-sm-6
					h4.h--large.h--no-margin Backglass
					i A few guidelines:
					ul
						li The aspect ratio should be <i>5:4</i> (or <i>1:1.25</i>)
						li Recommended resolution is <i>1280&times;1024</i>.
						li The DMD area should be cut off.
						li The image must not be stretched or upscaled.

			.row.padder-top
				.col-sm-6
					.panel.panel--blank(ng-file-drop="onLogoUpload($files)", ng-file-drag-over-class="panel--dragging")
						.panel-body
							.img.img--ar-logo.loaded(img-bg="uploadedLogo")
								.text-center.vertical-center--100(ng-hide="uploadedLogo")
									i.fa.fa-picture-o.fa-3x
									p Drop logo here
				.col-sm-6
					h4.h--large.h--no-margin Logo
					ul
						li Use the PNG format
						li Background should be transparent
						li There should be enough contrast on white as well as on black background.

			//- input(type='file', ng-file-select='onFileSelect($files)')
			//- div(ng-file-drop='onFileSelect($files)', ng-file-drag-over-class='optional-css-class', ng-show='dropSupported') drop files here
			//- div(ng-file-drop-available='dropSupported=true', ng-show='!dropSupported') HTML5 Drop File is not supported!
			//- button(ng-click='upload.abort()') Cancel Upload

			hr
			button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Add New Game
			.clearfix

			p
				br

	.col-sm-3.col--menu
		h1 drafts
		hr
		p None
