.row.row-fullheight(ng-controller="AdminUserCtrl")
	.col-sm-3.col-menu.bg-dark
		h2 filter
		hr
		// search box
		.input-group
			span.input-group-addon
				i.fa.fa-search
			input.form-control.input-search(ng-model="query", type="text", placeholder="Search")
		accordion(close-others="false")

			// role filter
			accordion-group(is-open="filterYearOpen")
				accordion-heading
					| Role
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterYearOpen, 'fa-chevron-circle-down': !filterYearOpen}")
				ul.list-group
					li.list-group-item(ng-repeat="role in roles", filter-role="{{ role.name }}") {{ role.name }}
	.col-sm-9.col-main
		h1 users
		hr

		table.table.table-striped.table-selectable
			tr(ng-repeat="user in users", ng-click="edit(user)", ng-class="{ inactive: !user.active }")
				td {{ user.name }}
				td {{ user.email }}
				td {{ user.roles.join(' ') }}
		span(ng-hide="users.length > 0") No users found.