.bg-lightest
	.modal-header
		h3
			i.fa.fa-key.space-right
			| &nbsp;Login
	.modal-body
		h1 Login with
		.text-center
			a.btn.btn-primary.btn-lg(href="#", target="_self")
				i.icon.icon-gameex.space-right
				| GameEx
			a.btn.btn-primary.btn-lg(href="/auth/github", target="_self")
				i.fa.fa-github.space-right
				| GitHub
		hr.padder-top
		h1 Or, with your Email:
		form.form-horizontal(role='form')
			.form-group
				label.col-sm-4.control-label(for='inputEmail3') Email
				.col-sm-6
					input#inputEmail3.form-control(type='email')
			.form-group
				label.col-sm-4.control-label(for='inputPassword3') Password
				.col-sm-6
					input#inputPassword3.form-control(type='password')



	.modal-footer
		button.btn.btn-default.pull-left(ng-click="$close()") Register
		button.btn.btn-default(ng-click="$close()") Cancel
		button.btn.btn-primary(ng-click="$close()") Login
