.bg-lightest
	.modal-header
		img.avatar-details(ng-src="{{ user.avatar }}")
		h3 {{ user.user }}
	.modal-body
		p more info here.


	.modal-footer
		button.btn.btn-primary(ng-click="$close()") Close
