.bg-lightest
	.modal-header
		h3
			i.fa.fa-user.space-right
			| &nbsp;{{ user.user }}
	.modal-body
		p more info here.


	.modal-footer
		button.btn.btn-primary(ng-click="$close()") Close
