include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small Request Game

	.modal-body
		p Let us know which game you'd like to be added to VPDB below.

		form.form-horizontal

			//- ipdb number
			.form-group(ng-class="{ error: errors.ipdb_number }")
				label.col-sm-4.control-label(for="ipdbNumber") IPDB Number
				.col-sm-3
					input.form-control#ipdbNumber(type="number", ng-model="gameRequest.ipdb_number")
			div.alert.alert-danger.text-left.padder-bottom(ng-show="errors.ipdb_number")
				+icon('warning').shift-up.space-right
				| {{ errors.ipdb_number }}

			//- game title
			.form-group(ng-class="{ error: errors.title }")
				label.col-sm-4.control-label(for="title") Game Title
				.col-sm-7
					input.form-control#title(type="text", ng-model="gameRequest.title")
					small optional
			div.alert.alert-danger.text-left.padder-bottom(ng-show="errors.title")
				+icon('warning').shift-up.space-right
				| {{ errors.title }}

			//- notes
			.form-group(ng-class="{ error: errors.notes }")
				label.col-sm-4.control-label(for="notes") Notes
				.col-sm-7
					textarea.form-control#notes(ng-model="gameRequest.notes")
					small optional
			div.alert.alert-danger.text-left.padder-bottom(ng-show="errors.notes")
				+icon('warning').shift-up.space-right
				| {{ errors.notes }}

		.clearfix

	.modal-footer
		button.btn.btn-hollow.pull-left(ng-click="$dismiss()") Cancel
		button.btn.btn-primary(ng-click="submit()", ng-disabled="submitting") Request Game
