include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('{{ data.icon }}').space-right
			| {{ data.title }}
	.modal-body
		p {{ data.message }}
		p.text-center: b {{ data.question }}

	.modal-footer
		button.btn.btn-default(ng-click="$close(false)") {{ data.no }}
		button.btn.btn--secondary(ng-click="$close(true)") {{ data.yes }}
