include ../template/_mixins
.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('markdown').space-right
			| Markdown Quick Guide
	.modal-body
		p
			| Markdown is an easy way to write formatted text. Fiddle below until you get the idea.
			| Check <a href="http://daringfireball.net/projects/markdown/syntax#img" target="_blank">this link</a>
			| for all the features.


		.row
			.col-sm-6
				h4 Markdown
				textarea.form-control(ng-model="mdfiddle")
			.col-sm-6
				h4 Rendered
				div.markdown(markdown="mdfiddle")
	.modal-footer
		button.btn.btn-default.pull-left(ng-click="mdfiddle = mdfiddleText") Reset
		button.btn.btn-default(ng-click="$close()") Got it!
