include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('{{ data.icon }}').space-right
			| &nbsp;{{ data.title }}
	.modal-body
		h4 {{ data.subtitle }}
		p {{ data.message }}

	.modal-footer
		button.btn.btn-default(ng-click="$close()") {{ data.close }}
