extends ../layout
block body
	.center-middle.center-middle-errorpage
		i.icon.icon-vpdb-logo-o
		h1 404
		p You tried to access&nbsp;
			code=url
			| &nbsp;but that page does not exist.

		a(href="/", target="_self")
			i.fa.fa-arrow-circle-left.space-right
			|GO HOME