extends ../layout
block body
	.center-middle.center-middle-errorpage
		i.icon.icon-vpdb-logo-o
		h1 500
		p You tried to access&nbsp;
			code=url
			| &nbsp;but there was an internal server error. If you see this, please contact an administrator.
			| We're sorry about that.

		a(href="/", target="_self")
			i.fa.fa-arrow-circle-left.space-right
			|GO HOME