include ../template/_mixins

.row.row--fullheight(ng-controller="AdminBuildCtrl")

	.col-sm-9.col--main
		h1.h--primary Builds
		hr.hr--primary

		div(ng-repeat="block in blocks")
			h3.h--no-margin {{ block.title }}
			table.table.table-striped.table--selectable
				thead
					tr
						th ID
						th Label
						th Platform
				tbody
					tr(ng-repeat="build in block.builds", ng-click="edit(build)")
						td {{ build.id }}
						td {{ build.label }}
						td {{ build.platform }}{{ build.major_version }}
			span(ng-hide="block.builds.length > 0") No builds found.

	.col-sm-3.col--menu

		p.padder-top-3x These are the builds that can be linked to the compatibility field of the table file of a release.

		button.btn.btn-default.padder-top-2x(ng-click="add()")
			+icon('plus-circle').space-right
			| Create new