include ../template/_mixins
include form

.theme-light
	.modal-header
		h1.h--small.h--no-margin
			+icon('package').space-right
			| Update Build <strong>{{ id }}</strong>
	.modal-body

		+buildForm(true)

		h3 Referenced Releases
		div(ng-repeat="release in releases")
			.panel.padder-bottom
				.clearfix
				.img.img--ar-square.img--xs.img--rounded-left.pull-left.space-right(img-bg="release.thumb.image.url")
				a.a.a--lighter.list--oneliner(ui-sref="releaseDetails({id: release.game.id, releaseId: release.id})", ng-click="$dismiss()") <b>{{ release.game.title }}</b> &middot; {{ release.name }}
				.clearfix
		p(ng-show="releases.length === 0"): i No referenced releases found.
		p(ng-show="pagination.count > pagination.size"): i: a.a.a--lighter(ui-sref="releases({ builds: build.id })") Browse all ~{{ pagination.count }} releases.
		.clearfix

	.modal-footer
		button.btn.btn-hollow.pull-left(ng-click="$close()") Cancel
		button.btn.btn-default.space-right(ng-click="reset()") Reset
		button.btn.btn-primary(ng-click="save()") Update
