include ../template/_mixins
.center-middle.center-middle-errorpage
	+icon('vpdb-o').svg-huge
	h1=code
	p You tried to access&nbsp;
		code {{ currentUrl }}
		| .&nbsp;
		code {{ message }}
	a(ui-sref="home")
		+icon('arrow-circle-left').shift-up-2x.space-right
		| GO HOME
	p.padder-bottom