include ../template/_mixins
.center-middle.center-middle-errorpage
	+icon('vpdb-o').svg-huge
	h1 404
	p You tried to access&nbsp;
		code {{ currentUrl }}
		| &nbsp;but you don't have the permission to do that. If you've clicked on a link and you're receiving this
		| page, please contact an administrator.

	a(ui-sref="home")
		+icon('arrow-circle-left').shift-up-2x.space-right
		|GO HOME
	p.padder-bottom