include ../template/_mixins
extends ../layout
block body
	.center-middle.center-middle-errorpage
		i.icon.icon-vpdb-logo-o
		h1 403
		p You tried to access&nbsp;
			code {{ currentUrl }}
			| &nbsp;but you don't have the permission to do that. If you've clicked on a link and you're receiving this
			| page, please contact an administrator.

		a(href="/", target="_self")
			+icon('arrow-circle-left').shift-up-2x.space-right
			|GO HOME