include ../template/_mixins
.center-middle.center-middle-errorpage
	+icon('vpdb-o').svg-huge
	h1 404
	p You tried to access&nbsp;
		code {{ currentUrl }}
		| &nbsp;but that page does not exist.

	a(ui-sref="home")
		+icon('arrow-left').shift-up-2x.space-right
		|GO HOME

	p.padder-bottom