include ../template/_mixins
.center-middle.center-middle-errorpage
	+icon('vpdb-o').svg-huge
	h1 404
	p You tried to access&nbsp;
		code=url
		| &nbsp;but there was an internal server error. If you see this, please contact an administrator.
		| We're really sorry about that.
	a(ui-sref="home")
		+icon('arrow-left').shift-up-2x.space-right
		| GO HOME
	p.padder-bottom