include ../template/_mixins
extends ../layout
block body
	.center-middle.center-middle-errorpage
		i.icon.icon-vpdb-logo-o
		h1 Whoopsie.
		p
			| Seems the site is down, probably under maintenance. If it's not back in a few minutes or if you see
			| this regularily, please drop me a mail at <href="mailto:freezy@xbmc.org">freezy@xbmc.org</a>.

		a(href=".", target="_self")
			+icon('arrow-circle-left').shift-up-2x.space-right
			|RETRY