include ../template/_mixins
.center-middle.center-middle-errorpage
	+icon('vpdb-o').svg-huge
	h1 Whoopsie.
		p
			| Seems the site is down, probably under maintenance. If it's not back in a few minutes or if you see
			| this regularly, please drop me a mail at <href="mailto:freezy@xbmc.org">freezy@xbmc.org</a>.
	a(href=".", target="_self")
		+icon('arrow-left').shift-up-2x.space-right
		| RETRY
	p.padder-bottom