include template/_mixins
extends navbar

block navbar
	ul.nav.navbar-nav
		li(ng-class="{ active: menu == 'home' }")
			a(ui-sref="home") Home
		li(ng-class="{ active: menu == 'games' }")
			a(ui-sref="games") Games
		li.dropdown(ng-class="{ active: menu == 'admin' }", ng-show="auth.hasRole(['root', 'admin'])", on-toggle="toggled(open)", dropdown)
			a.space-right.dropdown-toggle(dropdown-toggle)
				span.space-right-2x Admin
				+icon('angle-down').smaller.shift-up
			ul.dropdown-menu(role="menu")
				li
					a(ui-sref="adminUsers")
						+icon('users').space-right.shift-up
						span Users

	ul.nav.navbar-nav.navbar-right
		li(ng-hide="auth.isAuthenticated")
			a(ng-click="login()")
				+icon('lock').small.space-right.shift-up
				span.space-right Login
		li.dropdown(ng-show="auth.isAuthenticated", on-toggle="toggled(open)", dropdown)
			a.space-right.dropdown-toggle(dropdown-toggle)
				span.space-right-2x {{ auth.user.name }}
				+icon('angle-down').smaller.shift-up
			ul.dropdown-menu
				li
					a(ui-sref="profileSettings")
						+icon('user').space-right.shift-up
						span Profile
				li
					a(ng-click="auth.logout()")
						+icon('exit').space-right.shift-up
						span Logout


		//- li.ng-cloak
			.btn-group.btn-group-flex
				button.btn.btn-pin(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", ng-model="downloadsPinned", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
					i.icon.space-right(class="{{ downloadsPinned ? 'icon-pin-on' : 'icon-pin-off' }}")
					| Pin Downloads
					span.badge(ng-show="downloadsPinned || pinnedDownloadCount") {{ pinnedDownloadCount }}
				button.btn.dropdown-toggle(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", data-toggle="dropdown")
					+icon('angle-down').smaller.shift-up
					span.sr-only Toggle Dropdown
				ul.dropdown-menu(role="menu")
					li
						table
							tbody
								tr.divider-bottom(ng-click="helpPinnedDownloads()")
									td.ic
										i.fa.fa-question-circle
									td What's this?
									td
								tr.divider-none(ng-hide="pinnedDownloadCount")
									td(colspan="3") No pinned downloads.

								tr(ng-repeat="(id, dl) in pinnedDownloads")
									td.ic
										i.fa.fa-trash-o(ng-click="unpinDownload(dl);$event.stopPropagation()")
									td
										p {{ dl.info[0] }}
										p
											span(bind-html-unsafe="dl.info[1]")
											| &nbsp;	 - v{{ dl.version }}
									td {{ dl.size | bytes }}
								tr.divider-top(ng-show="pinnedDownloadCount > 0", ng-click="downloadPinned()")
									td.ic
										i.fa.fa-download
									td Download
									td {{ pinnedDownloadSize | bytes }}

block content
	div(ng-repeat="(id, notification) in notifications track by id")
		growl-notification(ttl="notification.ttl").ns-effect-slide.ns-type-notice
			+icon('times').a.ns-close(ng-click="$growlNotification.remove()")
			span(ng-bind-html="notification.message")
	.container.container--topmost(ng-cloak)
		| <div ui-view></div>

	.spinner-overlay.fade-animation(ng-show="loading", ng-cloak)
		.spinner