extends navbar
include template/_mixins

block navbar
	ul.nav.navbar-nav
		li(ng-class="{ active: menu == 'home' }")
			a(ui-sref="home") Home
		li(ng-class="{ active: menu == 'games' }")
			a(ui-sref="games") Games
		li(ng-class="{ active: menu == 'releases' }")
			a(ui-sref="releases") Releases
		li.uib-dropdown(ng-class="{ active: menu == 'admin' }", ng-show="auth.hasRole(['root', 'admin'])", on-toggle="toggled(open)", uib-dropdown)
			a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
				span.space-right-2x Admin
				+icon('angle-down').smaller.shift-up
			ul.uib-dropdown-menu(role="menu")
				li(ng-show="auth.hasPermission('*/moderate')")
					a(ui-sref="adminUploads")
						+icon('upload').space-right.shift-up
						span Uploads
				li
					a(ui-sref="adminUsers")
						+icon('users').space-right.shift-up
						span Users

	ul.nav.navbar-nav.navbar-right
		li.uib-dropdown(ng-show="auth.isAuthenticated && themeName === 'theme-dark'", on-toggle="toggled(open)", uib-dropdown)
			a.btn.btn-hollow.space-right.uib-dropdown-toggle(uib-dropdown-toggle) Upload
			ul.uib-dropdown-menu
				li
					a(ui-sref="profile.settings")
						span Recreation
				li
					a(ng-click="auth.logout()")
						span Original Game
				li
					a(ng-click="auth.logout()")
						span Direct B2S


		li(ng-hide="auth.isAuthenticated")
			a(ng-click="login()")
				+icon('lock').small.space-right.shift-up
				span.space-right Login
		li.uib-dropdown(ng-show="auth.isAuthenticated", on-toggle="toggled(open)", uib-dropdown)
			a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
				span.space-right-2x {{ auth.user.name }}
				+icon('angle-down').smaller.shift-up
			ul.uib-dropdown-menu
				li
					a(ui-sref="profile.settings")
						+icon('user').space-right.shift-up
						span Profile
				li
					a(ng-click="auth.logout()")
						+icon('exit').space-right.shift-up
						span Logout


		//- li.ng-cloak
			.btn-group.btn-group-flex
				button.btn.btn-pin(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", ng-model="downloadsPinned", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
					i.icon.space-right(class="{{ downloadsPinned ? 'icon-pin-on' : 'icon-pin-off' }}")
					| Pin Downloads
					span.badge(ng-show="downloadsPinned || pinnedDownloadCount") {{ pinnedDownloadCount }}
				button.btn.uib-dropdown-toggle(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", data-toggle="dropdown")
					+icon('angle-down').smaller.shift-up
					span.sr-only Toggle Dropdown
				ul.uib-dropdown-menu(role="menu")
					li
						table
							tbody
								tr.divider-bottom(ng-click="helpPinnedDownloads()")
									td.ic
										i.fa.fa-question-circle
									td What's this?
									td
								tr.divider-none(ng-hide="pinnedDownloadCount")
									td(colspan="3") No pinned downloads.

								tr(ng-repeat="(id, dl) in pinnedDownloads")
									td.ic
										i.fa.fa-trash-o(ng-click="unpinDownload(dl);$event.stopPropagation()")
									td
										p {{ dl.info[0] }}
										p
											span(bind-html-unsafe="dl.info[1]")
											| &nbsp;	 - v{{ dl.version }}
									td {{ dl.size | bytes }}
								tr.divider-top(ng-show="pinnedDownloadCount > 0", ng-click="downloadPinned()")
									td.ic
										i.fa.fa-download
									td Download
									td {{ pinnedDownloadSize | bytes }}

block content

	div(ng-repeat="(id, notification) in notifications track by id")
		growl-notification(ttl="notification.ttl").ns-effect-slide.ns-type-notice
			+icon('times').a.ns-close(ng-click="$growlNotification.remove()")
			span(ng-bind-html="notification.message")
	.container.container--topmost(ng-cloak)

		section#timeoutNotice.uib-collapse(uib-collapse="timeoutNoticeCollapsed")
			label
				+icon('info').small.shift-up.space-right
				| You have been inactive for too long and need to login again.
			.pull-right
				a(ng-click="timeoutNoticeCollapsed = true")
					+icon('times').small.shift-up.space-right

		| <div ui-view></div>

		footer
			.text-center
				a.space-right.space-left About
				a.space-right.space-left-2x Rules
				a.space-right.space-left-2x FAQ
				a.space-right.space-left-2x Legal
				a.space-left-2x Privacy Policy

	.spinner-overlay.fade-animation(ng-show="loading", ng-cloak)
		.spinner

