extends navbar
include template/_mixins

block navbar
	ul.nav.navbar-nav
		li(ng-class="{ active: menu == 'home' }")
			a(ui-sref="home", ng-click="navCollapsed = true") Home
		li(ng-class="{ active: menu == 'games' }")
			a(ui-sref="games", ng-click="navCollapsed = true") Games
		li(ng-class="{ active: menu == 'releases' }")
			a(ui-sref="releases", ng-click="navCollapsed = true") Releases
		li.uib-dropdown(ng-class="{ active: menu == 'admin' }", ng-show="auth.hasRole(['root', 'admin', 'moderator'])", uib-dropdown)
			a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
				span.space-right-2x Admin
				+icon('angle-down').smaller.shift-up
			ul.uib-dropdown-menu(role="menu")
				li(ng-show="auth.hasPermission('*/moderate')")
					a(ui-sref="adminUploads", ng-click="navCollapsed = true")
						+icon('upload').space-right.shift-up
						span Uploads
				li(ng-show="auth.hasPermission('users/update')")
					a(ui-sref="adminUsers", ng-click="navCollapsed = true")
						+icon('users').space-right.shift-up
						span Users
				li(ng-show="auth.hasPermission('builds/update')")
					a(ui-sref="adminBuilds", ng-click="navCollapsed = true")
						+icon('package').space-right.shift-up
						span Builds

	ul.nav.navbar-nav.navbar-right
		li.hidden-sm.uib-dropdown(ng-show="(auth.hasPermission('releases/add') || auth.hasPermission('games/add') || auth.hasPermission('backglasses/add')) && themeName === 'theme-dark'", uib-dropdown)
			a.btn.btn-hollow.uib-dropdown-toggle(uib-dropdown-toggle) Upload
			ul.uib-dropdown-menu
				li(ng-show="auth.hasPermission('games/add')")
					a(ui-sref="addGame", ng-click="navCollapsed = true")
						span Game Data
				li(ng-show="auth.hasPermission('releases/add')")
					a(ng-click="uploadRelease(); navCollapsed = true")
						span Recreation
				//li
					a
						span Original Game
				li(ng-show="auth.hasPermission('backglasses/add')")
					a(ng-click="uploadBackglass(); navCollapsed = true")
						span Direct B2S


		li(ng-hide="auth.isAuthenticated")
			a(ng-click="login()")
				+icon('lock').small.space-right.shift-up
				span.space-right Login <small>or Register</small>
		li.uib-dropdown(ng-show="auth.isAuthenticated", uib-dropdown)
			a.space-right.uib-dropdown-toggle(uib-dropdown-toggle)
				img.img-avatar.img-avatar--xsm.space-right(gravatar-src="auth.user.gravatar_id", gravatar-default="retro")
				span.space-right-2x.hidden-sm {{ auth.user.name }}
				+icon('angle-down').smaller.shift-up
			ul.uib-dropdown-menu
				li
					a(ui-sref="profile.settings", ng-click="navCollapsed = true")
						+icon('user').space-right.shift-up
						span Profile
				li
					a(ng-click="auth.logout(); navCollapsed = true")
						+icon('exit').space-right.shift-up
						span Logout

block content

	div(ng-repeat="(id, notification) in notifications track by id")
		growl-notification(ttl="notification.ttl").ns-effect-slide.ns-type-notice
			+icon('times').a.ns-close(ng-click="$growlNotification.remove()")
			span(ng-bind-html="notification.message")
	.container.container--topmost(ng-cloak)

		//- session timeout notice
		section#timeoutNotice.uib-collapse(uib-collapse="timeoutNoticeCollapsed")
			label
				+icon('info').small.shift-up.space-right
				| You have been inactive for too long and need to login again.
			.pull-right
				a(ng-click="timeoutNoticeCollapsed = true")
					+icon('times').small.shift-up.space-right

		.alert.alert-info(ng-show="showRulesUpdated")
			| Hey, we've just updated our <a ui-sref="rules">site rules</a>.&nbsp;
			span(ng-show="!showPrivacyUpdated && !showLegalUpdated") By continuing to browse the site you are agreeing to the changes.
			.pull-right: a(ng-click="showRulesUpdated = false"): +icon('times').small.shift-up-less.space-right

		.alert.alert-info(ng-show="showPrivacyUpdated")
			| {{ showRulesUpdated ? 'W' : 'Hey, w' }}e've {{ showRulesUpdated ? 'also ' : '' }}updated our <a ui-sref="privacy">privacy policy</a>.&nbsp;
			span(ng-show="!showLegalUpdated") By continuing to browse the site you are agreeing to {{ showRulesUpdated ? 'all' : 'the' }} changes.
			.pull-right: a(ng-click="showPrivacyUpdated = false"): +icon('times').small.shift-up-less.space-right

		.alert.alert-info(ng-show="showLegalUpdated")
			| {{ showRulesUpdated || showPrivacyUpdated ? 'W' : 'Hey, w' }}e've {{ showRulesUpdated || showPrivacyUpdated ? 'also ' : '' }}updated our <a ui-sref="legal">terms of use</a>.&nbsp;
			span By continuing to browse the site you are agreeing to {{ showRulesUpdated || showPrivacyUpdated ? 'all' : 'the' }} changes.
			.pull-right: a(ng-click="showLegalUpdated = false"): +icon('times').small.shift-up-less.space-right

		//- content
		| <div ui-view></div>

		footer
			.text-center
				a.space-right.space-left(href="https://www.gameex.info/forums/forum/65-vpdb-support-forum/") Forum
				a.space-right.space-left-2x(ui-sref="rules", ng-class="{ active: menu == 'rules' }") Rules
				a.space-right.space-left-2x(ui-sref="faq", ng-class="{ active: menu == 'faq' }") FAQ
				a.space-right.space-left-2x(ui-sref="legal", ng-class="{ active: menu == 'legal' }") Legal
				a.space-left-2x(ui-sref="privacy", ng-class="{ active: menu == 'privacy' }") Privacy Policy
				a.space-right.space-left-2x(href="https://developer.vpdb.io/") Develop
				a.space-right.space-left-2x(ui-sref="about", ng-class="{ active: menu == 'about' }") About

	.spinner-overlay.fade-animation(ng-show="loading", ng-cloak)
		.spinner

	script(type="text/ng-template", id="user-item.html")
		small.user-mention-info(ng-show="typedTerm.length < 3")
			+icon('info').shift-up.space-right-less
			| Type 3 characters in order to search for a user
		ul.list-group.list-group--users
			li.list-group-item(mentio-menu-item="person", ng-repeat="person in items | filter: '!!'")
				img.img-avatar.img-avatar--xsm.pull-left.space-right(gravatar-src="person.gravatar_id", gravatar-default="retro", fallback-icon="user")
				div.pull-left(ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe")
				.clearfix

