extends layout
include template/_mixins

block root
	- var appname = 'vpdb'

block body
	if deployment != 'production'
		.staging-bar
		.staging-bar
	nav.navbar.navbar-default.navbar-fixed-top(ng-cloak, ng-init="navCollapsed = true")
		.container
			.navbar-header
				button.a--lighter.navbar-toggle(type="button", ng-click="navCollapsed = !navCollapsed")
					+icon('bars').space-right
					| Menu
				span.navbar-brand
					a(href="/")
						+icon('vpdb-o').logo
						+icon('logo-vp').logo-vp
						+icon('logo-db').logo-db

			.navbar-collapse(uib-collapse="navCollapsed", ng-click="navCollapsed = true")
				block navbar

	block content

	section#bottom.footer(ng-cloak)
		p
			a(href="https://github.com/freezy/node-vpdb", target="_blank")
				+icon('github-alt').shift-up.space-right
				| <strong>Fork me</strong> on GitHub
			if deployment != 'production'
				| &nbsp;&#8212;
				a(href=`https://github.com/freezy/node-vpdb/commit/${gitinfo.local.branch.current.SHA}`, target="_blank")=gitinfo.local.branch.current.shortSHA
				| &nbsp;@&nbsp;
				a(href=`https://github.com/freezy/node-vpdb/tree/${gitinfo.local.branch.current.name}`, target="_blank")=gitinfo.local.branch.current.name
