p.padder
.label-code h1 - h6
h1 h1 Header 1
h2 h2 Header 2
h3 h3 Header 3
h4 h4 Header 4
h5 h5 Header 5
h6 h6 Header 6

p.padder
hr
.label-code p, a
p A paragraph, writting in <b>bold</b> and <i>italic</i>.
a A link.

p.padder
hr
.label-code .btn
button.btn .btn
button.btn.btn-default .btn-default
button.btn.btn-primary .btn-primary

p.padder
hr
.label-code .btn.btn-lg
button.btn.btn-lg .btn.btn-lg
button.btn.btn-default.btn-lg .btn-default
button.btn.btn-primary.btn-lg .btn-primary
