h1 h1 Chief Digital Officer
h2 h2 Chief Business Operations Officer
h3 h3 Global Chief Visionary Officer
h4 h4 Chief Internal Audit Officer
h5 h5 Economic Value Creation
h6 h6 Chief Management Office Officer
hr
p An <b>organic growth</b> generates our double-digit yield enhancement. The customers <i>200% influence</i> a best practice. Strategic, differentiated, forward-looking and seamless granularities cautiously empower the resources; nevertheless the contents influence the key people.

h5 packs
hr
.label-code .panel.panel-dark.panel-banner.bg-dark
.row.row-data
	.col-xs-12.fade-animation
		.panel.panel-dark.panel-banner.bg-dark.ng-cloak
			h3
				i.icon.icon-title.icon.icon-title.icon-williams
				label.pull-right
					strong strong
					span normal
			.row
				.col-xs-12.col-sm-6 The momentums champion

			button.btn.btn-default.btn-lg
				| Download
	.clearfix

h5 new releases
hr
.label-code .panel.panel-dark.panel-mini.bg-dark
.row.row-data
	.col-lg-12.col-md-12.fade-animation
		.panel.panel-dark.panel-mini.bg-dark.ng-cloak
			.img-wrapper
				.img.img-fade(style="background-image:url(http://fengshuilifeandstyle.com/wp-content/uploads/2013/05/color-wheel.jpg);opacity:1")
			.data-wrapper
				h3 h3 title
				h4
					| h4 title
					label.label-version .label-version
				label.block
					i.icon.icon-user
					| label.block
			.clearfix
.clearfix

h5 all games
hr
.label-code .panel.panel-dark.panel-compact.bg-dark
.row
	.col-md-12.col-sm-12.col-xs-12.fade-animation
		.panel.panel-dark.panel-compact.bg-dark
			.img.img-backglass.img-fade(style="background-image:url(http://fengshuilifeandstyle.com/wp-content/uploads/2013/05/color-wheel.jpg);opacity:1")
			h3 h3 game name
			label label manufacturer
hr
.label-code .panel.panel-dark.panel-extended.bg-dark.ng-cloak
.col-xs-12.fade-animation
	.panel.panel-dark.panel-extended.bg-dark.ng-cloak
		.img-wrapper
			.img.img-backglass.img-fade(style="background-image:url(http://fengshuilifeandstyle.com/wp-content/uploads/2013/05/color-wheel.jpg);opacity:1")
		.data-wrapper
			h3 h3 game name
			label label manufacturer
			label.block
				span(ng-repeat="author in game.authors")
					i.icon.icon-user
					| label.block
			label
				i.fa.fa-arrow-circle-down
				span.pipe span.pipt
				i.fa.fa-eye.hidden-xs
				span.pipe.hidden-xs span.pipe
				i.fa.fa-comment.hidden-xs
				span.pipe.hidden-xs span.pipe

		.clearfix