include ../template/_mixins

.jumbotron(ng-controller="AboutController")

	h3.h--larger About VPDB

	.panel

		.row
			.col-md-4
				p What if there was a platform that would make it possible to download a game and everything related in one single click? A platform that comes with a tool that downloads and names content like it should be while respecting the author's work? That takes under a minute to set up? Something a newcomer would be instantly comfortable with?

			.col-md-4
				p A platform where you can browse online, that is fast, open and beautiful, where searching for games is a matter of milliseconds and everything related to a game is in one place? A platform that is so simple to use that preloading cabs or burning DVDs wouldn't even make sense because it would be too cumbersome in comparison?

			.col-md-4
				p A tool that would assist table authors in publishing their great work, where multiple authors can maintain a release and are properly credited? A tool that sits on your cab, is connected to the platform and updates games when the user tells it to? Even remotely, or even automatically as soon as the author of a game releases a new version?

		hr
		p.text-center VPDB aims to be that platform.

		p VPDB stands for Virtual Pinball Database. It can do many things you might even once have dreamt about. It's technology coming from members of the virtual pinball community who happen to be software engineers in professional life. It's a platform that makes it fun again to upload, browse, download, rate and comment on content created by this beautiful community.

		p We've coded this up from scratch in our spare time and offer it as a free platform. The code is <a href="https://github.com/freezy/node-vpdb" class="a--primary">open source</a>, that means everybody can install VPDB in their own environment and tinker with it. We also offer a public and <a href="https://developer.vpdb.io/api" class="a--primary">documented API</a>, giving access to our database to any third party applications you might come up with.

		p The reason we've done this is because we believe that innovation comes from providing openly the tools necessary so they can be improved and live on. In such a vibrant community like this, where people provide hard and beautiful work at no cost, we think this is specially important.
