include ../template/_mixins

.row.row--content.ng-cloak.row--fullheight.fade-animation(ng-controller="LegalController")

	h1.h--primary.padder-bottom-2x Terms of Use

	.row--two-colums
		ol
			li By accessing this website (including extensions thereof) you are entering into this Terms of Use Agreement ("ToU") with VPDB (the "Site Provider"), and you agree to be bound by the terms of this ToU. This ToU includes the terms and conditions set forth herein, Site Provider's Privacy Policy (which is available at <a ng-href="{{ privacyUrl }}">{{ privacyUrl }}</a> and incorporated herein by reference) and any other terms incorporated by reference herein. If you do not agree to the terms of this ToU, you must immediately stop use of this website. If you remain on this website, you agree to be bound by this ToU. You must be at least 13 years old to use the services. If you are under the age of 13, use of this site and the services is prohibited.
			li
				p If we request registration information from you, you will provide us with true, accurate, current, and complete information. You will promptly update your registration to keep it accurate, current, and complete. If we issue you a password, you may not reveal it to anyone else. You may not use anyone else's password. You are responsible for maintaining the confidentiality of your accounts and passwords. You agree to immediately notify us of any unauthorized use of your passwords or accounts or any other breach of security. You also agree to log-out from your accounts at the end of each session. We will not be responsible for any loss or damage that may result if you fail to comply with these requirements.
				p The technology and the software underlying our sites and the Services are the property of Site Provider, our affiliates, and our partners. You agree not to copy, modify, rent, lease, loan, sell, assign, distribute, reverse engineer, grant a security interest in, or otherwise transfer any right to the technology or software underlying our sites or the Services. You agree not to modify the software underlying our sites in any manner or form or to use modified versions of such software, including, without limitation, for the purpose of obtaining unauthorized access to our sites.
			li Without limiting the foregoing, you agree that you will not use our sites to take any of the following actions:
				ol.lower-alpha
					li Defame, abuse, harass, stalk, threaten, or otherwise violate the legal right of others;
					li Publish, post, upload, e-mail, distribute, or disseminate (collectively, "Transmit") any inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful content;
					li Transmit files that contain viruses, corrupted files, or any other similar software or programs that may damage or adversely affect the operation of another person's computer, our sites, any software or hardware, or telecommunications equipment;
					li Advertise or offer to sell any goods or services for any commercial purpose unless you have our written consent to do so;
					li Transmit surveys, contests, pyramid schemes, spam, unsolicited advertising or promotional materials, or chain letters;
					li Download any file that you know or reasonably should know cannot be legally obtained in such manner;
					li Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or the source of software or other material;
					li Restrict or inhibit any other user from using and enjoying any public area within our sites;
					li Interfere with or disrupt our sites, servers, or networks;
					li Impersonate any person or entity, including, but not limited to, a Site Provider representative, or falsely state or otherwise misrepresent your affiliation with a person or entity;
					li Forge headers or manipulate identifiers or other data in order to disguise the origin of any content transmitted through our sites or to manipulate your presence on our sites;
					li Take any action that imposes an unreasonably or disproportionately large load on our infrastructure; or
					li Engage in any illegal activities.
			li
				p You agree to use our bulletin board services, chat areas, news groups, forums, communities and/or message or communication facilities (collectively, the "Forums") only to send and receive messages and material that are proper and related to that particular Forum.<br>
				p If you choose a username that, in our sole discretion, is obscene, indecent, abusive or that might otherwise subject us to public disparagement or scorn, we reserve the right, without prior notice to you, to automatically change your username, delete your posts from our sites, deny you access to our sites, or any combination of these options.
				p Unauthorized access to our sites is a breach of these Terms and a violation of the law. You agree not to access our sites by any means other than through the interface that is provided by Site Provider for use in accessing our sites. You agree not to use any automated means, including, without limitation, agents, robots, scripts, or spiders, to access, monitor, or copy any part of our sites, except those automated means that we have approved in advance and in writing.

			li Limited license to copy all documents and related graphics from this website is granted subject to the following:
				ol.lower-alpha
					li The materials provided herein are for personal, non-commercial use only;
					li Any copies of documents contained on this website or portions thereof must include the above copyright notice,
					li You may not copy or print more than one copy of material posted on this website. Documents published on this website may contain other proprietary notices or describe products, services, processes or technologies owned by Site Provider or third parties. Except as expressly set forth herein, nothing contained herein shall be construed as granting to the user a license under any copyright, trademark, patent or other intellectual property right of Site Provider or any third party. Except as expressly granted under this Agreement, all rights are reserved by Site Provider; and
					li You may not display this website for commercial purpose without the prior express written consent of Site Provider

			li You may not send automated queries of any sort to Site Provider’s system without express permission in advance from Site Provider Note that "sending automated queries" includes, among other things:
				ul
					li Using any software which sends queries to Site Provider
					li "Meta-searching" Site Provider; and
					li Performing "offline" searches on Site Provider’s website(s).

			li The Site Provider name and Site Provider logo, and all other related product and service names, design marks and slogans are trademarks, service marks or registered trademarks of Site Provider or its affiliates and may not be used in any manner without the prior written consent of Site Provider or the Site Provider affiliate that owns any such mark(s).
			li The user of this website assumes all responsibility and risk for the use of this website and the internet generally. The site provider assumes no responsibility for the accuracy, completeness, reliability or usefulness of any information or other process contained on, distributed through, or linked, downloaded or accessed from this website. In no event shall site provider or its affiliates be liable for any special, indirect, or consequential damages or any damages whatsoever (including, but not limited to loss of use, data, or profits) arising out of or in connection with (a) the use or performance of this website, (b) any information, material, apparatus or other process contained on, distributed through, or linked, downloaded or accessed from this website, (c) any products or services purchased on or through a third party site, or any products or services purchased or obtained as a result of an advertisement or other information or material on or in connection with this website, or (d) the internet generally, or otherwise relating to the subject matter of this agreement; whether based on breach of contract, negligence or other tort, or other form of action or legal theory, regardless of whether site provider has been advised of the possibility of such damage.
			li Any material on this website may include technical or other inaccuracies or typographical errors. This website is made available to you on an "as is" basis, without any warranties of any kind, and without any representations or guarantees. Site provider and its affiliates hereby disclaim all warranties, representations and endorsements, express or implied, including, but not limited to, all implied warranties of merchantability, fitness for a particular purpose, title and noninfringement. Without limiting the generality of the foregoing, (a) neither site provider nor its affiliates represents, warrants or guarantees that this website or the internet generally will be uninterrupted or error free or that any information, software or other material accessible from this website is free of viruses or other harmful components, (b) neither site provider nor its affiliates makes any representations, warranties or guarantees regarding (1) the operation or performance of this website or any third party site, (2) the nature, content or accuracy (either when posted or as a result of the passage of time) of any information, material, or other process contained on, distributed through, or linked, downloaded or accessed from this website (including, without limitation, those contained on a third party site), (3) any products or services obtained as a result of an advertisement or other information or material on or in connection with this website, (4) the internet generally, or (5) that by using the site provider services data will not be lost. In the event of any conflict between this section (no warranties) and other terms or provisions of this agreement, this section shall govern.
			li Reference herein to any products, services, processes, hypertext links to third parties or other information by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply its endorsement, sponsorship or recommendation by Site Provider Product and service information is the sole responsibility of each individual vendor. Site Provider makes no representations whatsoever concerning (a) the information or other material appearing on, or accessible through any promotional websites, (b) any products or services advertised or sold through a promotional website (including, without limitation, the quality, safety and legality of such products or services or the sale thereof), or (c) the sellers of any products or services advertised or sold on or through any promotional website.
			li Site Provider reserves the right to change any of the terms of this ToU (including, without limitation, any terms, policies or notices incorporated herein by reference) without prior notice. You agree to visit this web page (or such other page accessible by clicking on the ToU link in the footer of this website) periodically to be aware of and review any such changes. Changes to this Agreement will be effective upon posting. By continuing to use this website after changes are posted, you accept the changes and agree to them.
			li After a period of inactivity, Site Provider reserves the right to disable or terminate a user's account. If an account has been deactivated for inactivity, the email address associated with that account may be given to another user without notice to you or such other party, and any data or information previously maintained in the your account may be lost forever.
			li You and Site Provider agree
				ol.lower-alpha
					li if any portion of this ToU is ruled invalid or otherwise unenforceable, it shall be deemed amended in order to achieve as closely as possible the same effect as originally drafted;
					li no waiver of any breach of any agreement or provision of this ToU, nor any failure to assert any right or privilege contained in this ToU, shall be deemed a waiver of any preceding or succeeding breach of any agreement or provision;
					li this ToU (including all policies, notices and other terms incorporated into this ToU by reference) constitutes the entire agreement between you and Site Provider with respect to the subject matter hereto and supersedes any and all prior or contemporaneous agreements whether written or oral; and
					li this ToU may be revised only by VPDB in its sole discretion, and such amendment or revision shall not require consent by you to become effective.

	h3.h--multiline.h--smaller Contact Information
	p If you have any questions or suggestions regarding our Privacy Policy, please contact us at:

	.row
		.col-sm-6.col-md-4.col-lg-3
			pre
				| VPDB
				| Avenue de Tivoli 19B
				| 1007 Lausanne
				| Switzerland

	p Or by email to <i>hello [at] [this domain name]</i>.