include ../template/_mixins

.row.row--content.ng-cloak.row--fullheight.fade-animation(ng-controller="PrivacyController")

	h1.h--primary.padder-bottom Privacy Policy

	p This Privacy Policy will address the following points:

	ul
		li What information, if any, is collected as a result of your visit?
		li Whether Cookies are placed on your hard drive?
		li Whether information is shared?
		li Information Security
		li Data Integrity
		li Accessing and updating personal information
		li Policy Changes
		li Contact Information

	h3.h--multiline.h--smaller Introduction
	.row--two-colums
		p Protecting personal information is a core value of VPDB. This privacy statement describes how we collect and use the personal information you provide on our website. It also describes the choices available to you regarding the use of your personal information and the steps you can take to access this information and to request that we correct or delete it.
		p VPDB abides by the safe harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of data from the European Union.

		h3.h--multiline.h--smaller Information Collection
		p As is true of most websites, we gather information automatically and store it in log files. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and click-stream data. We use this information, which does not identify individual visitors, to analyze trends, to administer the website, to track visitors’ movements around the site and to gather information about the geographic location of our visitors as a whole.
		p Additionally, upon signing up with our services, we collect Personally Identifiable Information (“PII”) about our users. This information may include name, contact information, account password, and for certain services, credit card or other payment account information, which we maintain in encrypted form on secure servers.

		h3.h--multiline.h--smaller Cookies
		p A "cookie" is a small file containing a string of characters that is sent to your computer when you visit a website. When you visit the website again, the cookie allows that site to recognize your browser. Cookies may store user preferences and other information. You can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some website features or services may not function properly without cookies.
		p VPDB doesn't use uses cookies but a similar concept called "HTML5 storage". Contrarily to cookies, data stored in HTML5 storage is not autmatically sent to the server. We use HTML5 storage to enhance your online experience and to learn about how you use our services in order to improve the quality of our services. Our servers automatically record information when you visit our website, including the URL, IP address, browser type and language, and the date and time of your request.

		h3.h--multiline.h--smaller Sharing of Information
		p Other than for the limited circumstances below, none of the information detailed above is disseminated, shared, sold, or provided to a third party. We may share PII and other data with other companies or entities in the following limited circumstances:
		ul
			li Where some information on usage of our sites and other sites you may visit is collected by carefully selected third parties through the use of advertising shown to you or social media interaction as is common with the majority of sites on the internet.
			li We provide such information to our subsidiaries or affiliated companies for the purpose of processing PII on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Policy and any other appropriate confidentiality and security measures.
			li We have a good faith belief that access, use, preservation or disclosure of PII is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce applicable legal agreements between us, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the rights, property or safety of VPDB, its users or the public as required or permitted by law.
			li If VPDB becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before PII is transferred and becomes subject to a different Privacy Policy.

		h3.h--multiline.h--smaller Information Security
		p We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, as well as physical security measures to guard against unauthorized access to systems where we store personal data. We restrict access to PII to VPDB staff, contractors and agents who need to know that information in order to operate, develop or improve our services. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.

		h3.h--multiline.h--smaller Data Integrity
		p VPDB processes PII only for the purposes for which it was collected and in accordance with this Policy or any applicable service-specific privacy notice. We review our data collection, storage and processing practices to ensure that we only collect, store and process the personal information needed to provide or improve our services. We take reasonable steps to ensure that the personal information we process is accurate, complete, and current, but we depend on our users to update or correct their personal information whenever necessary.

		h3.h--multiline.h--smaller Accessing and Updating Personal Information
		p When you use VPDB, we make good faith efforts to provide you with access to your PII and either to correct this data, if it is inaccurate, or to delete such data at your request, if it is not otherwise required to be retained by law or for legitimate business purposes. We ask individual users to identify themselves and the information requested to be accessed, corrected or removed before processing such requests, and we may decline to process requests that are unreasonably repetitive or systematic, require disproportionate technical effort, jeopardize the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup tapes), or for which access is not otherwise required. In any case, where we provide information access and correction, we perform this service free of charge, except if doing so would require a disproportionate effort.

		h3.h--multiline.h--smaller Policy Changes
		p We reserve the right to modify this Privacy Policy at any time. If we decide to change our Privacy Policy, we will post those changes in a conspicuous manner to this Privacy Policy, and other places we deem appropriate, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.

	h3.h--multiline.h--smaller Contact Information
	p If you have any questions or suggestions regarding our Privacy Policy, please contact us at:

	.row
		.col-sm-6.col-md-4.col-lg-3
			pre
				| VPDB
				| Avenue de Tivoli 19B
				| 1007 Lausanne
				| Switzerland

	p Or by email to <i>hello [at] [this domain name]</i>.