include ../template/_mixins

.row.row--content.ng-cloak.row--fullheight.fade-animation(ng-controller="RulesController")

	h1.h--primary Rules At VPDB

	p VPDB is a very young platform and we're counting on each member's common sense to treat others with respect as you would in real life. If that's not enough we will start updating this rule sheet with more explicit points.

	h3 Stern S.A.M. Policy
	p We and most members of the community are convinced that virtual pinball helps the industry. It makes pinball accessible to more people, and everyone who plays a game as digital recreation first will put quarters into the real-life machine as soon there is a chance. That's what we do and what we know our friends do.
	p However, Stern's SAM generation is still in production with their Vault Editions. An unwritten rule in the community is that only out of production machines shall be digitally recreated. Thus, VPDB will not let you publish SAM recreations until the situation changes.

	h3 Changes
	p Should we change the rules it will be announced on the website.