include ../template/_mixins

.row.row--content.ng-cloak.row--fullheight.fade-animation(ng-controller="RulesController")

	h1.h--primary Rules At VPDB

	p VPDB is a very young platform and we're counting on each member's common sense to treat others with respect as you would in real life. If that's not enough we will start updating this rule sheet with more explicit points.

	h3 Upload Policy
	p See the <a ui-sref="faq">FAQ</a> for more information about who can upload content and how the moderation works. Here are a few rules that should help improving the chance of your content being approved:

	ul
		li Only upload content created by yourself.
		li If you get permission from an author to upload his or her creations, let us know beforehand so we can confirm. When uploading, make sure you set the correct author.
		li If your release is a mod of another release, be sure to put the URL of the original release somewhere in the description. If the original release it not on VPDB, use the site where it was first released. (Note: This is for during the beta, the final version will support a way of indicating this in a structured way.)
		li If your release is a mod of another release that only allows authorized mods, give us contact details of the original author in the moderation section so we confirm your claims.

	h3 Stern S.A.M. Policy
	p We and most members of the community are convinced that virtual pinball helps the industry. It makes pinball accessible to more people, and everyone who plays a game as digital recreation first will put quarters into the real-life machine as soon there is a chance. That's what we do and what we know our friends do.
	p However, Stern's SAM generation is still in production with their Vault Editions. An unwritten rule in the community is that only out of production machines shall be digitally recreated. Thus, VPDB will not let you publish SAM recreations until the situation changes.

	h3 Changes
	p Should we change the rules it will be announced on the website.