include ../template/_mixins

.text-center(page-title="Developer")

	h3.h--primary.padder-top-3x.padder-bottom-2x So you want to contribute.

	+icon('vpdb-o').svg-4x

	p.padder-top-2x
		| Great!
		br
		| VPDB is <a href="https://github.com/freezy/node-vpdb">open source</a> and you're welcome to be part of the gang.
		br
		| Here are a few links to get you started.

hr.hr--light.padder-top-3x.padder-bottom-2x.hidden-xs
hr.hr--light.padder-top-3x.visible-xs-block

.row
	a.a--lighter.col-sm-4.text-center(href="/api")
		p: +icon('gears').svg-3x
		h1.h--primary API
		p Want to integrate VPDB into your app? Check out the API.

	hr.hr--light.visible-xs-block

	a.a--lighter.col-sm-4.text-center(href="/styleguide")
		p: +icon('palette').svg-3x
		h1.h--primary Style Guide
		p Found a quirk in the UI? The style guide is your friend.

	hr.hr--light.visible-xs-block

	a.a--lighter.col-sm-4.text-center(href="/code")
		p: +icon('code-fork').svg-3x
		h1.h--primary Code
		p Missing a feature? Clone the repo and start coding.

p.padder-top-3x
