//
// Dark theme
// --------------------------------------------------
.theme-dark

	.alert
		box-shadow 0 0 7px 2px rgba(0,0,0, 0.15)
		color $color-lightest
		background-color $color-lighter-inv
		.svg-icon
			fill $color-lightest
	.alert-danger
		background-color $color-danger-dark
	.alert-success
		background-color $color-success
	.alert-info
		background-color $color-darker


// Light theme
// --------------------------------------------------
.theme-light

	.alert
		color $color-lighter-inv
		background-color $color-darkest-inv
		.svg-icon
			fill $color-lighter-inv
	.alert-danger
		color $color-lightest
		.svg-icon
			fill $color-lightest
		background-color $color-danger
	.alert-success
		color $color-lightest
		.svg-icon
			fill $color-lightest
		background-color $color-success

	.alert--inverted
		&.alert-danger
			border-color $color-danger
			color $color-danger
			background-color $color-light
			.svg-icon
				fill $color-danger
		&.alert-success
			border-color $color-success
			color $color-success
			background-color $color-light
			.svg-icon
				fill $color-success
		&.alert-warning
			border-color $color-warning
			color $color-warning
			background-color $color-light
			.svg-icon
				fill $color-warning
