//
// Dark theme
// --------------------------------------------------
//.theme-dark


// Light theme
// --------------------------------------------------
.theme-light

	.alert
		color $color-lightest
		.svg-icon
			fill $color-lightest
	.alert-danger
		background-color $color-danger
	.alert-success
		background-color $color-success

	.alert--inverted
		&.alert-danger
			border-color $color-danger
			color $color-danger
			background-color $color-light
		&.alert-success
			border-color $color-success
			color $color-success
			background-color $color-light
		&.alert-warning
			border-color $color-warning
			color $color-warning
			background-color $color-light
