//
// Dark theme
// --------------------------------------------------
//.theme-dark


// Light theme
// --------------------------------------------------
.theme-light

	.alert-danger
		color $color-lightest
		background-color $color-danger
	.alert-success
		color $color-lightest
		background-color $color-success