//
// Dark theme
// --------------------------------------------------
.theme-dark
	.apidoc-method:hover
		color $color-lightest


// Light theme
// --------------------------------------------------
//.theme-light
