//
// Dark theme
// --------------------------------------------------
.theme-dark

	.badge
		color $color-lightest-inv
		background-color $color-dark

		.a
			color $color-lightest-inv
			&:hover
				color black
//
// Light theme
// --------------------------------------------------
.theme-light

	.badge
		color $color-lightest
		background-color $color-dark-inv

		.a
			color $color-lightest
			&:hover
				color white

	.badge--tag
		background-color #b5b4b2
		&:before
			color #b5b4b2