//
// Dark theme
// --------------------------------------------------
.theme-dark

	.badge
		color $color-lightest-inv
		background-color $color-dark

		.a
			color $color-lightest-inv
			&:hover
				color black

	.badge--verb
		color $color-lighter
	.badge--verb--get
		background-color #294875
	.badge--verb--post
		background-color #325b1e
	.badge--verb--put
		background-color #605d06
	.badge--verb--delete
		background-color #7a3632

//
// Light theme
// --------------------------------------------------
.theme-light

	.badge
		color $color-lightest
		background-color $color-dark-inv

		.a
			color $color-lightest
			&:hover
				color white

		.a.fa
			color $color-lighter
			&:hover
				color $color-lightest

	.badge--tag
		background-color #b5b4b2
		&:before
			color #b5b4b2
