//
// Dark theme
// --------------------------------------------------
.theme-dark
	.btn

		// default button
		&, &.btn-default
			color $color-light
			background-color $color-dark
			border-color rgba(black, 0.2)
			&:hover
				color $color-lighter
				background-color $color-light
			.badge
				background-color $color-light
				color $color-lighter-inv

		// primary button
		&.btn-primary
			color $color-background
			background-color $color-primary
			border-color rgba(black, 0.3)
			.svg-icon
				fill $color-background
			&:hover
				color $color-background
				background-color $color-primary-light
			.badge
				background-color $color-background
				color $color-lightest

		// hollow button
		&.btn-hollow
			border-color $color-dark
			background-color transparent

	// panel footer buttons are darker
	.panel-footer .btn
		&, &.btn-default
			color $color-dark
			background-color $color-dark-inv
			&:hover
				color rgba(white, 0.3)
				background-color rgba(black, 0.3)
				box-shadow none

//
// Light theme
// --------------------------------------------------
.theme-light
	.btn

		// default button
		&, &.btn-default
			color rgba(white, 0.6)
			background-color rgba(black, 0.25)
			border-color rgba(black, 0.1)

			.svg-icon
				fill rgba(white, 0.6)
			&:hover
				color rgba(white, 0.7)
				background-color rgba(black, 0.3)

			&:active
				background-color rgba(black, 0.2)

		// primary button
		&.btn-primary
			color #eee
			background-color $color-primary-black
			border-color rgba(black, 0.2)
			&:hover
				color #eee
				background-color $color-primary-black-light

		// secondary button
		&.btn--secondary
			color rgba(white, 0.7)
			background-color rgba(black, 0.35)
			.svg-icon
				fill rgba(white, 0.7)
				&:hover
					fill rgba(white, 0.8)
			&:hover
				color rgba(white, 0.8)
				background-color rgba(black, 0.4)

			&:active
				background-color rgba(black, 0.3)