//
// Dark theme
// --------------------------------------------------
.theme-dark

	.color-primary
		color $color-primary


//
// Light theme
// --------------------------------------------------
.theme-light

	.color-primary
		color $color-primary-black
