//
// Dark theme
// --------------------------------------------------
.theme-dark

	.flipbox-backglass .third
		border-color $color-darker


//
// Light theme
// --------------------------------------------------
.theme-light

	.container--topmost
		background-image url('/images/background_white.png')
		box-shadow 0 0 5px 1px rgba(black, 0.1)

	.col--menu
		background-color $color-darkest-inv
