//
// Dark theme
// --------------------------------------------------
.theme-dark

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lighter
		background-color $color-darker

	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-light
		background-color $color-darker

	textarea
		background-color $color-darkest

	// Large radio buttons
	.radio--lg
		input[type=radio]
			& + span
				color $color-light
				&:before
					color $color-light
				&:hover
					color $color-lightish
					&:before
						color $color-lightish
			&:checked + span:hover
				color $color-light
				&::before
					color $color-light

//
// Light theme
// --------------------------------------------------
.theme-light

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lighter-inv
		background-color $color-lighter

	// On error:
	.form-group.error
		.form-control
			border-color $color-danger
		label
			color $color-danger

	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-dark-inv
		background-color $color-lighter

	textarea
		background-color $color-light

	// Large radio buttons
	.radio--lg
		input[type=radio]
			& + span
				color $color-light-inv
				&:before
					color $color-light-inv
				&:hover
					color $color-lightish-inv
					&:before
						color $color-lightish-inv
			&:checked + span:hover
				color $color-light-inv
				&::before
					color $color-light-inv