//
// Dark theme
// --------------------------------------------------
.theme-dark

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lighter
		background-color $color-darker

	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-light
		background-color $color-darker

	textarea
		background-color $color-darkest

	// Large radio buttons
	.radio--lg
		input[type=radio]
			& + span
				color $color-light
				&:before
					color $color-light
				&:hover
					color $color-lightish
					&:before
						color $color-lightish
			&:checked + span:hover
				color $color-light
				&::before
					color $color-light

//
// Light theme
// --------------------------------------------------
.theme-light

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lighter-inv
		background-color $color-lighter

	// On error:
	.form-group.error
		.form-control, .input-group-addon
			border-color $color-danger
		label
			color $color-danger

		.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
			border-right none

	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-dark-inv
		background-color $color-lighter

	textarea
		background-color $color-light

	// Large radio buttons
	.radio--lg
		input[type=radio]
			& + span
				color $color-light-inv
				&:before
					color $color-light-inv
				&:hover
					color $color-lightish-inv
					&:before
						color $color-lightish-inv
			&:checked + span:hover
				color $color-light-inv
				&::before
					color $color-light-inv