$input-background-darker = rgba(white, 0.04)
$input-background-dark = rgba(white, 0.08)
$input-background-dark-focus = rgba(white, 0.11)

$input-background-light-focus = rgba(white, 0.75)


//
// Dark theme
// --------------------------------------------------
.theme-dark

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lighter
		background-color $input-background-dark
		&:focus
			background-color $input-background-dark-focus
		&::-webkit-input-placeholder
			color $color-dark
		&::-moz-placeholder
			color $color-dark
		&:-ms-input-placeholder
			color $color-dark
		&.input--search:focus
			background-color $input-background-dark
		&[disabled="disabled"]
			color $color-light
			background-color $input-background-darker
		&.input--lighter
			background-color $color-lighter
			color $color-lightest-inv
		&.form-control--solid
			background-color #333130
			&:focus
				background-color #3a3837

	.h--primary .form-control
		@extend .theme-dark .h--primary

	// On error:
	.form-group
		&.error .form-control, &.error .input-group-addon, .error.form-control, .error.input-group-addon
			border-color $color-danger-dark

		&.error
			.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .uib-dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.uib-dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
				border-right none


	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-light
		background-color $color-darker
		.svg-icon
			fill $color-light

	.input-group
		> .input-group-addon
			background-color $input-background-dark
		.form-control:focus + .input-group-addon
			background-color $input-background-dark-focus
		> .input-group-btn .btn
			background-color $color-darker
			&:hover
				background-color $color-dark
		&.input-group--separated
			> .input-group-addon
				background-color transparent
			.form-control:focus + .input-group-addon
				background-color transparent
				.svg-icon
					transition fill $animation-short
					fill $color-lightish


	input.checkbox--toggle
		+ label
			background-color transparent
			&:before
				background-color #121110
			&:after
				background-color $color-darker
		&:checked + label
			background-color $color-primary
			&:after
				background-color $color-primary

	textarea
		background-color $color-darkest

	// Large radio buttons
	.radio--lg, .radio--lg-twoliner
		input[type=radio]
			+ span:before
				background #1e1e1e
				border-color #555
			&:checked + span:before
				background #555
				box-shadow inset 0 0 0 4px #101010
		&:hover > label > input[type=radio]
			+ span:before
				border-color #888
			&:checked + span:before
				border-color #555

	.radio--lg
		&:hover > label > input[type=radio]
			+ span, + span + span
				color $color-lightest
			&:checked
				+ span, + span + span
					color $color-lighter


//
// Light theme
// --------------------------------------------------
.theme-light

	// <input>, <textarea>, and <select> elements
	.form-control
		color $color-lightest-inv
		background-color $color-lighter
		&:focus
			background-color $color-lightest

	// On error:
	.form-group
		&.error .form-control, &.error .input-group-addon, &.error > textarea, .error.form-control, .error.input-group-addon
			border-color $color-danger
		&.error label, label.error
			color $color-danger

		&.error
			.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .uib-dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.uib-dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn
				border-right none

	// Addon has the same background-color as the form control
	.input-group-addon
		color $color-dark-inv
		background-color $color-lighter
		.svg-icon
			fill $color-dark-inv

	input.checkbox--check
		+ label
			color $color-lighter-inv
			&:before
				border-color #777

			&:after
				border-color #efefef

			&:hover
				color $color-lightest-inv
				&:before
					border-color #3b3b3b

		&:checked + label
			&:before
				background-color #777
				border-color #777
			&:hover:before
				background-color #3b3b3b
				border-color #3b3b3b


	input.checkbox--toggle
		+ label
			background-color transparent
			&:before
				background-color #f0efee
			&:after
				background-color $color-darker-inv
		&:checked + label
			background-color $color-primary-black
			&:after
				background-color $color-primary-black

	textarea
		background-color $color-light
		&:focus
			outline none

	// Large radio buttons
	.radio--lg, .radio--lg-twoliner
		input[type=radio]
			+ span:before
				background #efefef
				border-color #aaa
			&:checked + span:before
				background #aaa
				box-shadow inset 0 0 0 4px #efefef
		&:hover > label > input[type=radio]
			+ span:before
				border-color #888
			&:checked + span:before
				border-color #aaa

	.radio--lg.radio--lg-lighter, .radio--lg-twoliner.radio--lg-lighter
		input[type=radio]
			+ span:before
				background #e2e2e2
				border-color #777777
			&:checked + span:before
				background #777777
				box-shadow inset 0 0 0 4px #e2e2e2
		&:hover > label > input[type=radio]
			+ span:before
				border-color #3b3b3b
			&:checked + span:before
				border-color #777777

	.radio--lg
		input[type=radio] + span
				color $color-light-inv
		&:hover > label > input[type=radio]
			+ span
				color $color-lightish-inv
			&:checked + span
				color $color-light-inv

	.radio--lg-twoliner
		input[type=radio] + span
			color $color-lightish-inv
		&:hover > label > input[type=radio]
			+ span, + span + span
				color $color-lightest-inv
			&:checked
				+ span, + span + span
					color $color-lightish-inv

	.radio--lg-twoliner.radio--lg-lighter
		input[type=radio] + span
			color $color-lighter-inv
		&:hover > label > input[type=radio]
			+ span, + span + span
				color $color-lightest-inv
			&:checked
				+ span, + span + span
					color $color-lighter-inv


