//
// Dark theme
// --------------------------------------------------
.theme-dark

	.container--topmost
		box-shadow 0 0 5px 1px rgba(black, 0.5)

	.col--menu
		background-color rgba(white, 0.04)
		border-color $color-primary

	.carousel-indicators
		.active
			background-color $color-primary
			border-color transparent
			&:hover
				border-color transparent
		> li
			border-color $color-lighter
			&:hover
				border-color $color-lightest

	a.carousel-control:hover .svg-icon
		fill $color-primary
	a.carousel-control .svg-icon
		fill $color-lighter

	footer
		background-color $color-dark-inv
		border-top 1px solid rgba(255,255,255,0.1)
		&:before
			border-top 1px solid black


//
// Light theme
// --------------------------------------------------
.theme-light

	.container--topmost
		background-image url('/images/background_white.png')
		box-shadow 0 0 5px 1px rgba(black, 0.1)

	.col--menu
		background-color $color-darkest-inv

	footer
		background-color $color-lightish
		border-top 1px solid $color-darkest-inv
		&:before
			border-top 1px solid $color-lightest