//
// Dark theme
// --------------------------------------------------
body.theme-dark

	.container--topmost
		background-image url('/images/background.png')
		box-shadow 0 0 5px 1px rgba(black, 0.5)

	.col-menu
		background-color $color-darkest


//
// Light theme
// --------------------------------------------------
body.theme-light

	.container--topmost
		background-image url('/images/background_white.png')
		box-shadow 0 0 5px 1px rgba(black, 0.1)

	.col-menu
		background-color $color-darkest-inv
