//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Avatar
	.svg-icon.img-avatar
		fill $color-darker
		background-color $color-darker

	.img--placeholder
		background-color rgba(black, 0.12)
//
// Light theme
// --------------------------------------------------
.theme-light

	// Avatar
	.svg-icon.img-avatar
		fill $color-lighter
		background-color $color-darker-inv
