//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Avatar
	.avatar-placeholder
		background-color $color-darker
		.avatar-placeholder:before
			color $color-darker

//
// Light theme
// --------------------------------------------------
.theme-light

	// Avatar
	.avatar-placeholder
		background-color $color-darker
		.avatar-placeholder:before
			color $color-darker-inv