//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Avatar
	.avatar
		> svg.svg-icon
			fill $color-darker
			background-color $color-darker
//
// Light theme
// --------------------------------------------------
.theme-light

	// Avatar
	.avatar
		> svg.svg-icon
			fill $color-darker-inv
			background-color $color-lighter
