//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Items can be selected along with a sort order toggle
	.list--sort-options > li
		&:hover
			color $color-lightest
		&.selected
			color $color-primary
			&:hover
				color $color-primary-light


	// List group within panel-body
	.panel-body > .list-group .list-group-item
		background-color transparent
		color $color-lighter
		border-color $color-darker


//
// Light theme
// --------------------------------------------------
.theme-light

	// Items can be selected along with a sort order toggle
	.list--sort-options > li
		&:hover
			color $color-lightest-inv
		&.selected
			color $color-primary-black
			&:hover
				color $color-primary

