//
// Dark theme
// --------------------------------------------------
.theme-dark

	// List group within panel-body
	.list-group > li
		background-color transparent
		a.active
			color $color-primary

	// Active and non-active colors
	.list-group-item.active
		color $color-primary
		background-color $color-darker-inv
		&:hover
			color $color-lighter
			background-color $color-darker-inv


//
// Light theme
// --------------------------------------------------
.theme-light

	.list-group > li
		background-color transparent

	// Active and non-active colors
	.list-group-item.active
		color $color-primary-black
		background-color $color-darkest-inv
		&:hover
			color $color-lighter-inv
			background-color $color-darkest-inv

	.panel-group--transparent .list-group-item.active
		background none
		font-weight $font-weight-bold

	ul.list--files
		color $color-lightish-inv
		.col--list-files-left > .icon
			color $color-light-inv
		> li > i
			transition all $animation-short
			color $color-dark-inv
			&:hover
				color $color-danger