//
// Dark theme
// --------------------------------------------------
.theme-dark

	.markdown
		h1, h2
			color $color-lightest
		h3, h4, h5
			color $color-lighter
		a
			color $color-lighter
			&:hover
				color $color-lightest
		code
			background-color $color-darkest
			color $color-lighter
		pre code
			background-color transparent
			color inherit
		blockquote
			border-color $color-light
		pre
			color $color-lighter
			border-color $color-darkest
			background-color transparent
			background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")

//
// Light theme
// --------------------------------------------------
.theme-light

	.markdown
		h1, h2
			color $color-lightest-inv
		h3, h4, h5
			color $color-lighter-inv
		a
			color $color-lighter-inv
			&:hover
				color $color-lightest-inv
		code
			background-color $color-light-inv
			color white
		pre code
			background-color transparent
			color inherit
		blockquote
			border-color $color-light-inv
		pre
			color $color-lighter-inv
			border-color $color-darkest-inv
			background-color transparent
			background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")
