//
// Dark theme
// --------------------------------------------------
.theme-dark

	.markdown
		h1, h2
			color $color-lightest
		h3, h4, h5
			color $color-lighter
		a
			color $color-lighter
			&:hover
				color $color-lightest
		code
			background-color $color-darkest
			color $color-lighter
		pre code
			background-color transparent
			color inherit
		blockquote
			border-color $color-light

//
// Light theme
// --------------------------------------------------
.theme-light

	.markdown
		h1, h2
			color $color-lightest-inv
		h3, h4, h5
			color $color-lighter-inv
		a
			color $color-lighter-inv
			&:hover
				color $color-lightest-inv
		code
			background-color $color-light-inv
			color white
		pre code
			background-color transparent
			color inherit
		blockquote
			border-color $color-light-inv

