//
// Dark theme
// --------------------------------------------------
.theme-dark

	// News flow on the home page
	.media--news hr
		border-color $color-darkest

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest


//
// Light theme
// --------------------------------------------------
.theme-light

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest-inv

	.media--mini-noborders
		border none