//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest

//
// Light theme
// --------------------------------------------------
.theme-light

	// Mini media panels in the side bar
	.media--mini
		border-bottom solid 2px $color-darkest-inv