.modal-dialog
	box-shadow 0 5px 15px $color-dark-inv

.modal-content
	background-image url('/images/background_white.png')
	box-shadow none

.modal-header
	background-color rgba(black, 0.1)

.modal-body
	h1
		color $color-lightest-inv
.modal-footer
	background-color rgba(black, 0.1)