
.modal-content
	background-image url('/images/background_white.png')
	color $color-lightest-inv

.modal-header
	background-color rgba(black, 0.1)
	box-shadow inset 0px 1px 3px 0px rgba(white, 0.5)
	h3 > strong
		color $color-primary-black
.modal-body
	h1
		color $color-lightest-inv
	.alert-danger
		color $color-lightest
		background-color $color-danger
	.alert-success
		color color-lightest
		background-color $color-success
.modal-footer
	background-color rgba(black, 0.1)