//
// Both themes
// --------------------------------------------------

// VPDB logo
.navbar-brand
	.svg-icon
		&.logo
			fill $color-primary
		&.logo-vp
			fill $color-primary
		&.logo-db
			fill $color-lighter
	a
		&:hover
			.logo
				fill $color-primary-light
			.logo-vp
				fill $color-primary-light
			.logo-db
				fill $color-lightest

// Navbar nav links
.navbar-default .navbar-nav
	> li a
		background-color transparent
		color $color-lighter
		.svg-icon
			fill $color-lighter
		&:hover, &:focus
			color $color-lightest
			.svg-icon
				fill $color-lightest
	> .active > a
		background-color $color-darkest
		color $color-primary
		.svg-icon
			fill $color-primary
		&:hover, &:focus
			background-color $color-darkest
			color $color-primary
			.svg-icon
				fill $color-primary

// Dropdown menu states
.navbar-default .navbar-nav > .open
	& > a, & > a:hover, & > a:focus
		color $color-primary
		background-color transparent
		.svg-icon
			fill $color-primary


//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Default navbar
	.navbar-default
		background-color $color-navbar
		border-color $color-primary

		// responsive toggle button
		.navbar-toggle
			transition color $animation-short
			&:focus
				color $color-primary
			&:hover
				color $color-lightest
		.navbar-collapse, .navbar-form
			border-color $color-primary


//
// Light theme
// --------------------------------------------------
.theme-light

	// Default navbar
	.navbar-default
		background-color $color-navbar-inv
		border-color $color-primary-black

