//
// Dark theme
// --------------------------------------------------
.theme-dark

	// View type switcher when listing games
	.nav-icons
		.active svg.svg-icon
			fill #aaa
			text-shadow 0 0 3px black
		svg.svg-icon
			fill $color-light
			&:hover
				fill #aaa
				text-shadow 0 0 3px black

	// Tabs for message composition
	.nav-tabs
		.icon-markdown
			color $color-dark
		li
			&.active
				a
					color $color-lighter
					background-color rgba(white, 0.11)
				.panel-triangle
					border-color transparent #383735 transparent transparent
			.panel-triangle
				border-color transparent #2d2b29 transparent transparent
			a
				color $color-light
				background-color $color-darkest
			a:hover
				color $color-lighter
	.tab-content
		background-color rgba(white, 0.11)
	.panel-triangle
		border-color transparent #393836 transparent transparent

	.tabset--transparent
		> .nav-tabs li.active a
			color $color-primary
		> .tab-content
			border-color $color-darkest

	.nav.subnav > li
		> a:hover, > a:focus
			background-color inherit
			color $color-lighter
		> a.active
			color $color-primary


//
// Light theme
// --------------------------------------------------
.theme-light

	// Tabs for message composition
	.nav-tabs
		.icon-markdown
			color $color-dark-inv
		li
			&.active
				a
					color $color-lighter-inv
					background-color rgba(black, 0.11)
					.svg-icon
						fill $color-lighter-inv
				.panel-triangle
					border-color transparent #454442 transparent transparent
			.panel-triangle
				border-color transparent #383735 transparent transparent
			a
				color $color-light-inv
				background-color $color-darkest-inv
				line-height 33px
				.svg-icon
					fill $color-light-inv
			a:hover
				color $color-lighter-inv
				.svg-icon
					fill $color-lighter-inv

	.tab-content
		background-color rgba(black, 0.11)

	.panel-triangle
		border-color transparent #cdcccc transparent transparent

	.tabset--light
		.nav-tabs
			li
				&.active
					a
						background-color $color-lighter
					.panel-triangle
						border-color transparent #f1f1f0 transparent transparent
			.panel-triangle
				border-color transparent #d4d3d1 transparent transparent
		.tab-content
			background-color $color-lighter
			textarea
				background-color transparent