//
// Dark theme
// --------------------------------------------------
.theme-dark

	growl-notification
		box-shadow 0px 6px 10px -5px rgba(0,0,0,0.7)
		border-top 1px solid rgba(255,255,255, 0.05)

//
// Light theme
// --------------------------------------------------
.theme-light

	growl-notification
		box-shadow 0px 6px 10px -5px rgba(0,0,0,0.7)
		border-top 1px solid rgba(255,255,255, 0.05)
		background-color $color-lightest