//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Base class
	.panel
		background-color $color-darkest
		box-shadow 0 0 5px 1px rgba(black, 0.3)

		.panel-heading, .panel-footer
			background-color $color-darkest

	// inner panels don't have box shadows
	.panel--inner
		box-shadow none

	// Blank panels have a low-contrast color
	.panel--blank
		color $color-dark

	.panel-group--transparent .panel-group .panel .panel-body
		background-color rgba(black, 0.23)
		box-shadow -1px 15px 6px -15px rgba(0, 0, 0, 0.2) inset
	.panel-group--transparent.subtle .panel-group .panel .panel-body
		background-color rgba(black, 0.1)

//
// Light theme
// --------------------------------------------------
.theme-light

	// Base class
	.panel
		background-color $color-lighter
		box-shadow 0 0 5px 1px rgba(black, 0.05)
		&.error
			border-color $color-danger

	.panel-heading
		background-color $color-light-inv
		> *
			color $color-lightest

	// Accordion panels
	accordion
		> .panel-group
			> .panel
				background none
				> .panel-heading
					border none
					background-color $color-darkest-inv
					margin-top 2px
					a:hover
						color $color-lightish-inv
				.panel-body
					background-color $color-lighter
			> .panel:first-child > .panel-heading
				margin-top 0px

	.panel-group--transparent
		.panel-title > a
			color $color-lighter-inv
			&:hover
				color $color-lightest-inv
		.panel-group .panel .panel-body
			background-color rgba(white, 0.37)

	// Blank panels have a low-contrast color
	.panel--blank
		color $color-lightish-inv
		.svg-icon
			fill $color-dark-inv

	// When dragging something on a droppable panel
	.panel--dragging
		background-color $color-darker-inv
		.text-center
			color $color-lightest

	.panel--dropzone
		border-color $color-light-inv
		&.error
			border-top-color $color-danger
			border-bottom-color $color-danger
			border-left none
			border-right none

	.panel--dropzone-alt
		border-color $color-darkest-inv
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgwLDAsMCwwLjAyKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMC4yNSkiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMC4yNSkiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")
		&.active
			background-color rgba(0,0,0,0.05)
		&.hover
			border-color $color-darker-inv
			background-color rgba(0,0,0,0.13)

	.panel--dropzone-alt-2
		&:before
			border-color $color-darkest-inv
			background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgwLDAsMCwwLjAyKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMC4yNSkiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMC4yNSkiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")
		&.hover:before
			border-color $color-darker-inv
			background-color rgba(0,0,0,0.05)

//
// Both themes
// --------------------------------------------------

// No boxshadow for accordon panels
accordion > .panel-group > .panel
	box-shadow none
