//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Base class
	.panel
		background-color $color-darkest
		box-shadow 0 0 5px 1px rgba(black, 0.3)

		.panel-heading, .panel-footer
			background-color $color-darkest

	// inner panels don't have box shadows
	.panel--inner
		box-shadow none

	// Blank panels have a low-contrast color
	.panel--blank
		color $color-dark

	// toclean
	.panel-banner
		i.icon-title
			color $color-primary
			& + label
				strong
					color $color-lighter
		h3 small
			color inherit
		& > .row > div:hover
			color $color-lightest


//
// Light theme
// --------------------------------------------------
.theme-light

	// Base class
	.panel
		background-color $color-lighter
		box-shadow 0 0 5px 1px rgba(black, 0.05)

	.panel-heading
		background-color $color-light-inv
		> *
			color $color-lightest

	// Accordion panels
	accordion
		& > .panel-group
			& > .panel
				background-color $color-light
				& > .panel-heading
					background-color $color-light
					a:hover
						color $color-lightish-inv

	// Blank panels have a low-contrast color
	.panel--blank
		color $color-dark-inv

	// When dragging something on a droppable panel
	.panel--dragging
		background-color $color-darker-inv
		.text-center
			color $color-lightest


//
// Both themes
// --------------------------------------------------

// No boxshadow for accordon panels
accordion > .panel-group > .panel
	box-shadow none
