//
// Dark theme
// --------------------------------------------------
body.theme-dark

	// Base class
	.panel
		background-color $color-darkest
		box-shadow 0 0 5px 1px rgba(black, 0.3)


//
// Light theme
// --------------------------------------------------
body.theme-light

	// Base class
	.panel
		background-color $color-lighter
		box-shadow 0 0 5px 1px rgba(black, 0.05)

	.panel-heading
		background-color $color-light-inv

	// Accordion panels
	accordion
		& > .panel-group
			& > .panel
				background-color $color-light
				& > .panel-heading
					background-color $color-light
					h4
						color $color-lightish-inv
					a:hover
						color $color-lightish-inv


//
// Both themes
// --------------------------------------------------

// No boxshadow for accordon panels
accordion > .panel-group > .panel
	box-shadow none
