//
// Dark theme
// --------------------------------------------------
.theme-dark
	.progress
		background-color $color-darkest

		.progress-bar
			background-color $color-darkest-inv


// Light theme
// --------------------------------------------------
.theme-light

	.progress
		background-color $color-lightest

		.progress-bar
			background-color $color-darker-inv

		&.progress-bar--light
			.progress-bar
				background-color $color-light-inv