//
// Dark theme
// --------------------------------------------------
//.theme-dark


// Light theme
// --------------------------------------------------
.theme-light

	.progress
		background-color $color-lightest

		.progress-bar
			background-color $color-darker-inv