//
// Dark theme
// --------------------------------------------------
.theme-dark

	// :rating :star
	.ratingbox
		.ratingbox__left-col .ratingbox-rating.rating-user
			fill $color-primary
		.rating-stars
			.svg-icon
				fill #484745
			.selecting
				&.star-on .svg-icon
					fill $color-primary
				&.star-off .svg-icon
					fill #484745
			.star-on .svg-icon
				fill #939291
			.star-off .svg-icon
				fill #484745


//
// Light theme
// --------------------------------------------------
.theme-light

	// :rating :star
	.ratingbox
		.ratingbox__left-col .ratingbox-rating.rating-user
			color $color-primary-black
		.rating-user
			.star-on
				color $color-primary-black
			.star-off
				color $color-darker-inv
		.rating-avg
			.star-on
				color $color-lighter
			.star-off
				color $color-darker-inv