//
// Dark theme
// --------------------------------------------------
.theme-dark

	// :rating :star
	.ratingbox
		.ratingbox__left-col .ratingbox-rating.rating-user
			color $color-primary
		.rating-user
			.star-on
				color $color-primary
			.star-off
				color $color-darker
		.rating-avg
			.star-on
				color $color-lighter
			.star-off
				color $color-darker


//
// Light theme
// --------------------------------------------------
.theme-light

	// :rating :star
	.ratingbox
		.ratingbox__left-col .ratingbox-rating.rating-user
			color $color-primary-black
		.rating-user
			.star-on
				color $color-primary-black
			.star-off
				color $color-darker-inv
		.rating-avg
			.star-on
				color $color-lighter
			.star-off
				color $color-darker-inv