//
// Dark theme
// --------------------------------------------------
.theme-dark

	// links
	a, .a, button
		color $color-light
		&:hover
			color $color-lighter
			.svg-icon
				fill $color-lighter
		&.a--lighter
			color $color-lighter
			.svg-icon
				fill $color-lighter
			&:hover
				color $color-lightest
				.svg-icon
					fill $color-lightest
		&.a--darker
			color $color-dark
			.svg-icon
				fill $color-dark
			&:hover
				color $color-light
				.svg-icon
					fill $color-light
		&.active, &.selected
			color $color-primary
			.svg-icon
				fill $color-primary-light

		&:hover .h--primary
			color $color-primary-light

		&.svg-icon, .svg-icon
			fill $color-light
			&.a--lighter
				fill $color-lighter
			&.a--darker
				fill $color-dark

	.a.svg-icon
		&:hover
			fill $color-lighter
		&.a--lighter:hover
			fill $color-lightest
		&.a--darker
			fill $color-light

	// code
	pre
		color $color-lighter
		border-color $color-darkest
		background-color transparent
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")

	// hr
	hr
		border-color $color-darker
		&.hr--light
			border-color $color-darkest

	// inline code
	code
		color $color-lighter
		background-color $color-darker
	.code--dark
		background-color $color-darkest

	// TODO change to <footer>
	section.footer
		&, a
			color $color-dark
		.svg-icon
			fill $color-dark
		a:hover
			color $color-light
			.svg-icon
				fill $color-light

	// text selection color
	::selection
		color rgba(white,0.9)
		background $color-primary
	::-moz-selection
		color rgba(white,0.9)
		background $color-primary



// Global color and background
body.theme-dark
	color $color-lighter
	background-image url('/images/background_outer.png')


//
// Light theme
// --------------------------------------------------
.theme-light

	color $color-lighter-inv

	// links
	a, .a
		color $color-light-inv
		&:hover
			color $color-lighter-inv
			.svg-icon
				fill $color-lighter-inv
		&.a--lighter
			color $color-lighter-inv
			&:hover
				color $color-lightest-inv
				.svg-icon
					fill $color-lightest-inv
		&.a--darker
			color $color-dark-inv
			.svg-icon
				fill $color-dark-inv
			&:hover
				color $color-light-inv
				.svg-icon
					fill $color-light-inv

		&:hover .h--primary
			color $color-primary-black-light

		&.svg-icon, .svg-icon
			fill $color-light-inv
			&.a--lighter
				fill $color-lighter-inv
			&.a--darker
				fill $color-dark-inv

	// code
	pre
		color $color-lighter-inv
		border-color $color-darkest-inv
		background-color transparent
		background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0icmdiYSgyNTUsMjU1LDI1NSwwLjAzKSI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9InJnYmEoMCwwLDAsMC4wMykiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=")

	// hr
	hr
		border-color $color-darker-inv
		&.hr--light
			border-color $color-darkest-inv


	// TODO change to <footer>
	section.footer
		&, a
			color $color-lighter
		.svg-icon
			fill $color-lighter
		a:hover
			color $color-lightest
			.svg-icon
				fill $color-lightest

	::selection
		color rgba(white,0.9)
		background #bb7f56
	::-moz-selection
		color rgba(white,0.9)
		background #bb7f56

// Global color and background
body.theme-light
	color $color-lighter-inv
	background-image url('/images/background_white_outer.png')
