//
// Dark theme
// --------------------------------------------------
.theme-dark

	table.table
		background-color transparent
		tr > th
			color $color-primary


	tr.error td
		color $color-danger-dark
		.svg-icon
			fill $color-danger-dark

	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-darkest
		&.nostripe
			background-color transparent

	.table-double-striped >	tbody
		> tr:nth-child(4n + 1), > tr:nth-child(4n + 2)
			background-color $color-darkest

	.table--selectable tr:hover, tr.selectable:hover
		td
			color $color-lightest


//
// Light theme
// --------------------------------------------------
.theme-light

	table.table
		tr > th
			color $color-lighter-inv


	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-lightish
		&.nostripe
			background-color transparent

	.table--selectable tr:hover td
		color $color-lightest-inv

	.table--inner-border
		tr
			> td, > th
				border-bottom-color #cbcaca
		tr th
			border-right-color #cbcaca