//
// Dark theme
// --------------------------------------------------
.theme-dark

	table.table
		tr > th
			color $color-primary

	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-darkest
		&.nostripe
			background-color transparent

	.table--selectable tr:hover td
		color $color-primary


//
// Light theme
// --------------------------------------------------
.theme-light

	table.table
		tr > th
			color $color-lighter-inv


	.table-striped > tbody > tr:nth-child(odd)
		background-color $color-lightish
		&.nostripe
			background-color transparent

	.table--selectable tr:hover td
		color $color-lightest-inv

	.table--inner-border
		tr
			> td, > th
				border-bottom-color $color-darker-inv
		tr th
			border-right-color $color-darker-inv