//
// Dark theme
// --------------------------------------------------
.theme-dark

	.thumbnail--avatar
		background-color transparent
		.caption
			color $color-lighter

//
// Light theme
// --------------------------------------------------
.theme-light

	.thumbnail--avatar
		background-color transparent
		.caption
			color $color-lighter-inv