//
// Dark theme
// --------------------------------------------------
//.theme-dark

//
// Light theme
// --------------------------------------------------
.theme-light

	.tooltip-inner
		background-color rgba(120,120,120,0.85)

	.tooltip.top .tooltip-arrow
		border-top-color rgba(120,120,120,0.85)