$color-tooltip-bg-dark = rgba(16, 16, 16, 0.8);

//
// Dark theme
// --------------------------------------------------
.theme-dark

	.tooltip-inner
		color $color-lightish
		background-color $color-tooltip-bg-dark

	.tooltip
		&.right .tooltip-arrow
			border-right-color $color-tooltip-bg-dark
		&.top .tooltip-arrow
			border-top-color $color-tooltip-bg-dark
		&.bottom .tooltip-arrow
			border-bottom-color $color-tooltip-bg-dark
		&.left .tooltip-arrow
			border-left-color $color-tooltip-bg-dark

//
// Light theme
// --------------------------------------------------
.theme-light

	.tooltip-inner
		background-color rgba(120,120,120,0.85)

	.tooltip.top .tooltip-arrow
		border-top-color rgba(120,120,120,0.85)