//
// Both themes
// --------------------------------------------------

//
// Dark theme
// --------------------------------------------------
body.theme-dark
	h1, h5
		color $color-primary
	h2, h3
		color $color-light

//
// Light theme
// --------------------------------------------------
body.theme-light
	h1, h5
		color $color-primary-black
	h2, h3
		color $color-light-inv
	h4
		color $color-lightish-inv
