//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Headings
	h1, h2, h3, h4, h5, h6
		color $color-light
	.h--primary
		color $color-primary

//
// Light theme
// --------------------------------------------------
.theme-light

	// Headings
	h1, h2, h3, h4, h5, h6
		color $color-light-inv
	.h--primary
		color $color-primary-black
