//
// Dark theme
// --------------------------------------------------
.theme-dark

	// Headings
	h1, h2, h3, h4, h5, h6
		color $color-light
		> strong
			color $color-primary
	.h--primary
		color $color-primary
	.h--lighter, h3
		color $color-lighter

//
// Light theme
// --------------------------------------------------
.theme-light

	// Headings
	h1, h2, h3, h4, h5, h6
		color $color-light-inv
		> strong
			color $color-primary-black

	.h--primary
		color $color-primary-black
	.h--lighter, h3
		color $color-lighter-inv

