//
// Dark theme
// --------------------------------------------------
.theme-dark
	.well--full-width
		background-color $color-lightish-inv


// Light theme
// --------------------------------------------------
//.theme-light
