//
// Dark theme
// --------------------------------------------------
.theme-dark
	.well--full-width
		background-color rgba(black, 0.33)


// Light theme
// --------------------------------------------------
//.theme-light
