.row.ng-cloak.row--fullheight.fade-animation(ng-controller="GameController", ng-show="!pageLoading")

	// right column
	.col-sm-3.col-sm-push-9.col-lg-2.col-lg-push-10.col--menu.text-center
		img.img--logo(ng-src="{{ game.media.logo.url }}")

		.ratingbox(rating-avg="$parent.game.rating", rating-votes="$parent.game.votes", ng-mouseenter="editing=true", ng-mouseleave="editing=false")
			.ratingbox__left-col
				.ratingbox__rating.rating-user(ng-show="editing") {{ hoverRating | rating }}
				.ratingbox__rating(ng-class="{ 'rating-hide' : editing }") {{ $parent.game.rating | rating }}
			.ratingbox__right-col
				rating.rating-user(ng-show="editing", ng-model="ratingUser", max="10", rating-states="states", on-hover="hoverRating = value", on-leave="hoverRating = ratingUser")
				rating.rating-avg(ng-hide="editing", ng-model="ratingAvg", max="10", rating-states="states", readonly="true")
				span.votes {{ $parent.game.votes | number }} vote{{ $parent.game.votes == 1 ? '' : 's' }}
		hr

		label.label--block(ng-show="game.game_type") {{ game.game_type | gametype }}
		label(ng-show="game.produced_units") {{ game.produced_units | number }} units produced
		hr(ng-show="game.game_type || game.units")

		label.label-name.label--block(ng-show="game.designers") Game Design
		label.label-value(ng-show="game.designers") {{ game.designers.join(', ') }}
		hr(ng-show="game.designers")

		label.label-name.label--block(ng-show="game.artists") Art Design
		label.label-value(ng-show="game.artists")  {{ game.artists.join(', ') }}
		hr(ng-show="game.artists")

		label.label-name(ng-show="game.ipdb")
			a.a--lighter(href="http://www.ipdb.org/machine.cgi?id={{ game.ipdb.no  }}", target="_blank")
				span.space-right
					strong IPDB
				i.fa.fa-external-link
		dl.dl--oneliner(ng-show="game.ipdb.rating")
			dt Rating
			dd(title="{{ game.ipdb.votes | number }} vote{{ game.ipdb.votes == 1 ? '' : 's' }}")
				strong {{ game.ipdb.rating }}
			dt(ng-show="game.ipdb.top300") Top 300
			dd(ng-show="game.ipdb.top300") rank <strong>{{ game.ipdb.top300 }}</strong>

		hr(ng-show="game.ipdb")

		button.btn.btn-default.btn-block.padder-bottom
			i.fa.fa-star.space-right
			| Follow
		a.btn.btn-primary.padder-bottom(href="/game/{{game.game_id}}/add-release", ng-show="auth.hasPermission('releases/add')")
			i.fa.fa-plus-circle.btn-.space-right
			| Add Release

	// left column (main content)
	.col-sm-9.col-sm-pull-3.col-lg-10.col-lg-pull-2.col--main
		h1.h--primary {{ game.title }}
		h1.h--small.pull-right {{ game.manufacturer }} &middot; {{ game.year }}
		hr
		h1 Releases
		label(ng-hide="game.releases.length > 0")  No releases for this game available.
		div(ng-repeat="release in game.releases")
			.panel
				.row.padder-nobottom
					.col-sm-4.col-md-3
						a.image-link(href="{{ release.thumbs.playfield[0] }}")
							img.img.img-responsive.img--rounded(img-src="{{ release.thumbs.playfield[0] }}")
						.ratingbox(rating-avg="release.rating", rating-votes="release.votes", ng-mouseenter="editing=true", ng-mouseleave="editing=false")
							.ratingbox__left-col
								.ratingbox__rating.rating-user(ng-show="editing") {{ hoverRating | rating }}
								.ratingbox__rating(ng-class="{ 'rating-hide' : editing }") {{ release.rating | rating }}
							.ratingbox__right-col
								rating.rating-user(ng-show="editing", ng-model="ratingUser", max="10", rating-states="states", on-hover="hoverRating = value", on-leave="hoverRating = ratingUser")
								rating.rating-avg(ng-hide="editing", ng-model="ratingAvg", max="10", rating-states="states", readonly="true")
								span.votes {{ release.votes | number }} vote{{ release.votes == 1 ? '' : 's' }}
					.col-sm-8.col-md-9
						h2.h--primary.h--no-margin {{ release.title }}
						label
							i.icon.icon-user
							span
								user {{ release.submitter.user }}
						label
							i.fa.fa-arrow-circle-up.space-right
							time-ago(from-time="{{ release.lastversion.timestamp }}")
						label
							i.fa.fa-arrow-circle-down.space-right
							span {{ release.lastversion.downloads | number }} downloads

						accordion.panel-group--accordion(close-others="true")
							accordion-group.panel--inner(heading="Description", is-open="accordeon.isFirstOpen")
								div.markdown(markdown="release.description")

							accordion-group.panel--inner(heading="Authors")
								div.thumbnail.thumbnail--avatar.pull-left(ng-repeat="author in release.authors")
									.img-avatar.avatar-placeholder(ng-hide="author.author.avatar")
									.img.img-avatar(ng-show="author.author.avatar", img-bg="author.author.avatar")
									.caption
										user.center-block {{ author.author.user }}
										i.center-block {{ author.roles.join(', ') }}

							accordion-group.panel--inner(heading="Acknowledgements")
								div.markdown(markdown="release.acknowledgements")

							accordion-group.panel--inner(heading="Changelog")
								div(ng-repeat="version in release.versions")
									h4
										| Version
										label.label--version {{ version.download.version }}
										.pull-right
											time-ago.small.space-right(from-time="{{ version.timestamp }}")
											button.btn.btn-default.btn-xs.btn-dl(download="version.download", download-info="[ game, release ] | dlRelease", title="{{ version.download.size | bytes }}")
									hr
									div.markdown(markdown="version.changes")

							accordion-group.panel--inner(heading="Mods")
								p This release hasn't been modded yet.
								hr
								button.btn.btn-default(ng-click="requestModPermission()")
									i.fa.fa-wrench.space-right
									| Request Mod Permission

							accordion-group.panel--inner(heading="Gallery")
								p No images in the gallery yet.
				.row.padder-notop
					.col-sm-4.col-md-3
						.btn-group.btn-group--flex
							button.btn.btn-default.btn-lg.col-xs-11(type="button")
								i.fa.fa-download.space-right
								| Media
							button.btn.btn-default.btn-lg.dropdown-toggle.col-xs-1(type="button", data-toggle="dropdown")
								i.fa.fa-angle-down
								span.sr-only Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									a(href="#")
										i.fa.fa-download.space-right
										| Playfield Video
								li
									a(href="#")
										i.fa.fa-download.space-right
										| Playfield Image
								li.divider
								li
									a(href="#")
										i.fa.fa-download.space-right
										| All
					.col-sm-4.col-md-4
						label.label--download.pull-right
							span.pipe
								| Version
								label.label--version {{ release.lastversion.download.version }}
							span.pipe {{ release.lastversion.download.size | bytes }}
					.col-sm-4.col-md-5
						button.btn.btn-primary.btn-lg.btn-block.pull-right(download="release.lastversion.download", download-info="[ game, release ] | dlRelease", ng-class="{ 'btn-pin': downloadsPinned }")
							| Download
					.clearfix

			//- Comments
			.panel.padder(ng-controller="CommentsCtrl")
				h1.h--no-margin.h--small.space-left-2x Comments on Release
				label.padder-left(ng-show="!release.comments || release.comments.length == 0") No comments yet.
				.media(ng-repeat="comment in release.comments", ng-controller="CommentCtrl")
					.img-avatar.avatar-placeholder.pull-left(ng-hide="comment.author.avatar")
					.img.img-avatar.pull-left(ng-show="comment.author.avatar", img-bg="comment.author.avatar")
					.media-body
						.panel.panel--inner
							.panel-triangle
							.panel-heading
								label
								strong {{ comment.author.user }}
								| &nbsp;commented
								time-ago(from-time="{{ comment.timestamp }}")
								.pull-right(ng-hide="editing")
									i.a.fa.fa-pencil.space-right(ng-click="editComment()")
									i.a.fa.fa-times-circle(ng-click="deleteComment()")
							.panel-body
								div.markdown(ng-hide="editing", markdown="comment.message")
								textarea.textarea--full.msd-elastic(ng-show="editing", placeholder="Update comment", ng-model="updatedComment")
							.panel-footer(ng-show="editing")
								button.btn.btn-default.pull-left(ng-click="cancelEdit()") Cancel
								button.btn.btn-default.pull-right(ng-click="saveComment()") Update Comment
								.clearfix

				.media
					.img-avatar.avatar-placeholder.pull-left
					.media-body
						tabset
							label.label--small.pull-right Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
							tab
								tab-heading
									i.fa.fa-edit(title="Write")
									.panel-triangle
								textarea.textarea--full.msd-elastic(placeholder="Leave a comment", ng-model="$parent.newComment")
							tab
								tab-heading
									i.fa.fa-eye(title="Preview")
								div.markdown(markdown="$parent.newComment")
								label.tab__label(ng-show="!newComment || newComment.length == 0") Nothing to preview.


				button.btn.btn-default.padder-top.pull-right(ng-click="addComment()") Comment
				.clearfix

		h1 ROMs
		label(ng-hide="game.roms.length > 0")  No ROMs available.
		table.table.table-striped(ng-show="game.roms.length > 0")
			thead
				tr
					th Name
					th Version
					th.hidden-xs Language
					th.hidden-xs Notes
					th DLs
					th Size
					th
			tbody
				tr(ng-repeat="rom in game.roms")
					td
						samp {{ rom.name }}
					td {{ rom.download.version }}
					td.hidden-xs {{ rom.language }}
					td.hidden-xs {{ rom.notes }}
					td {{ rom.downloads | number }}
					td {{ rom.download.size | bytes }}
					td.nostripe.td-dlbtn
						button.btn.btn-primary.btn-xs.btn-dl(download="rom.download", download-info="[ game, rom ] | dlRom")

		h1 Backglasses
		label(ng-hide="game.backglasses.length > 0")  No backglasses available.
		.row(ng-show="game.backglasses.length > 0")
			.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="backglass in game.backglasses")
				.flipbox.flipbox-backglass
					.panel.panel--backglass.flipbox-front.text-center
						h1.h--smaller
							i.fa.fa-picture-o.space-right
							| Direct B2S
						hr
						.oneliner
							i.icon.icon-user
							| &nbsp;&nbsp; {{ backglass.author.user }}
						hr
						.backglass-description
							scrollable(always-visible="true")
								markdown.markdown(markdown="backglass.description")
						footer
							hr
							.third
								span
									i.fa.fa-arrow-circle-down.space-right
									| {{ backglass.downloads | number }}
							.third
								span
									i.fa.fa-star.space-right
									| {{ backglass.rating | rating }}
							.third
								span {{ backglass.download.size | bytes }}

					.panel.panel--backglass.flipbox-back.img.img-fullspan(img-bg="backglass.thumb")
						button.btn.btn-primary.btn-lg.btn--sticky-bottom(download="backglass.download", download-info="[ game, backglass ] | dlBackglass", ng-click="$event.stopPropagation()")
								| Download
					.clearfix


		h1 Media
			button(ng-show="game.media.length > 0").btn.btn-primary.pull-right
				i.fa.fa-download.space-right
				| Download Pack
		label(ng-hide="game.media.length > 0")  No media available.
		.row(ng-show="game.media.length > 0")
			.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="item in game.media")
				.flipbox.flipbox-backglass
					.panel.panel--backglass.flipbox-front.text-center
						h1.h--smaller
							i.fa.space-right(ng-class="{ 'fa-picture-o': item.format == 'image', 'fa-video-camera': item.format == 'video', 'fa-info-circle': item.type == 'instructioncard' }")
							| {{ item.type | mediatype }}
						hr
						.oneliner
							i.icon.icon-user
							| &nbsp;&nbsp; {{ item.author.user }}
						hr
						.oneliner(ng-show="item.width && item.height")
							| {{ item.width }} &times; {{ item.height }}
						hr(ng-show="item.width && item.height")

						.oneliner(ng-show="item.pages")
							| {{ item.pages.length }} pages
						hr(ng-show="item.pages")

						.oneliner(ng-show="item.duration")
							| {{ item.duration }} seconds
						hr(ng-show="item.duration")

						.morelines(ng-show="item.pages") {{ item.pages.join(', ') }}

						footer
							hr
							.third
								span
									i.fa.fa-arrow-circle-down.space-right
									| {{ item.downloads | number }}
							.third
								span
									i.fa.fa-star.space-right
									| {{ item.rating | rating }}
							.third
								span {{ item.download.size | bytes }}

					.panel.panel--backglass.flipbox-back.img.img--rounded(img-bg="item.thumb")
						button.btn.btn-primary.btn-lg.btn--sticky-bottom(download="item.download", download-info="[ game, item ] | dlMedia", ng-click="$event.stopPropagation()")
							| Download
					.clearfix


		h1 Alternative Media
		label(ng-hide="game.secondarymedia.length > 0")  No alternative media available.

		p
			br