.row.row--fullheight(ng-controller="GameListController")
	.col-sm-9.col-main
		h1 all games
		ul.nav-icons
			li(ng-class="{ active: viewtype == 'compact' }")
				i.fa.fa-th-large(ng-click="switchview('compact')")
			li(ng-class="{ active: viewtype == 'extended' }")
				i.fa.fa-th-list(ng-click="switchview('extended')")
			li(ng-class="{ active: viewtype == 'list' }")
				i.icon.icon-th-list-list(ng-click="switchview('list')")
		hr
		div.ng-cloak
			.row.row-data
				label(ng-show="(games | filter:query | decade:filterDecades | manufacturer:filterManufacturer).length == 0") No results found for query <strong>{{ query }}</strong>.
				.fade2-animation(ng-include="template")

	.col-sm-3.col-menu.bg-dark
		h2 filter
		hr

		// search box
		.input-group
			span.input-group-addon
				i.fa.fa-search
			input.form-control.input--search(ng-model="query", type="text", placeholder="Search")

		accordion(close-others="false")

			// year filter
			accordion-group(is-open="filterYearOpen")
				accordion-heading
					| Year
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterYearOpen, 'fa-chevron-circle-down': !filterYearOpen}")

				ul.list-group
					li.list-group-item(filter-decade="1960") 1960s
					li.list-group-item(filter-decade="1970") 1970s
					li.list-group-item(filter-decade="1980") 1980s
				ul.list-group
					li.list-group-item(filter-decade="1990") 1990s
					li.list-group-item(filter-decade="2000") 2000s
					li.list-group-item(filter-decade="2010") 2010s

			// manufacturer filter
			accordion-group(is-open="filterManufacturerOpen")
				accordion-heading
					| Manufacturer
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterManufacturerOpen, 'fa-chevron-circle-down': !filterManufacturerOpen}")

				ul.list-group
					li.list-group-item(filter-manufacturer="bally") Bally
					li.list-group-item(filter-manufacturer="capcom") Capcom
				ul.list-group
					li.list-group-item(filter-manufacturer="midway") Midway
					li.list-group-item(filter-manufacturer="williams") Williams

			// author filter
			accordion-group(is-open="filterAuthorOpen")
				accordion-heading
					| Author
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterAuthorOpen, 'fa-chevron-circle-down': !filterAuthorOpen}")

				p here are the authors

		h2 sort
		hr
		ul.list--sort-options
			li(sort="name", d="desc") Date Added
			li(sort="year", d="asc") Original Release
			li.selected.asc(sort="name", d="asc") Name
			li(sort="rating", d="desc") Rating
			li(sort="views", d="desc") Views
			li(sort="gamedownloads", d="desc") Downloads

		span(ng-show="hasPermission('games/edit')")
			h2 content
			hr
			a.btn.btn-primary(href="/games/add")
				i.fa.fa-plus-circle.space-right
				| Add Game