.col-xs-12.fade-animation(ng-repeat="game in games | filter:query | decade:filterDecades | manufacturer:filterManufacturer | orderBy:sort:sortReverse", ng-click="navGame(game.id)")
	.panel.panel--animated.panel--animated--less.ng-cloak
		.clearfix
		.col--list-extended-left
			.img.img--ar-bg.img--rounded-left.img--fade(img-bg="game.art.backglass_thumb")
		.col--list-extended-right
			h1.h--small.h--no-margin {{ game.name }}
			label {{ game.manufacturer }} &middot; {{ game.year }}
			label.label--block
				span(ng-repeat="author in game.authors")
					i.icon.icon-user
					| {{ author}}
			label
				i.fa.fa-arrow-circle-down
				span.pipe {{ game.gamedownloads | number }}
				i.fa.fa-eye.hidden-xs
				span.pipe.hidden-xs {{ game.views | number }}
				i.fa.fa-comment.hidden-xs
				span.pipe.hidden-xs {{ game.comments | number }}

			label.pull-right
				i.fa.fa-arrow-circle-up
				time-ago(from-time="{{ game.lastrelease }}")

			.ratingbox.ratingbox--sticky-top-right.hidden-xs(rating-avg="game.rating")
				.ratingbox__left-col
					.ratingbox__rating {{ game.rating | rating }}
				.ratingbox__right-col
					rating.rating-avg(ng-model="ratingAvg", max="10", rating-states="states", readonly="true")
					span.votes {{ game.votes | number }} vote{{ game.votes == 1 ? '' : 's' }}

		.clearfix