.row.row-fullheight(ng-controller="HomeController")
	.col-sm-9.col-main
		h5 packs
		hr
		.row.row-data
			.col-xs-12.fade-animation(ng-repeat="pack in packs", ng-click="details(game.id)")
				.panel.panel-dark.panel-banner.bg-dark.ng-cloak
					img(ng-src="{{ pack.banner }}")

					h3
						i.icon.icon-title(class="{{ pack | manufacturerIcon }}")
						label.pull-right
							strong(ng-bind-html="pack.name | smalls")
							span &nbsp;{{ pack.number }}

					.row
						.col-xs-12.col-sm-6(ng-repeat="game in pack.releases", ng-click="navGame(game.id)") {{ game.name }}

					button.btn.btn-default.btn-lg(download="pack.download", download-info="pack | dlPack")
						| Download
		.clearfix

		h5 new releases
		hr
		.row.row-data
			.col-lg-6.col-md-12.fade-animation(ng-repeat="release in newReleases", ng-click="navGame(release.game.id)")
				.panel.panel-dark.panel-mini.bg-dark.ng-cloak
					.img-wrapper
						.img.img-fade(img-bg="release.thumbs.square")
					.data-wrapper
						h3 {{ release.game.name }}
						h4
							| {{ release.title }}
							label.label-version {{ release.lastversion.version }}
						label.block
							i.icon.icon-user
							| {{ release.submitter.user }}
					.clearfix
		.clearfix

		h5 updated releases
		hr
		.row.row-data
			.col-lg-6.col-md-12.fade-animation(ng-repeat="release in updatedReleases", ng-click="navGame(release.game.id)")
				.panel.panel-dark.panel-mini.bg-dark.ng-cloak
					.img-wrapper
						.img.img-fade(img-bg="release.thumbs.square")
					.data-wrapper
						h3 {{ release.game.name }}
						h4
							| {{ release.title }}
							label.label-version {{ release.lastversion.version }}
						label.block
							i.icon.icon-user
							| {{ release.submitter.user }}
					.clearfix
		.clearfix

		h5 news feed
		hr
		.media.media-news(ng-repeat="item in feed | orderBy:'timestamp':true")
			div.media-object.media-avatar.media-avatar-large.pull-left(ng-hide="item.user.avatar")
			img.media-object.media-avatar.media-avatar-large.pull-left(ng-show="item.user.avatar", ng-src="{{ item.user.avatar }}")
			.media-body
				label.label-block
					time-ago(from-time="{{ item.timestamp }}")
				label.label-block
					i.fa(class="{{ item | feedIcon }}")
					strong {{ item.user.user }}
					span(ng-bind-html="item | feedAction")
				label.label-block(ng-bind-html="item | feedMessage")
			hr(ng-hide="$last")

		.clearfix
		// todo properly
		p
			br

	.col-sm-3.col-menu.bg-dark
		h2 releases
		hr
		h4 Trending

		.media.media-mini(ng-repeat="release in newReleases.slice(0,4)", ng-class="{ last: $last }")
			img.media-object.pull-left(ng-src="{{release.thumbs.square}}")
			.media-body
				h4.media-heading {{ release.game.name }}
				h5.media-heading {{ release.title }}

		h4 Most Starred
		.media.media-mini(ng-repeat="release in updatedReleases.slice(0,4)", ng-class="{ last: $last }")
			img.media-object.pull-left(ng-src="{{release.thumbs.square}}")
			.media-body
				h4.media-heading {{ release.game.name }}
				h5.media-heading {{ release.title }}

		h4 Most Downloaded
		.media.media-mini(ng-repeat="release in newReleases.slice(0,4)", ng-class="{ last: $last }")
			img.media-object.pull-left(ng-src="{{release.thumbs.square}}")
			.media-body
				h4.media-heading {{ release.game.name }}
				h5.media-heading {{ release.title }}

		h2 people
		hr
		h4 Most Active Authors
		.media.media-mini(ng-repeat="user in users | orderBy:'authored':true", ng-class="{ last: $last }")
			div.media-object.media-avatar.media-avatar-small.pull-left(ng-hide="user.avatar")
			img.media-object.media-avatar.media-avatar-small.pull-left(ng-show="user.avatar", ng-src="{{ user.avatar }}")
			.media-body
				h4.media-heading {{ user.user }}
				h5.media-heading
					i.fa.fa-arrow-circle-up
					| {{ user.authored| number }} releases

		h4 Most Active Submitters
		.media.media-mini(ng-repeat="user in users | orderBy:'submitted':true", ng-class="{ last: $last }")
			div.media-object.media-avatar.media-avatar-small.pull-left(ng-hide="user.avatar")
			img.media-object.media-avatar.media-avatar-small.pull-left(ng-show="user.avatar", ng-src="{{ user.avatar }}")
			.media-body
				h4.media-heading {{ user.user }}
				h5.media-heading
					i.fa.fa-arrow-circle-up
					| {{ user.submitted| number }} items
		h4 Most Acknowledged
		.media.media-mini(ng-repeat="user in users | orderBy:'acknowledged':true", ng-class="{ last: $last }")
			div.media-object.media-avatar.media-avatar-small.pull-left(ng-hide="user.avatar")
			img.media-object.media-avatar.media-avatar-small.pull-left(ng-show="user.avatar", ng-src="{{ user.avatar }}")
			.media-body
				h4.media-heading {{ user.user }}
				h5.media-heading
					i.fa.fa-thumbs-up
					| {{ user.acknowledged| number }} times
		h4 Most Followed
		.media.media-mini(ng-repeat="user in users | orderBy:'followers':true", ng-class="{ last: $last }")
			div.media-object.media-avatar.media-avatar-small.pull-left(ng-hide="user.avatar")
			img.media-object.media-avatar.media-avatar-small.pull-left(ng-show="user.avatar", ng-src="{{ user.avatar }}")
			.media-body
				h4.media-heading {{ user.user }}
				h5.media-heading
					i.fa.fa-star
					| {{ user.followers | number }} followers
