.row.row-fullheight(ng-controller="HomeController")
	.col-sm-9.col-main
		h5 packs
		hr
		.row.row-data
			.col-xs-12.fade-animation(ng-repeat="pack in packs", ng-click="details(table.id)")
				.panel.panel-dark.panel-banner.bg-dark.ng-cloak
					img(ng-src="{{ pack.banner }}")

					h3
						i.icon.icon-williams.icon-title
						label.pull-right
							strong(ng-bind-html="pack.name | smalls")
							span &nbsp;{{ pack.number }}

					.row
						.col-xs-12.col-sm-6(ng-repeat="game in pack.releases", ng-click="navGame(game.id)") {{ game.name }}

					button.btn.btn-default.btn-lg
						i.fa.fa-download.space-right
						| Download



		.clearfix
		h5 new releases
		hr
		.row.row-data
			.col-lg-6.col-md-12.fade-animation(ng-repeat="release in releases", ng-click="details(table.id)")
				.panel.panel-dark.panel-mini.bg-dark.ng-cloak
					.img-wrapper
						.img.img-fade(img-bg="{{ release.thumbs.square }}")
					.data-wrapper
						h3 {{ release.table.name }}
						h4
							| {{ release.title }}
							label.label-version {{ release.lastversion.version }}
						label.block
							i.icon.icon-user
							| {{ release.submitter.user }}
					.clearfix

		.clearfix

		h5 updated releases
		hr

		h5 news feed
		hr

	.col-sm-3.col-menu.bg-dark
		h2 releases
		hr

		h2 people
		hr