.row.ng-cloak.row--fullheight.fade-animation(ng-init="setTheme('light')")

	// right column
	.col-sm-3.col-sm-push-9.col-lg-2.col-lg-push-10.col-menu.bg-dark.text-center

		button.btn.btn-primary.btn-lg.pull-right.btn-theme-toggle(ng-click="toggleTheme()")
			i.fa.fa-adjust
		.clearfix

		include includes/styleguide-common
		include includes/styleguide-sidebar

	// left column (main content)
	.col-sm-9.col-sm-pull-3.col-lg-10.col-lg-pull-2.col-main

		include includes/styleguide-common
		include includes/styleguide-main
