.row.ng-cloak.row-fullheight.fade-animation

	// right column
	.col-sm-6.col-sm-push-6.col-lg-6.col-lg-push-6.col-menu.bg-dark.text-center

		button.btn.btn-primary.btn-lg.pull-right.btn-theme-toggle(ng-click="toggleTheme()")
			i.fa.fa-adjust
		.clearfix

		include includes/styleguide-elements

	// left column (main content)
	.col-sm-6.col-sm-pull-6.col-lg-6.col-lg-pull-6.col-main

		include includes/styleguide-elements
