.col-md-4.col-sm-6.col-xs-12.fade-animation(ng-repeat="table in tables | filter:query | decade:filterDecades | manufacturer:filterManufacturer | orderBy:sort:sortReverse", ng-click="navGame(table.id)")
	.panel.panel-dark.panel-compact.bg-dark.ng-cloak
		.img.img-fade(img-bg="{{ table.art.backglass_thumb }}")
		h3 {{ table.name }}
		label {{ table.manufacturer }} &middot; {{ table.year }}