.row.row-fullheight(ng-controller="TableListController")
	.col-sm-9.col-main
		h1 all tables
		ul.viewtype-panel
			li(ng-class="{ active: viewtype == 'compact' }")
				i.fa.fa-th-large(ng-click="switchview('compact')")
			li(ng-class="{ active: viewtype == 'extended' }")
				i.fa.fa-th-list(ng-click="switchview('extended')")
			li(ng-class="{ active: viewtype == 'list' }")
				i.icon.icon-th-list-list(ng-click="switchview('list')")
		hr
		div.ng-cloak
			.row.row-data
				div(ng-include="template")

	.col-sm-3.col-menu.bg-dark
		h2 filter
		hr

		// search box
		.input-group
			span.input-group-addon
				i.fa.fa-search
			input.form-control(type="text", placeholder="Search")

		accordion(close-others="false")

			// year filter
			accordion-group(is-open="filterYearOpen")
				accordion-heading
					| Year
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterYearOpen, 'fa-chevron-circle-down': !filterYearOpen}")

				p select years in here.

			// manufacturer filter
			accordion-group(is-open="filterManufacturerOpen")
				accordion-heading
					| Manufacturer
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterManufacturerOpen, 'fa-chevron-circle-down': !filterManufacturerOpen}")

				p here are the manufacturers

			// author filter
			accordion-group(is-open="filterAuthorOpen")
				accordion-heading
					| Author
					i.fa.pull-right(ng-class="{'fa-chevron-circle-up': filterAuthorOpen, 'fa-chevron-circle-down': !filterAuthorOpen}")

				p here are the authors

		h2 sort
		hr
		ul.selectable
			li Date Added
			li Original Release
			li.selected.asc Name
			li Rating
			li Views
			li Downloads