.row.ng-cloak.row-fullheight.fade-animation(ng-controller="TableController", ng-show="!pageLoading")

	// right column
	.col-sm-3.col-sm-push-9.col-lg-2.col-lg-push-10.col-menu.bg-dark.text-center
		img.img-logo(ng-src="{{ table.thumbs.logo }}")

		.ratingbox(rating-avg="$parent.table.rating", rating-votes="$parent.table.votes", ng-mouseenter="editing=true", ng-mouseleave="editing=false")
			.ratingbox-left
				.ratingbox-rating.rating-user(ng-show="editing") {{ hoverRating | rating }}
				.ratingbox-rating(ng-class="{ 'rating-hide' : editing }") {{ $parent.table.rating | rating }}
			.ratingbox-right
				rating.rating-user(ng-show="editing", value="ratingUser", max="10", rating-states="states", on-hover="hoverRating = value", on-leave="hoverRating = ratingUser")
				rating.rating-avg(ng-hide="editing", value="ratingAvg", max="10", rating-states="states", readonly="true")
				span.votes {{ $parent.table.votes | number }} vote{{ $parent.table.votes == 1 ? '' : 's' }}
		hr

		label(ng-show="table.gametype") {{ table.gametype | gametype }}
		label(ng-show="table.units") {{ table.units | number }} units sold
		hr(ng-show="table.gametype || table.units")

		label.label-name(ng-show="table.gamedesign") Game Design
		label.label-value(ng-show="table.gamedesign") {{ table.gamedesign.join(', ') }}
		hr(ng-show="table.gamedesign")

		label.label-name(ng-show="table.artdesign") Art Design
		label.label-value(ng-show="table.artdesign")  {{ table.artdesign.join(', ') }}
		hr(ng-show="table.artdesign")

		label.label-name(ng-show="table.ipdb")
			a(href="http://www.ipdb.org/machine.cgi?id={{ table.ipdb.no  }}", target="_blank")
				span.space-right
					strong IPDB
				i.fa.fa-external-link
		dl.oneline(ng-show="table.ipdb.rating")
			dt Rating
			dd(title="{{ table.ipdb.votes | number }} vote{{ table.ipdb.votes == 1 ? '' : 's' }}")
				strong {{ table.ipdb.rating }}
			dt(ng-show="table.ipdb.top300") Top 300
			dd(ng-show="table.ipdb.top300") rank <strong>{{ table.ipdb.top300 }}</strong>

		hr(ng-show="table.ipdb")

		button.btn.btn-default.btn-block
			i.fa.fa-star.space-right
			| Follow

	// left column (main content)
	.col-sm-9.col-sm-pull-3.col-lg-10.col-lg-pull-2.col-main
		h1 {{ table.name }}
		h3.pull-right {{ table.manufacturer }} &middot; {{ table.year }}
		hr
		h2 Releases
		label(ng-hide="table.releases.length > 0")  No releases for this table available.
		div(ng-repeat="release in table.releases")
			.panel.panel-detailed.bg-dark
				.row.padder-nobottom
					.col-sm-4.col-md-3
						a.image-link(href="{{ release.thumbs.playfield }}")
							.img-wrapper
								img.img-responsive(ng-src="{{ release.thumbs.playfield }}")
						.ratingbox(rating-avg="release.rating", rating-votes="release.votes", ng-mouseenter="editing=true", ng-mouseleave="editing=false")
							.ratingbox-left
								.ratingbox-rating.rating-user(ng-show="editing") {{ hoverRating | rating }}
								.ratingbox-rating(ng-class="{ 'rating-hide' : editing }") {{ release.rating | rating }}
							.ratingbox-right
								rating.rating-user(ng-show="editing", value="ratingUser", max="10", rating-states="states", on-hover="hoverRating = value", on-leave="hoverRating = ratingUser")
								rating.rating-avg(ng-hide="editing", value="ratingAvg", max="10", rating-states="states", readonly="true")
								span.votes {{ release.votes | number }} vote{{ release.votes == 1 ? '' : 's' }}
					.col-sm-8.col-md-9
						h1 {{ release.title }}
						label
							i.icon.icon-user
							span {{ release.submitter.user }}
						label
							i.fa.fa-arrow-circle-up
							time-ago(from-time="{{ release.lastversion.timestamp }}")
						label
							i.fa.fa-arrow-circle-down
							span {{ release.lastversion.downloads | number }} downloads

						accordion.accordion-glued(close-others="true")
							accordion-group(heading="Description", is-open="true")
								div.markdown(markdown="release.description")

							accordion-group(heading="Authors")
								div.thumbnail.thumbnail-avatar.pull-left(ng-repeat="author in release.authors")
									div.media-avatar-medium(ng-hide="author.author.avatar")
									img.media-avatar-medium(ng-show="author.author.avatar", ng-src="{{ author.author.avatar }}")
									.caption
										h1 {{ author.author.user }}
										label {{ author.roles.join(', ') }}

							accordion-group(heading="Acknowledgements")
								div.markdown(markdown="release.acknowledgements")

							accordion-group(heading="Changelog")
								div(ng-repeat="version in release.versions")
									h4
										| Version
										label.label-version {{ version.version }}
										.pull-right
											time-ago.small.space-right(from-time="{{ version.timestamp }}")
											button.btn.btn-default.btn-xs(title="{{ version.size | bytes }}")
												i.fa.fa-download
									hr
									div.markdown(markdown="version.changes")

							accordion-group(heading="Mods")
								p This release hasn't been modded yet.
								hr
								button.btn.btn-default(ng-click="requestModPermission()")
									i.fa.fa-wrench.space-right
									| Request Mod Permission

							accordion-group(heading="Gallery")
								p No images in the gallery yet.
				.row.padder-notop
					.col-sm-4.col-md-3
						.btn-group.btn-group-flex
							button.btn.btn-default.btn-lg.col-xs-11(type="button")
								i.fa.fa-download.space-right
								| Media
							button.btn.btn-default.btn-lg.dropdown-toggle.col-xs-1(type="button", data-toggle="dropdown")
								i.fa.fa-angle-down
								span.sr-only Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									a(href="#")
										i.fa.fa-download.space-right
										| Playfield Video
								li
									a(href="#")
										i.fa.fa-download.space-right
										| Playfield Image
								li.divider
								li
									a(href="#")
										i.fa.fa-download.space-right
										| All
					.col-sm-4.col-md-4
						label.label-download.pull-right
							span.pipe
								| Version
								label.label-version {{ release.lastversion.version }}
							span.pipe {{ release.lastversion.size | bytes }}
					.col-sm-4.col-md-5
						button.btn.btn-primary.btn-lg.btn-block.pull-right
							i.fa.fa-download.space-right
							| Download
					.clearfix

			.panel.bg-dark(ng-controller="CommentsCtrl")
				h3 Comments on Release
				.media(ng-repeat="comment in release.comments" ng-controller="CommentCtrl")
					div.media-object.media-avatar-medium.pull-left(ng-hide="comment.author.avatar")
					img.media-object.media-avatar-medium.pull-left(ng-show="comment.author.avatar", ng-src="{{ comment.author.avatar }}")
					.media-body
						.panel.panel-small.bg-lighter
							.panel-triangle
							.panel-header
								label
								strong {{ comment.author.user }}
								| &nbsp;commented
								time-ago(from-time="{{ comment.timestamp }}")
								.pull-right
									i.fa.fa-pencil(ng-click="editComment()")
									i.fa.fa-times-circle(ng-click="deleteComment()")

							.panel-content
								div.markdown(ng-hide="editing", markdown="comment.message")
								textarea.msd-elastic(ng-show="editing", placeholder="Update comment", ng-model="updatedComment")
							.panel-footer(ng-show="editing")
								button.btn.btn-default.pull-left(ng-click="cancelEdit()") Cancel
								button.btn.btn-default.pull-right(ng-click="saveComment()") Update Comment
								.clearfix

				.media
					.media-avatar-medium.pull-left
					.media-body
						tabset.tabset-newcomment
							label.label-small.pull-right Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
							tab
								tab-heading
									i.fa.fa-edit(title="Write")
									.panel-triangle
								textarea.msd-elastic(placeholder="Leave a comment", ng-model="$parent.newComment")
							tab
								tab-heading
									i.fa.fa-eye(title="Preview")
								div.markdown(markdown="$parent.newComment")
								label.label-message(ng-show="!newComment || newComment.length == 0") Nothing to preview.

				button.btn.btn-default.btn-comment.pull-right(ng-click="addComment()") Comment
				.clearfix

		h2 ROMs
		label(ng-hide="table.roms.length > 0")  No ROMs available.
		table.table.table-striped(ng-show="table.roms.length > 0")
			thead
				tr
					th Name
					th Version
					th.hidden-xs Language
					th.hidden-xs Notes
					th DLs
					th Size
					th
			tbody
				tr(ng-repeat="rom in table.roms")
					td
						samp {{ rom.name }}
					td {{ rom.version }}
					td.hidden-xs {{ rom.language }}
					td.hidden-xs {{ rom.notes }}
					td {{ rom.downloads | number }}
					td {{ rom.size | bytes }}
					td.nostripe.td-dlbtn
						button.btn.btn-primary.btn-xs
							i.fa.fa-download

		h2 Backglasses
		label(ng-hide="table.backglasses.length > 0")  No backglasses available.
		.row(ng-show="table.backglasses.length > 0")
			.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="backglass in table.backglasses")
				.flipbox.flipbox-backglass
					.panel.bg-dark.panel-backglass.panel-front
						h3
							i.fa.fa-picture-o.space-right
							| Direct B2S
						hr
						.oneline
							i.icon.icon-user
							| &nbsp;&nbsp; {{ backglass.author.user }}
						hr
						.backglass-description
							scrollable(always-visible="true")
								markdown.markdown(markdown="backglass.description")
						footer
							hr
							.third
								span
									i.fa.fa-arrow-circle-down.space-right
									| {{ backglass.downloads | number }}
							.third
								span
									i.fa.fa-star.space-right
									| {{ backglass.rating | rating }}
							.third
								span {{ backglass.size | bytes }}

					.panel.bg-dark.panel-backglass.panel-back.img.img-fullspan(style="background-image:url('{{ backglass.thumb }}')")
						button.btn.btn-primary.btn-lg(ng-click="$event.stopPropagation()")
							i.fa.fa-download.space-right
							| Download
					.clearfix


		h2 Media
			button(ng-show="table.media.length > 0").btn.btn-primary.pull-right
				i.fa.fa-download.space-right
				| Download Pack
		label(ng-hide="table.media.length > 0")  No media available.
		.row(ng-show="table.media.length > 0")
			.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="item in table.media")
				.flipbox.flipbox-backglass
					.panel.bg-dark.panel-backglass.panel-front
						h3
							i.fa.space-right(ng-class="{ 'fa-picture-o': item.format == 'image', 'fa-video-camera': item.format == 'video', 'fa-info-circle': item.type == 'instructioncard' }")
							| {{ item.type | mediatype }}
						hr
						.oneline
							i.icon.icon-user
							| &nbsp;&nbsp; {{ item.author.user }}
						hr
						.oneline(ng-show="item.width && item.height")
							| {{ item.width }} &times; {{ item.height }}
						hr(ng-show="item.width && item.height")

						.oneline(ng-show="item.pages")
							| {{ item.pages.length }} pages
						hr(ng-show="item.pages")

						.oneline(ng-show="item.duration")
							| {{ item.duration }} seconds
						hr(ng-show="item.duration")

						.morelines(ng-show="item.pages") {{ item.pages.join(', ') }}

						footer
							hr
							.third
								span
									i.fa.fa-arrow-circle-down.space-right
									| {{ item.downloads | number }}
							.third
								span
									i.fa.fa-star.space-right
									| {{ item.rating | rating }}
							.third
								span {{ item.size | bytes }}

					.panel.bg-dark.panel-backglass.panel-back.img.img-fullspan(style="background-image:url('{{ item.thumb }}')")
						button.btn.btn-primary.btn-lg(ng-click="$event.stopPropagation()")
							i.fa.fa-download.space-right
							| Download
					.clearfix


		h2 Alternative Media
		label(ng-hide="table.secondarymedia.length > 0")  No alternative media available.

		p
			br