.col-xs-12.fade-animation(ng-repeat="table in tables | filter:query | decade:filterDecades | manufacturer:filterManufacturer | orderBy:sort:sortReverse", ng-click="navGame(table.id)")
	.panel.panel-dark.panel-extended.bg-dark.ng-cloak
		.img-wrapper
			.img.img-fade(img-bg="{{ table.art.backglass_thumb }}")
		.data-wrapper
			h3 {{ table.name }}
			label {{ table.manufacturer }} &middot; {{ table.year }}
			label.block
				span(ng-repeat="author in table.authors")
					i.icon.icon-user
					| {{ author}}
			label
				i.fa.fa-arrow-circle-down
				span.pipe {{ table.tabledownloads | number }}
				i.fa.fa-eye.hidden-xs
				span.pipe.hidden-xs {{ table.views | number }}
				i.fa.fa-comment.hidden-xs
				span.pipe.hidden-xs {{ table.comments | number }}

			label.pull-right
				i.fa.fa-arrow-circle-up
				time-ago(from-time="{{ table.lastrelease }}")

			.ratingbox.hidden-xs(rating-avg="table.rating")
				.ratingbox-left
					.ratingbox-rating {{ table.rating | rating }}
				.ratingbox-right
					rating.rating-avg(value="ratingAvg", max="10", rating-states="states", readonly="true")
					span.votes {{ table.votes | number }} vote{{ table.votes == 1 ? '' : 's' }}

		.clearfix