.col-md-4.col-sm-6.col-xs-6(ng-repeat="table in tables")
	.panel.panel-table-compact
		div.img(style="background-image:url('backglass/{{table.id}}.png')")
		h3 {{table.name}}
		label {{table.manufacturer}} - {{table.year}}