.col-xs-12.fade-animation(ng-repeat="table in tables", ng-click="details(table.id)")
	.panel.panel-dark.panel-dark-extended
		.img-wrapper
			.img(style="background-image:url('{{table.art.backglass_thumb}}')")
		.data-wrapper
			h3 {{table.name}}
			label {{table.manufacturer}} &middot; {{table.year}}
			label.block
				span(ng-repeat="author in table.authors")
					i.icon.icon-user
					| {{author}}
			label
				i.fa.fa-arrow-circle-down
				span.pipe {{table.tabledownloads}}
				i.fa.fa-eye
				span.pipe {{table.views}}
				i.fa.fa-comment
				span.pipe {{table.comments}}

			label.pull-right
				i.fa.fa-arrow-circle-up
				time-ago(from-time="{{table.lastrelease}}")

			.ratingbox(rating-avg="table.rating")
				.ratingbox-left
					.ratingbox-rating {{table.rating | rating}}
				.ratingbox-right
					rating.rating-avg(value="ratingAvg", max="10", rating-states="states", readonly="true")
					span.votes {{table.votes}} vote{{table.votes == 1 ? '' : 's'}}

		.clearfix