.row.ng-cloak.row-fullheight(ng-controller="TableController")
	.col-sm-9.col-main
		h1 {{ table.name }}
		h3.pull-right {{table.manufacturer}} &middot; {{table.year}}
		hr
		h3 Releases
		.panel.panel-dark.panel-dark-detailed(ng-repeat="release in table.releases")
			.sidebar-wrapper
				a.image-link(href="{{release.thumbs.playfield}}")
					.img-wrapper
						.img(style="background-image:url('{{release.thumbs.playfield}}')")
				p legend
			.data-wrapper
				h1 {{release.title}}
				label
					i.fa.fa-arrow-circle-up
					time-ago(from-time="{{release.lastversion.timestamp}}")
				label
					i.fa.fa-arrow-circle-down
					span {{release.lastversion.downloads}}

				accordion.accordion-glued(close-others="true")
					accordion-group(heading="Description", is-open="true")
						div.markdown(markdown="release.description")
					accordion-group(heading="Authors")
						ul
							li(ng-repeat="author in release.authors") {{ author.author }}

					accordion-group(heading="Gallery")
						p here is the gallery
			.clearfix

		.panel.panel-dark(ng-controller="CommentCtrl")
			tabset
				label.label-small.pull-right Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
				tab
					tab-heading
						i.fa.fa-edit(title="Write")
					textarea(placeholder="Leave a comment", ng-model="newComment")
				tab
					tab-heading
						i.fa.fa-eye(title="Preview")
					div.markdown(markdown="newComment")
					label.label-message(ng-show="!newComment || newComment.length == 0") Nothing to preview.

			button.btn.btn-default.btn-comment.pull-right Comment
			.clearfix


	.col-sm-3.col-menu
		h2 filter
		hr