.col-md-4.col-sm-6.col-xs-6.fade-animation(ng-repeat="table in tables", ng-click="details(table.id)")
	.panel.panel-dark.panel-compact.bg-dark
		div.img(style="background-image:url('{{ table.art.backglass_thumb }}')")
		h3 {{ table.name }}
		label {{ table.manufacturer }} &middot; {{ table.year }}