.table-wrapper(ng-hide="(tables | filter:query).length == 0")
	table.table.table-striped.table-selectable
		thead
			tr
				th
				th
				th
				th
		tbody
			tr.fade-animation(ng-repeat="table in tables | filter:query", ng-click="details(table.id)", style="transition-delay: {{ $index * 20 }}ms")
				td.name {{ table.name }}
				td {{ table.manufacturer }} ({{ table.year }})
				td
					time-ago(from-time="{{ table.lastrelease }}")
				td
					span.stars(value="{{ table.rating }}")
