
/*noinspection CssUnknownTarget*/
@font-face {
	font-family: 'langdon';
	src: url('/fonts/langdon-webfont.eot');
	src: url('/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/langdon-webfont.woff') format('woff'),
	url('/fonts/langdon-webfont.ttf') format('truetype'),
	url('/fonts/langdon-webfont.svg#langdonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
	font-family: 'icons';
	src:url('/fonts/icons.eot?-7ytd13');
	src:url('/fonts/icons.svg?-7ytd13#icons') format('svg'),
	url('/fonts/icons.eot?#iefix-7ytd13') format('embedded-opentype'),
	url('/fonts/icons.woff?-7ytd13') format('woff'),
	url('/fonts/icons.ttf?-7ytd13') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vpf-short:before {
	content: "\e604";
}
.icon-vpf-logo:before {
	content: "\e605";
}
.icon-vpf:before {
	content: "\e615";
}
.icon-ipdb:before {
	content: "\e616";
}
.icon-checkbox-unchecked:before {
	content: "\e617";
}
.icon-checkbox-checked:before {
	content: "\e618";
}
.icon-vpdb-logo-o:before {
	content: "\e613";
}
.icon-vpdb-logo:before {
	content: "\e614";
}
.icon-gameex-text:before {
	content: "\e611";
}
.icon-gameex:before {
	content: "\e612";
}
.icon-pin-on:before {
	content: "\e60f";
}
.icon-pin-off:before {
	content: "\e610";
}
.icon-bally:before {
	content: "\e60e";
}
.icon-dataeast:before {
	content: "\e60d";
}
.icon-williams:before {
	content: "\e606";
}
.icon-stern-old:before {
	content: "\e607";
}
.icon-stern:before {
	content: "\e608";
}
.icon-sega:before {
	content: "\e609";
}
.icon-midway:before {
	content: "\e60a";
}
.icon-gottlieb:before {
	content: "\e60b";
}
.icon-capcom:before {
	content: "\e60c";
}
.icon-vpdb:before {
	content: "\e600";
}
.icon-vp:before {
	content: "\e601";
}
.icon-th-list-list:before {
	content: "\e602";
}
.icon-db:before {
	content: "\e603";
}
