.theme-light
	.modal-header
		h1.h--no-margin.h--small
			i.fa.fa-tags.space-right
			| &nbsp;Create A New Tag
	.modal-body
		p Tags need a unique name and a description.

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn--secondary(ng-click="create()") Create
