extends layout

block body
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				span.navbar-brand
					a(href="/")
						i.icon.icon-vp
						i.icon.icon-db

			ul.nav.navbar-nav
				li(ng-class="{ active: menu == 'home' }")
					a(href="/home") Home
				li(ng-class="{ active: menu == 'games' }")
					a(href="/games") Games

			ul.nav.navbar-nav.navbar-right
				li
					.btn-group.btn-group-flex
						button.btn.btn-pin(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", ng-model="downloadsPinned", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
							i.icon.space-right(class="{{ downloadsPinned ? 'icon-pin-on' : 'icon-pin-off' }}")
							| {{ downloadsPinned ? 'Unpin' : 'Pin' }} Downloads
							button.btn.dropdown-toggle(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", data-toggle="dropdown")
								i.fa.fa-angle-down
								span.sr-only Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									a(href="#")
										i.fa.fa-question-circle.space-right
										| What's this?
								li.divider
								li(ng-hide="pinnedDownloadCount")
									i No pinned downloads.
								li
									table
										tr(ng-repeat="(id, dl) in pinnedDownloads")
											td
												i.fa.fa-trash-o(ng-click="unpinDownload(dl);$event.stopPropagation()")
											td
												p {{ dl.info[0] }}
												p {{ dl.info[1] }}
											td {{ dl.size | bytes }}


								li.divider(ng-show="pinnedDownloadCount > 0")
								li(ng-show="pinnedDownloadCount > 0")
									a(href="#")
										i.fa.fa-trash-o.space-right
										| Clear
								li(ng-show="pinnedDownloadCount > 0")
									a(href="#")
										i.fa.fa-download.space-right
										| Download
										span.pull-right {{ pinnedDownloadSize | bytes }}

	.container.container-topmost
		div(ng-view)

	section.footer
		a(href="https://github.com/freezy/node-vpdb", target="_blank")
			i.fa.fa-github-alt
			| <strong>Fork me</strong> on GitHub