extends layout

block body
	if deployment == 'staging'
		.staging-bar
		.staging-bar
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				span.navbar-brand
					a(href="/")
						i.icon.icon-vp
						i.icon.icon-db

			ul.nav.navbar-nav
				li(ng-class="{ active: menu == 'home' }")
					a(href="/home") Home
				li(ng-class="{ active: menu == 'games' }")
					a(href="/games") Games

			ul.nav.navbar-nav
				- if (req.isAuthenticated())
					li
						a(href="/users/"+req.user.id, title="Profile") Profile
					li
						a(href="/logout", title="logout", target="_self") Logout
				- else
					li
						a(href="#", title="Login", ng-click="login()") Login

			ul.nav.navbar-nav.navbar-right
				li
					.btn-group.btn-group-flex
						button.btn.btn-pin(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", ng-model="downloadsPinned", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
							i.icon.space-right(class="{{ downloadsPinned ? 'icon-pin-on' : 'icon-pin-off' }}")
							| Pin Downloads
							span.badge(ng-show="downloadsPinned || pinnedDownloadCount") {{ pinnedDownloadCount }}
							button.btn.dropdown-toggle(type="button", class="{{ downloadsPinned ? 'btn-primary' : 'btn-default' }}", data-toggle="dropdown")
								i.fa.fa-angle-down
								span.sr-only Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									table
										tbody
											tr.divider-bottom(ng-click="helpPinnedDownloads()")
												td.ic
													i.fa.fa-question-circle
												td What's this?
												td
											tr.divider-none(ng-hide="pinnedDownloadCount")
												td(colspan="3") No pinned downloads.

											tr(ng-repeat="(id, dl) in pinnedDownloads")
												td.ic
													i.fa.fa-trash-o(ng-click="unpinDownload(dl);$event.stopPropagation()")
												td
													p {{ dl.info[0] }}
													p
														span(bind-html-unsafe="dl.info[1]")
														| &nbsp;	 - v{{ dl.version }}
												td {{ dl.size | bytes }}
											tr.divider-top(ng-show="pinnedDownloadCount > 0", ng-click="downloadPinned()")
												td.ic
													i.fa.fa-download
												td Download
												td {{ pinnedDownloadSize | bytes }}

	.container.container-topmost
		div(ng-view)

	section.footer
		a(href="https://github.com/freezy/node-vpdb", target="_blank")
			i.fa.fa-github-alt
			| <strong>Fork me</strong> on GitHub