extends layout

block body
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				span.navbar-brand vpdb

	.container.container-topmost
		div(ng-view)

	section.footer
		a(href="https://github.com/freezy/node-vpdb", target="_blank")
			i.fa.fa-github-alt
			| <strong>Fork me</strong> on GitHub