doctype html
html(ng-app="vpdb")
	head
		meta(charset='utf8')
		base(href='/')
		title vpdb
		link(rel='stylesheet', href='/css/lib/bootstrap-3.1.1.min.css')
		link(rel='stylesheet', href='/fonts.css')
		link(rel='stylesheet', href='/app.css')
	body
		block body

		script(src='/lib/sockjs-0.3-min.js')
		script(src='/lib/reload.js')
		script(src='/lib/angular-1.3.0-beta.3/angular.js')
		script(src='/lib/angular-1.3.0-beta.3/angular-route.js')
		script(src='/lib/ui-bootstrap-tpls-0.10.0.js')
		script(src='/app.js')
		script(src='/services.js')
		script(src='/controllers.js')
		script(src='/filters.js')
		script(src='/directives.js')