doctype html
html(ng-app="vpdb")
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		base(href='/')
		title vpdb
		link(rel="stylesheet", href="/css/global.min.css")

	body.theme-dark(ng-controller="AppCtrl")
		block body
		script(type="text/javascript" src="/js/global.min.js")
