doctype html
html(ng-app="vpdb")
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		base(href='/')
		title vpdb
		//!{css}

	body.theme-dark(ng-controller="AppCtrl")
		block body
		//!{js}
