doctype html
html(ng-app="vpdb", auth=JSON.stringify(auth))
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		base(href='/')
		link(rel="icon", type="image/png", href="/images/favicon.png")
		script(type="text/javascript", src="//use.typekit.net/xhi7wnv.js")
		script(type="text/javascript") try{Typekit.load();}catch(e){}
		title vpdb
		if environment == 'production'
			link(rel="stylesheet", href="/css/global.min.css")
		else
			- each css in cssFiles
				link(rel="stylesheet", href=css)

	body(ng-controller="AppCtrl", ng-class="themeName")
		block body
		if environment == 'production'
			script(type="text/javascript", src="/js/global.min.js")
		else
			- each js in jsFiles
				script(type="text/javascript", src=js)