include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('warning').space-right
			| &nbsp;Ooops!
	.modal-body
		h4 {{ errorTitle }}
		p {{ errorMessage }}

	.modal-footer
		button.btn.btn-default(ng-click="$close()") Close
