.theme-light
	.modal-header
		h1.h--no-margin.h--small
			i.fa.fa-exclamation-triangle.space-right
			| &nbsp;Ooops!
	.modal-body
		h4 {{ errorTitle }}
		p {{ errorMessage }}

	.modal-footer
		button.btn.btn-primary(ng-click="$close()") Close
