include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('info').space-right
			| {{ title }}
	.modal-body
		h4 {{ subtitle }}
		p {{ message }}

	.modal-footer
		button.btn.btn-primary(ng-click="$close()") Close
