include ../template/_mixins

h1 Table Naming
hr

p.padder-bottom-2x
	| Define here how you want your table files named when VPDB puts them into the zip
	| archive. You can set how the different flavors appear, should you use
	| the <tt>{release_flavor_orientation}</tt> or <tt>{release_flavor_lighting}</tt>
	| placeholder.


.form-group(ng-class="{ error: errors.preferences.tablefile_name }")
	label.col-sm-2.control-label Name
	.col-sm-8
		.input-group
			input.form-control(type="text", ng-model="updatedPreferences.tablefile_name")
			span.input-group-addon
				| .vpx
	.clearfix
	div.alert.alert-danger(ng-show="errors.preferences.tablefile_name")
		+icon('warning').shift-up.space-right
		| {{ errors.preferences.tablefile_name }}

	.col-sm-2.padder-top: .pull-right Example:
	.col-sm-8.padder-top {{ exampleName }}
	.col-sm-offset-2.col-sm-8.padder-top
		i Available placeholders:<br>
		tt(tooltip="Title of the pinball game", tooltip-placement="right", tooltip-append-to-body="true") {game_title}
		| ,
		tt(tooltip="Name of the manufacturer", tooltip-placement="right", tooltip-append-to-body="true") {game_manufacturer}
		| ,
		tt(tooltip="Table release year", tooltip-placement="right", tooltip-append-to-body="true") {game_year}
		| ,
		tt(tooltip="Name of the release", tooltip-placement="right", tooltip-append-to-body="true") {release_name}
		| ,
		tt(tooltip="Version of the release", tooltip-placement="right", tooltip-append-to-body="true") {release_version}
		| ,
		tt(tooltip="Compatible VP versions, comma-separated", tooltip-placement="right", tooltip-append-to-body="true") {release_compatibility}
		| ,
		tt(tooltip="Orientation tag defined below", tooltip-placement="right", tooltip-append-to-body="true") {release_flavor_orientation}
		| ,
		tt(tooltip="Lighting tag defined below", tooltip-placement="right", tooltip-append-to-body="true") {release_flavor_lighting}
		| ,
		tt(tooltip="The uploader's filename", tooltip-placement="right", tooltip-append-to-body="true") {original_filename}
	.clearfix
	p.padder-bottom-2x

.form-group(ng-class="{ error: errors.email }")
	.col-sm-2.control-label Orientation
	.col-sm-2: .pull-right Portrait:
	.col-sm-2
		input.form-control(type="text", ng-model="updatedPreferences.flavor_tags.orientation.fs")
	.col-sm-2: .pull-right Landscape:
	.col-sm-2
		input.form-control(type="text", ng-model="updatedPreferences.flavor_tags.orientation.ws")
	.clearfix
	p.padder-top

	.col-sm-2.control-label Lighting
	.col-sm-2: .pull-right Day:
	.col-sm-2
		input.form-control(type="text", ng-model="updatedPreferences.flavor_tags.lighting.day")
	.col-sm-2: .pull-right Night:
	.col-sm-2
		input.form-control(type="text", ng-model="updatedPreferences.flavor_tags.lighting.night")
	.clearfix

	div.alert.alert-danger(ng-show="errors.email")
		p
			+icon('warning').shift-up.space-right
			| {{ errors.email }}

p.padder-top-2x
.col-sm-offset-3.col-sm-7
	button.btn.btn-primary.pull-right(ng-click="updateUserPreferences()")
		+icon('check-circle').space-right
		| Save
.clearfix