include ../template/_mixins

h1 Table Naming
hr

.form-group(ng-class="{ error: errors.name }")
	label.col-sm-2.control-label Name
	.col-sm-8
		.input-group
			input.form-control(type="text", ng-model="updatedProfile.table_naming")
			span.input-group-addon
				| .vpx
	.clearfix
	div.alert.alert-danger(ng-show="errors.name")
		+icon('warning').shift-up.space-right
		| {{ errors.name }}

	.col-sm-2.padder-top Example:
	.col-sm-8.padder-top {{ exampleName }}
	.col-sm-offset-2.col-sm-8.padder-top
		i Available placeholders:<br>
		| {game_title}, {game_year}, {game_manufacturer}, {orientation}, {lightning}
