include ../template/_mixins

.row.row--fullheight

	// sidebar (left)
	.col-sm-3.col--menu
		h1 Profile
		hr

		p: a(ui-sref="profile.settings", ng-class="{ 'active': state.name == 'profile.settings'}")
			+icon('settings').shift-up.space-right
			| Settings
		p: a(ui-sref="profile.downloads", ng-class="{ 'active': state.name == 'profile.downloads'}")
			+icon('download').shift-up.space-right
			| Download Options
		p: a(ui-sref="profile.notifications", ng-class="{ 'active': state.name == 'profile.notifications'}")
			+icon('email').shift-up.space-right
			| Notifications
		p: a(ui-sref="profile.stats", ng-class="{ 'active': state.name == 'profile.stats'}")
			+icon('chart').shift-up.space-right
			| Stats
		p.padder-bottom-2x

	// content
	.col-sm-9.col--main
		p.padder-top-2x
		.media
			.media-left.media-middle
				img.img-avatar.img-avatar--xlg(gravatar-src="auth.user.gravatar_id", gravatar-default="404", fallback-icon="user")
			.media-body
				h3.h--large.h--shift-up {{ auth.user.name }}
				.text--large.text--shift-up {{ auth.user.email }}
		p.padder-top-3x

		.ui-view-wrapper
			| <div ui-view class="height-animation"></div>

		p.padder-bottom-2x