include ../template/_mixins

.row.row--fullheight(ng-controller="ProfileSettingsCtrl")

	// sidebar (left)
	.col-sm-3.col--menu
		h1 Profile
		hr

		.color-primary Settings
		span Stats


	// content
	.col-sm-9.col--main

		p content goes here.