include ../template/_mixins

.row.row--fullheight(ng-controller="ProfileSettingsCtrl")

	// sidebar (left)
	.col-sm-3.col--menu
		h1 Profile
		hr

		.color-primary Settings
		span Stats

		p.padder-bottom-2x


	// content
	.col-sm-9.col--main

		p.padder-top-2x
		.media
			.media-left.media-middle
				img.img-avatar.img-avatar--xlg(gravatar-src="auth.user.gravatar_id", gravatar-default="404", fallback-icon="user")
			.media-body
				h3.h--large.h--shift-up {{ auth.user.name }}
				.text--large.text--shift-up {{ auth.user.email }}

		form.form-horizontal.padder-top-3x(role="form")

			.form-group(ng-class="{ error: errors.name }")
				label.col-sm-3.control-label Name
				.col-sm-7
					.input-group
						input.form-control(type="text", ng-model="editedUser.name", placeholder="Common Abbreviation")
						span.input-group-addon
							+icon('eye').small

			.form-group(ng-class="{ error: errors.name }")
				label.col-sm-3.control-label Location
				.col-sm-7
					input.form-control(ng-model="editedUser.location", ng-required)

			.form-group(ng-class="{ error: errors.name }")
				label.col-sm-3.control-label Email
				.col-sm-7
					input.form-control(ng-model="editedUser.email", ng-required)
