include ../template/_mixins

h1 Last Logins
hr
table.table.table-striped(ng-show="logins.length")
	thead
		tr
			th(colspan="2") Provider
			th When
			th Time
			th IP Address
	tbody
		tr(ng-repeat="log in logins", ng-class="{ error: log.result === 'failure' }")
			td.td--big-icon
				+icon('{{ log.data.providerInfo.icon }}')
			td
				b {{ log.data.providerInfo.name }}
				span(ng-show="log.result === 'failure'")
					br
					+icon('warning').shift-up.space-right
					| {{ log.message }}
			td(am-time-ago="log.logged_at")
			td: tt {{ log.logged_at | date : "H:mm:ss" }}
			td {{ log.ip }}

