include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			i.fa.fa-wrench.space-right
			| &nbsp;Request Mod Permission
	.modal-body(ng-controller="CommentsCtrl")
		h5.h--lighter Please leave a message to the author.
		tabset
			label.label--small.pull-right Comments are parsed with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>.
			tab
				tab-heading(title="Write"): +icon('edit')
				textarea.textarea--full.msd-elastic(placeholder="Leave a message about your mod request", ng-model="$parent.newComment")
			tab
				tab-heading(title="Preview"): +icon('eye')
				div.markdown(markdown="$parent.newComment")
				label.tab__label(ng-show="!newComment || newComment.length == 0") Nothing to preview.

	.modal-footer
		button.btn.btn-default(ng-click="cancel()") Cancel
		button.btn.btn--secondary(ng-click="ok()") Send
