include ../template/_mixins

.jumbotron

	h3.h--larger Find your Game.
	form.form-inline
		input.form-control.input--lighter(type="text", ng-model="query", focus-on)
		+icon('search')
	p.padder-top-3x
	+icon('vpdb-o').svg-3x

.row
	.col-sm-12
		h1.h--primary Latest Releases
		hr
		p There will be something here.

p.padder-top
