include ../template/_mixins

.row.row--fullheight(ng-controller="AdminGameAddCtrl")
	.col-sm-9.col--main
		h1.h--primary add new game
		hr
		p Note that a game is completely decoupled from its releases. Data appearing in here is common to all releases
			| that are linked to that game, but kept as a separate and independent data set.

		form(role="form")

			//-----------------------------------------------------------------
			h1 1. Enter Title
			hr
			.form-group(ng-class="{ error: errors.title }")
				input.form-control.input-lg(type="text", placeholder="Title", ng-model="game.title", on-enter="searchOnIpdb()")
				.alert.alert-danger(ng-show="errors.title")
					+icon('warning').shift-up.space-right
					| {{ errors.title }}
				span.help-block No year, manufacturer or anything else, just the title. Example: <i>The Addams Family</i>.

			//-----------------------------------------------------------------
			h1 2. Origin
			hr
			p If you’ve created the game by yourself, it’s an original game. I’ve you built a game that exists in real
				| life, it’s called a recreation. Recreations must be on IPDB.org.

			.text-center.padder-top
				.radio-inline.radio--lg
					label
						input.input-lg(type="radio", name="origin", value="recreation", ng-model="game.origin")
						span Recreation

				.radio-inline.radio--lg
					label
						input(type="radio", name="origin", value="originalGame", ng-model="game.origin")
						span Original Game

			.clearfix
			h1 3. Game Info
			hr

			//- form for recreations
			//-----------------------------------------------------------------
			p(ng-show="game.origin == 'recreation'") Search IPDB.org and locate the IPDB number. Paste it into the
				| field below and hit "fetch". If the correct game info is displayed, you're done in here.

			.form-horizontal(ng-show="game.origin == 'recreation'")
				.form-group(ng-class="{ error: errors['ipdb.number'] }")
					label.col-sm-3.control-label(for="ipdbUrl") IPDB
					.col-sm-6
						input#ipdbUrl.form-control(type="text", ng-model="game.ipdbUrl", placeholder="URL or Number", on-enter="refresh()")
						a#ipdbLink(href="http://www.ipdb.org/search.pl?any={{ game.title | escape }}&search=Search+Database&searchtype=quick", target="_blank")
							+icon('external-link').small.shift-up.space-right
							| Search title on IPDB.org
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="refresh()")
							+icon('refresh').space-right
							| Fetch

				.alert.alert-danger.alert--shifted-up(ng-show="errors['ipdb.number']")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors['ipdb.number'] }}

				.form-group(ng-class="{ error: errors.id }")
					label.col-sm-3.control-label(for="gameId1") Game ID
					.col-sm-6
						.input-group
							input#gameId1.form-control(type="text", ng-model="game.id", placeholder="Common Abbreviation", ng-change="game.data.idValidated = false", on-enter="check()")
							span.input-group-addon(ng-class="{ transparent: !game.data.idValidated }")
								+icon('check').small(ng-show="game.data.idValid")
								+icon('times').small(ng-hide="game.data.idValid")
						span.help-block Must be unique and contain only letters and dashes.
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="check()", ng-disabled="game.data.idValidated")
							+icon('check').space-right
							| Check

				.alert.alert-danger.alert--shifted-up-2x(ng-show="errors.id")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors.id }}

				.form-group(ng-show="!game.data.year", ng-class="{ error: errors.year }")
					label.col-sm-3.control-label(for="year") Year
					.col-sm-3.col-md-2
						input#year.form-control(type="text", ng-model="game.year")
					.col-sm-6.col-md-7
						span.help-block Release year of this game (no info on IPDB.org)

				.alert.alert-danger.alert--shifted-up-2x(ng-show="errors.year && !game.data.year")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors.year }}

			.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10(ng-show="game.origin == 'recreation'")
				.panel(ng-show="game.data.fetched")
					.panel-heading
						h2.h--small.text-center {{ game.title }}
					.panel-body
						dl.dl-horizontal.dl--centered
							dt Manufacturer
							dd {{ game.manufacturer }}
							dt Year
							dd {{ game.year }}
							dt
						hr.hr--margin-small(ng-show="game.units || game.ipdb.rating || game.game_type || game.model_number")
						dl(ng-show="game.produced_units || game.ipdb.rating || game.type || game.model_number").dl-horizontal.dl--centered
							dt(ng-show="game.ipdb.rating") IPDB Rating
							dd(ng-show="game.ipdb.rating") {{ game.ipdb.rating }}
							dt(ng-show="game.produced_units") Production
							dd(ng-show="game.produced_units") {{ game.produced_units | number }} units
							dt(ng-show="game.game_type") Game Type
							dd(ng-show="game.game_type") {{ game.game_type | gametype }}
							dt(ng-show="game.model_number") Model Number
							dd(ng-show="game.model_number") {{ game.model_number }}
						hr.hr--margin-small(ng-show="game.designers || game.artists")
						dl(ng-show="game.designers || game.artists").dl-horizontal.dl--centered
							dt(ng-show="game.designers") Game Design
							dd(ng-show="game.designers") {{ game.designers.join(', ') }}
							dt(ng-show="game.artists") Art design
							dd(ng-show="game.artists") {{ game.artists.join(', ') }}
				.panel.panel--fixed-height-300.panel--blank(ng-hide="game.data.fetched")
					.panel-content
						i.icon.icon-ipdb.icon-ipdb--huge.space-right
						span INFO
						p
							i Click "Fetch" to load data.


			//- form for original games
			//-----------------------------------------------------------------
			p(ng-show="game.origin == 'originalGame'") Provide some more information about your table.

			.form-horizontal(ng-show="game.origin == 'originalGame'")

				.form-group(ng-class="{ error: errors.id }")
					label.col-sm-3.control-label(for="gameId2") Game ID
					.col-sm-6
						.input-group
							input#gameId2.form-control(type="text", ng-model="game.id", placeholder="Common Abbreviation", ng-change="game.data.idValidated = false")
							span.input-group-addon(ng-class="{ transparent: !game.data.idValidated }")
								+icon('check').small(ng-show="game.data.idValid")
								+icon('times').small(ng-hide="game.data.idValid")
						span.help-block Must be unique and contain only letters and dashes.
					.col-sm-3
						button.btn.btn-default.btn--width-med.pull-right(ng-click="check()", ng-disabled="game.data.idValidated")
							+icon('check').space-right
							| Check

				.alert.alert-danger.alert--shifted-up-2x(ng-show="errors.id")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors.id }}

				.form-group
					label.col-sm-3.control-label(for='author', ng-class="{ error: errors.manufacturer }") Author
					.col-sm-6
						input#author.form-control(type="text", ng-model="game.manufacturer", placeholder="Your name, nick name or pen name", ng-class="{ error: errors.manufacturer }")
						span.help-block This will show up as manufacturer.
					label.col-sm-1.control-label.text-right(for='manufacturer', ng-class="{ error: errors.year }") Year
					.col-sm-2.form-subgroup
						input#author.form-control(type="text", ng-model="game.year", ng-class="{ error: errors.year }")

				.alert.alert-danger.alert--shifted-up(ng-show="errors.manufacturer")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors.manufacturer }}

				.alert.alert-danger.alert--shifted-up(ng-show="errors.year")
					.row
						.col-sm-9.col-sm-offset-3
							+icon('warning').shift-up.space-right
							| {{ errors.year }}

				.form-group
					label.col-sm-3.control-label Description
					.col-sm-9
						tabset.tabset--light
							label.label--small.pull-right(markdown-info="Markdown enabled.")
							tab
								tab-heading(title="Write"): +icon('edit')
								textarea.textarea--full.msd-elastic(placeholder="Description of the original table", ng-model="game.description")
							tab
								tab-heading(title="Preview"): +icon('eye')
								div.markdown(markdown="game.description")
								label.tab__label(ng-show="!game.description || game.description.length == 0") Nothing to preview.

				.form-group
					label.col-sm-3.control-label Instructions
					.col-sm-9
						tabset.tabset--light
							label.label--small.pull-right(markdown-info="Markdown enabled.")
							tab
								tab-heading(title="Write"): +icon('edit')
								textarea.textarea--full.msd-elastic(placeholder="Put game instructions here", ng-model="game.instructions")
							tab
								tab-heading(title="Preview"): +icon('eye')
								div.markdown(markdown="game.instructions")
								label.tab__label(ng-show="!game.instructions || game.instructions.length == 0") Nothing to preview.


			//- URLs (let's do that another time)
				.clearfix
				h4
					+icon('link').space-right
					| Links
				hr.hr--light

				.col-sm-3: label Type
				.col-sm-8: label URL

				.form-group(ng-repeat="link in game.links")

					.col-sm-3
						select.form-control
							option -- Select --
							option Wikipedia
							option WIP Thread
							option Discussion Thread
							option Pinside Link
							option Table Homepage
					.col-sm-8
						input.form-control(type="text", placeholder="http://...", ng-model="link.url")
					.col-sm-1
						+icon('trash')(ng-click="removeLink(link)")

				button.btn.btn-secondary.padder-top-2x.padder-bottom
					+icon('plus-circle').space-right
					| Add Another
			.clearfix

			//-----------------------------------------------------------------
			h1 4. Upload Media
			hr
			p Upload high quality artwork here. The backglass is mandatory but also the logo is strongly recommended.
				| Please check the image guidelines if you haven’t done so yet. Note that the images you upload here
				| are only used on the site to enhance the user experience. Media users download in media packs or
				| individually can be added in later step.

			.row.padder-top
				.col-sm-6
					.panel.panel--blank(
						file-upload="{ type: 'backglass', key: 'backglass', status: game.mediaFile, onSuccess: onBackglassUpload, onClear: onMediaClear, allowedExtensions: ['jpg', 'png'], allowMultipleFiles: false }"
						drag-over-class="panel--dragging"
					)
						input#uploadBackglass.hide(type='file', ng-file-select="onMediaUpload('backglass', 'backglass', 'image', $files, onBackglassUpload)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('#uploadBackglass')")
							.img.img--ar-bg.loaded(img-bg="game.mediaFile.backglass.variations['medium-2x']")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolute.progress-striped.active(value="mediaFile.backglass.progress", ng-show="mediaFile.backglass.uploading")
									.span(ng-show="!img.url")
										+icon('photo').svg-4x(ng-class="{ transparent: mediaFile.backglass.uploading }")
										p {{ mediaFile.backglass.uploadText }}
									.span(ng-show="img.loading")
										+icon('gear').svg-3x.svg-spin--slow
										p Generating thumbnails...

				.col-sm-6
					h4.h--large.h--no-margin Backglass
					i A few guidelines:
					ul
						li The aspect ratio should be <code>5:4</code> (or <code>1:1.25</code>)
						li Recommended resolution is <i>1280&times;1024</i>.
						li The DMD area should be cut off.
						li The image must not be stretched or upscaled.

					// info boxes
					.alert.alert-success.alert--inverted.alert--shifted-up.padder-top(ng-show="backglass.test == 'optimal'")
						+icon('check-circle').shift-up.space-right
						| Dimensions are {{ backglass.dimensions }}, which is optimal.
					.alert.alert-warning.alert--inverted.alert--shifted-up.padder-top(ng-show="backglass.test == 'warning'")
						+icon('warning').shift-up.space-right
						| Dimensions are {{ backglass.dimensions }}, where the aspect ratio is <code>1:{{ backglass.ar }}</code> and {{ backglass.arDiff }}% off the ideal <code>1:1.25</code>. Some content will be cropped off.
					.alert.alert-danger.alert--inverted.alert--shifted-up.padder-top(ng-show="backglass.test == 'error'")
						+icon('warning').shift-up.space-right
						| Dimensions are {{ backglass.dimensions }}, where the aspect ratio is <code>1:{{ backglass.ar }}</code> and <strong>{{ backglass.arDiff }}%</strong> off the ideal <code>1:1.25</code>. Please crop the image and try again.

			.alert.alert-danger.alert--shifted-up(ng-show="errors['_media.backglass']")
				+icon('warning').shift-up.space-right
				| {{ errors['_media.backglass'] }}

			.row.padder-top
				.col-sm-6
					.panel.panel--blank(
						file-upload="{ type: 'logo', key: 'logo', status: game.mediaFile, onSuccess: onLogoUpload, onClear: onMediaClear, allowedExtensions: ['jpg', 'png'], allowMultipleFiles: false }"
						drag-over-class="panel--dragging"
					)
						input#uploadLogo.hide(type='file', ng-file-select="onMediaUpload('logo', 'logo', 'image', $files, onLogoUpload)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('#uploadLogo')")
							.img.img--ar-logo.loaded(img-bg="game.mediaFile.logo")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolute.progress-striped.active(value="mediaFile.logo.progress", ng-show="mediaFile.logo.uploading")
									.span(ng-show="!img.url")
										+icon('photo').svg-4x(ng-class="{ transparent: mediaFile.logo.uploading }")
										p {{ mediaFile.logo.uploadText }}
									.span(ng-show="img.loading")
										+icon('gear').svg-3x.svg-spin--slow
										p Generating thumbnails...

				.col-sm-6
					h4.h--large.h--no-margin Logo
					ul
						li Use the PNG format
						li Background should be transparent
						li There should be enough contrast on white as well as on black background.

			hr
			button.btn.btn-default.btn-lg(ng-click="reset()") Reset
			button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Add New Game
			.clearfix

			p
				br

	.col-sm-3.col--menu
		h1 drafts
		hr
		p None
