include ../template/_mixins

h1.padder-top-2x Media
label(ng-hide="game.alternate_media.length > 0") No media available.
.row: .col-md-4.col-sm-6.col-xs-12.fade-animation(ng-repeat="medium in game.alternate_media", ng-click="showMedium(medium)")
	.panel.panel--animated.ng-cloak
		.img.img--rounded-top(img-bg="medium.file.variations[media[medium.category].variation + pixelDensitySuffix].url", ng-class="{{ media[medium.category].imgclass }}")
		.img.img--rounded-top.img--placeholder.loaded(ng-class="{{ media[medium.category].imgclass }}")
.clearfix


script(id="modal/medium.html", type="text/ng-template")
	.theme-light
		.modal-body

			//-- IMAGE
			//---------------------------------------------------------------------
			a.a#lightbox(ng-href="{{ medium.file.variations['full'].url }}", ng-class="{ nopointer: !medium.file.variations['full'] }")
				img.img.img--rounded.loaded.padder-bottom.fullwidth(ng-src="{{ medium.file.variations['medium-2x'].url }}" )


			//-- STATS
			//---------------------------------------------------------------------
			.text-center.padder-bottom.small.shift-up
				span &copy; {{ game.year }} {{ game.owner }}. All rights reserved. <br>
				+icon('photo-size').shift-up-2x.space-right
				span.space-right-2x Native size: {{ medium.file.metadata.size.width }} &times;  {{ medium.file.metadata.size.height }}
				+icon('download-circle').shift-up-2x.space-right
				span.space-right {{ medium.file.counter.downloads | number }} download{{ medium.file.counter.downloads != 1 ? 's' : '' }}


			//-- DESCRIPTION
			//---------------------------------------------------------------------
			div.markdown.padder-top-2x(markdown="medium.description", ng-show="medium.description")


			//-- UPLOADER
			//---------------------------------------------------------------------
			h3.h--smaller.h--primary Uploader
			.media
				.media-left.media-middle
					img.img-avatar.img-avatar--sm(gravatar-src="medium.created_by.gravatar_id", gravatar-default="404", fallback-icon="user")
				.media-body.oneliner
					user {{ medium.created_by.name }}


			//-- ACKNOWLEDGEMENTS
			//---------------------------------------------------------------------
			h3.h--smaller.h--primary(ng-show="medium.acknowledgements") Acknowledgements
			div.markdown(markdown="medium.acknowledgements", ng-show="medium.acknowledgements")


		.modal-footer
			button.btn.btn-hollow.pull-left(ng-click="$dismiss()") Cancel
			button.btn.btn-primary(ng-click="download(medium.file)") Download
