include ../template/_mixins

h1 Releases
label(ng-hide="hasReleases || game.restrictions.release.mpu") No releases for this game available.
p(ng-show="!hasReleases && game.restrictions.release.mpu && !game.restrictions.backglass.mpu") This is a {{ game.mpu.short }} game. Those games are still in production and out of respect to the industry, we won't be offering any releases for this game.
p(ng-show="!hasReleases && game.restrictions.release.mpu && game.restrictions.backglass.mpu") This is a {{ game.mpu.short }} game. Those games are still in production and out of respect to the industry, we won't be offering any releases or Direct B2S backglasses for this game.

// each release
.panel.panel--animated.panel--animated--less(ng-repeat="release in game.releases", ng-controller="ReleaseController", ng-click="navRelease(game.id, release.id)")
	.clearfix
	.restricted-overlay(ng-show="game.restrictions.release.mpu")
		.alert.alert-danger.text-center
			+icon('warning').shift-up.space-right
			| Release only visible to uploader and moderators.
	.col-sm-4(ng-class="{ restricted: game.restrictions.release.mpu }")

		//-- PLAYFIELD TUMBS
		//---------------------------------------------------------------------
		.img.img--rounded-left.padder-top.padder-bottom(img-bg="shot.url", ng-class="{ 'img--ar-fs': shot.type === 'playfield-fs', 'img--ar-ws': shot.type === 'playfield-ws' }")


	//-- MAIN BODY
	//---------------------------------------------------------------------
	.col-sm-8(ng-class="{ restricted: game.restrictions.release.mpu }")
		h2.h--primary {{ release.name }} <small>{{ latestVersion.version }}</small>

		//-- STATS
		//---------------------------------------------------------------------
		.pull-left
			+icon('star-circle').shift-up-2x.space-right
			span.space-right.small {{ release.counter.stars | number }} star{{ release.counter.stars != 1 ? 's' : '' }}
		.pull-left
			+icon('comment-circle').shift-up-2x.space-right
			span.space-right.small {{ release.counter.comments | number }} comment{{ release.counter.comments != 1 ? 's' : '' }}
		.pull-left
			+icon('download-circle').shift-up-2x.space-right
			span.space-right.small {{ release.counter.downloads | number }} download{{ release.counter.downloads != 1 ? 's' : '' }}

		.clearfix

		//-- AUTHORS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Authors
		.media(ng-repeat="author in release.authors")
			.media-left.media-middle
				img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="404", fallback-icon="user")
			.media-body
				user {{ author.user.name }}
				br
				| {{ author.roles.join(', ') }}

		//-- FLAVORS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Flavors
		.row
			.col-xs-6.col-sm-12.col-md-6(ng-repeat="flavor in flavorGrid")
				.media
					.media-left.media-top
						img.img-avatar--sm(ng-src="{{ flavor.file.playfield_image.variations['square' + pixelDensitySuffix].url }}")
					.media-body
						span {{ flavor.short }}
						br
						span(ng-repeat="compat in flavor.file.compatibility") {{ compat.label }}

		.clearfix
		p.padder-bottom

	.clearfix
	p.padder-bottom
