include ../template/_mixins

// each release
.panel.panel--animated.panel--animated--less(ng-repeat="release in game.releases", ng-controller="ReleaseController", ng-click="navRelease(game.id, release.id)")
	.clearfix
	.col-sm-4.col-md-3

		//-- PLAYFIELD TUMBS
		//---------------------------------------------------------------------
		.img.img--ar-fs.img--rounded-left.padder-top.padder-bottom(img-bg="shot.url")


	//-- MAIN BODY
	//---------------------------------------------------------------------
	.col-sm-8.col-md-9
		h2.h--primary {{ release.name }} <small>{{ latestVersion.version }}</small>

		//-- STATS
		//---------------------------------------------------------------------
		.pull-left
			+icon('star-circle').svg-2x.shift-up-2x.space-right
			| {{ release.counter.stars | number }} star{{ release.counter.stars != 1 ? 's' : '' }}
		.pull-left.space-left-2x
			+icon('comment-circle').svg-2x.shift-up-2x.space-right
			| {{ release.counter.comments | number }} comment{{ release.counter.downloads != 1 ? 's' : '' }}
		.pull-left.space-left-2x
			+icon('download-circle').svg-2x.shift-up-2x.space-right
			| {{ release.counter.downloads | number }} download{{ release.counter.downloads != 1 ? 's' : '' }}

		.clearfix

		//-- AUTHORS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Authors
		.media(ng-repeat="author in release.authors")
			.media-left.media-middle
				img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="404", fallback-icon="user")
			.media-body
				user {{ author.user.name }}
				br
				| {{ author.roles.join(', ') }}

		//-- FLAVORS
		//---------------------------------------------------------------------
		h3.h--smaller.h--primary Flavors
		.row
			.col-xs-6.col-sm-12.col-md-6.col-lg-4(ng-repeat="flavor in flavorGrid")
				.media
					.media-left.media-top
						img.img-avatar--sm(ng-src="{{ flavor.file.media.playfield_image.variations['square' + pixelDensitySuffix].url }}")
					.media-body
						span {{ flavor.short }}
						br
						span(ng-repeat="compat in flavor.file.compatibility") {{ compat.label }}

		.clearfix
		p.padder-bottom

	.clearfix
	p.padder-bottom
