h1 Backglasses
label(ng-hide="game.backglasses.length > 0") No backglasses available.
.row(ng-show="game.backglasses.length > 0")
	.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="backglass in game.backglasses")
		.flipbox.flipbox-backglass
			.panel.panel--backglass.flipbox-front.text-center
				h1.h--smaller
					i.fa.fa-picture-o.space-right
					| Direct B2S
				hr
				.oneliner
					i.icon.icon-user
					| &nbsp;&nbsp; {{ backglass.author.user }}
				hr
				.backglass-description
					scrollable(always-visible="true")
						markdown.markdown(markdown="backglass.description")
				footer
					hr
					.third
						span
							i.fa.fa-arrow-circle-down.space-right
							| {{ backglass.downloads | number }}
					.third
						span
							i.fa.fa-star.space-right
							| {{ backglass.rating | rating }}
					.third
						span {{ backglass.download.size | bytes }}

			.panel.panel--backglass.flipbox-back.img.img-fullspan(img-bg="backglass.thumb")
				button.btn.btn-primary.btn-lg.btn--sticky-bottom(download="backglass.download", download-info="[ game, backglass ] | dlBackglass", ng-click="$event.stopPropagation()")
					| Download
			.clearfix


h1 Media
	button(ng-show="game.media.length > 0").btn.btn-primary.pull-right
		i.fa.fa-download.space-right
		| Download Pack
label(ng-hide="game.media.length > 0") No media available.
.row(ng-show="game.media.length > 0")
	.col-md-4.col-sm-6.col-xs-12.fade-animation.padder-bottom-2x(ng-repeat="item in game.media")
		.flipbox.flipbox-backglass
			.panel.panel--backglass.flipbox-front.text-center
				h1.h--smaller
					i.fa.space-right(ng-class="{ 'fa-picture-o': item.format == 'image', 'fa-video-camera': item.format == 'video', 'fa-info-circle': item.type == 'instructioncard' }")
					| {{ item.type | mediatype }}
				hr
				.oneliner
					i.icon.icon-user
					| &nbsp;&nbsp; {{ item.author.user }}
				hr
				.oneliner(ng-show="item.width && item.height")
					| {{ item.width }} &times; {{ item.height }}
				hr(ng-show="item.width && item.height")

				.oneliner(ng-show="item.pages")
					| {{ item.pages.length }} pages
				hr(ng-show="item.pages")

				.oneliner(ng-show="item.duration")
					| {{ item.duration }} seconds
				hr(ng-show="item.duration")

				.morelines(ng-show="item.pages") {{ item.pages.join(', ') }}

				footer
					hr
					.third
						span
							i.fa.fa-arrow-circle-down.space-right
							| {{ item.downloads | number }}
					.third
						span
							i.fa.fa-star.space-right
							| {{ item.rating | rating }}
					.third
						span {{ item.download.size | bytes }}

			.panel.panel--backglass.flipbox-back.img.img--rounded(img-bg="item.thumb")
				button.btn.btn-primary.btn-lg.btn--sticky-bottom(download="item.download", download-info="[ game, item ] | dlMedia", ng-click="$event.stopPropagation()")
					| Download
			.clearfix


h1 Alternative Media
label(ng-hide="game.secondarymedia.length > 0") No alternative media available.