include ../template/_mixins

.row.ng-cloak.row--fullheight.fade-animation(ng-controller="GameController", ng-show="!pageLoading")

	// right column
	.col-sm-3.col-sm-push-9.col--menu.text-center

		include details-01-gameinfo

		//-- UPLOAD BUTTONS
		//---------------------------------------------------------------------
		.panel--rect-block(ng-show="(!game.restrictions.release.mpu && auth.hasPermission('releases/add')) || (!game.restrictions.backglass.mpu && auth.hasPermission('backglasses/add'))")
			h1.text-center UPLOAD

			.center
				ul.ul--no-list
					li(ng-show="!game.restrictions.release.mpu && auth.hasPermission('releases/add')"): a.text-center(ui-sref="addRelease({ id: game.id })")
						+icon('plus-circle').space-right.shift-up
						| Release
					li(ng-show="!game.restrictions.backglass.mpu && auth.hasPermission('backglasses/add')"): a.text-center(ui-sref="addBackglass({ id: game.id })")
						+icon('plus-circle').space-right.shift-up
						| Direct B2S

			p.padder-top

	// left column (main content)
	.col-sm-9.col-sm-pull-3.col--main
		.title
			h1.title-main.h--primary
				| {{ game.title }}
				a(ng-show="auth.hasPermission('games/update')", ui-sref="editGame({ id: game.id })")
					+icon('edit').space-left
			h1.title-sub.h--small {{ game.manufacturer }} &middot; {{ game.year }}
		hr

		include details-02-release
		include details-03-roms
		include details-04-backglasses
		include details-05-media

	.content-end &nbsp;


