.table-wrapper(ng-hide="(tables | filter:query | decade:filterDecades | manufacturer:filterManufacturer).length == 0")
	table.table.table-striped.table--selectable
		tbody
			tr.fade-animation(ng-repeat="game in games | filter:query | decade:filterDecades | manufacturer:filterManufacturer | orderBy:sort:sortReverse", ng-click="navGame(game.id)", style="transition-delay: {{ $index * 20 }}ms")
				td.name {{ game.name }}
				td {{ game.manufacturer }} ({{ game.year }})
				td
					span(am-time-ago="game.lastrelease")
				td
					span.stars(value="{{ game.rating }}")
