.row.row--fullheight(ng-controller="GameListController")
	.col-sm-9.col--main
		h1.h--primary Games
		ul.nav-icons
			li(ng-class="{ active: viewtype == 'compact' }")
				i.fa.fa-th-large(ng-click="switchview('compact')")
			li(ng-class="{ active: viewtype == 'extended' }")
				i.fa.fa-th-list(ng-click="switchview('extended')")
			li(ng-class="{ active: viewtype == 'list' }")
				i.icon.icon-th-list-list(ng-click="switchview('list')")
		hr
		.pull-right
			span {{ pagination.count }} Games
			i.a.fa.fa-angle-left.space-left-2x(ng-show="pagination.links.prev", ng-click="paginate(pagination.links.prev)")
			i.a.fa.fa-angle-right.space-left-2x(ng-show="pagination.links.next", ng-click="paginate(pagination.links.next)")

		.clearfix.padder-bottom
		p(ng-show="!games.length") No games found.
		.row.row-data.ng-cloak
			.fade2-animation(ng-include="template")

	.col-sm-3.col--menu
		h1 Filter
		hr

		// search box
		.input-group.padder-bottom
			span.input-group-addon.input-group-addon--search
				i.fa.fa-search
			input.form-control.input--search(ng-model="q", type="text", placeholder="Search")

		accordion.panel-group--transparent(close-others="false")

			// year filter
			accordion-group.panel--inner(is-open="filterYearOpen")
				accordion-heading by Year
				.row
					.col-xs-6.text-center.a(filter-decade="1960") 1960s
					.col-xs-6.text-center.a(filter-decade="1970") 1970s
					.col-xs-6.text-center.a(filter-decade="1980") 1980s
					.col-xs-6.text-center.a(filter-decade="1990") 1990s
					.col-xs-6.text-center.a(filter-decade="2000") 2000s
					.col-xs-6.text-center.a(filter-decade="2010") 2010s

			// manufacturer filter
			accordion-group.panel--inner(is-open="filterManufacturerOpen")
				accordion-heading by Manufacturer
				.row
					.col-xs-6.text-center.a(filter-manufacturer="Bally") Bally
					.col-xs-6.text-center.a(filter-manufacturer="Capcom") Capcom
					.col-xs-6.text-center.a(filter-manufacturer="Stern") Stern
					.col-xs-6.text-center.a(filter-manufacturer="Williams") Williams
					.col-xs-6.text-center.a(filter-manufacturer="Gottlieb") Gottlieb
					.col-xs-6.text-center.a(filter-manufacturer="Data East") Data East

		h1 Sort
		hr
		ul.list--sort-options
			li.a(sort="name", d="desc") Date Added
			li.a(sort="year", d="asc") Original Release
			li.a.selected.asc(sort="name", d="asc") Name
			li.a(sort="rating", d="desc") Rating
			li.a(sort="views", d="desc") Views
			li.a(sort="gamedownloads", d="desc") Downloads

		span(ng-show="auth.hasPermission('games/add')")
			h1 Content
			hr
			a.btn.btn-primary(href="/games/add").padder-bottom
				i.fa.fa-plus-circle.space-right
				| Add Game