include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('lock').space-right
			| &nbsp;Login
	.modal-body
		div.alert.padder-bottom(ng-show="headMessage")
			+icon('info').space-right.shift-up
			| {{ headMessage }}

		.span(ng-hide="loginParams.localOnly")
			h3.h--shift-up Login with
			.text-center
				for ipb in authStrategies.ipboard
					a.btn.btn--secondary.btn-lg(ng-click=`oauth('${ipb.url}')`)
						+icon(ipb.icon).space-right
						| #{ipb.name}
				if authStrategies.google
					a.btn.btn--secondary.btn-lg(ng-click="oauth('/auth/google')")
						+icon('google-g').space-right
						| Google
				if authStrategies.github
					a.btn.btn--secondary.btn-lg(ng-click="oauth('/auth/github')")
						+icon('github').space-right
						| GitHub
			hr.hr--light.padder-top-2x
			.clearfix

		div.alert.alert-success.padder-bottom(ng-show="topMessage")
			+icon('info').space-right.shift-up
			| {{ topMessage }}

		//- LOGIN
		div(ng-hide="registering")
			h3.h--shift-up(ng-hide="loginParams.localOnly") Or, with your account:
			h3.h--shift-up(ng-show="loginParams.localOnly") Login with your account:
			form.form-horizontal(role='form')
				.form-group
					label.col-sm-4.control-label Username
					.col-sm-6
						input.form-control(ng-model="userPass.username", ng-required)
				.form-group
					label.col-sm-4.control-label Password
					.col-sm-6
						input.form-control(ng-model="userPass.password", type="password")

		//- REGISTER
		div(ng-show="registering && !loginParams.localOnly")
			h3.h--shift-up Or, register with your Email:
			form.form-horizontal(role="form")
				.form-group(ng-class="{ error: errors.email }")
					label.col-sm-4.control-label Email
					.col-sm-6
						input.form-control(ng-model="email", ng-required)
				.form-group(ng-class="{ error: errors.username }")
					label.col-sm-4.control-label Username
					.col-sm-6
						input.form-control(ng-model="userPass.username", ng-required)
				.form-group(ng-class="{ error: errors.password }")
					label.col-sm-4.control-label Password
					.col-sm-6
						input.form-control(ng-model="userPass.password", type="password")

		//- ERRORS
		div.alert.alert-danger(ng-show="errors.email")
			+icon('warning').space-right.shift-up
			| {{ errors.email }}
		div.alert.alert-danger(ng-show="errors.username")
			+icon('warning').space-right.shift-up
			| {{ errors.username }}
		div.alert.alert-danger(ng-show="errors.password")
			+icon('warning').space-right.shift-up
			| {{ errors.password }}
		div.alert.alert-danger(ng-show="error")
			+icon('warning').space-right.shift-up
			| {{ error }}
		div.alert.alert-success(ng-show="message")
			+icon('info').space-right.shift-up
			| {{ message }}

		.text-center.padder-top.i(ng-show="message2", ng-bind-html="message2")

	.modal-footer

		.form-group(ng-hide="registering")
			.col-sm-4
				input#rememberMe.checkbox--check(ng-model="$storage.rememberMe", type="checkbox")
				label.checkbox--standalone.nested(for="rememberMe")
			label.col-sm-8.control-value(for="rememberMe") Remember Me

			.clearfix
		hr.hr--light.padder-top-4x(ng-hide="registering")
		.clearfix

		h3.h--smaller.h--no-margin.a.a--lighter.pull-left(ng-click="swap()", ng-hide="loginParams.localOnly") {{ registering ? "Login" : "Register" }}
		button.btn.btn-default(ng-click="$close()") Cancel
		button.btn.btn--secondary(ng-hide="registering", ng-click="login()") Login
		button.btn.btn--secondary(ng-show="registering", ng-click="register()") Register
