.theme-light
	.modal-header
		h1.h--no-margin.h--small
			i.fa.fa-lock.space-right
			| &nbsp;Login
	.modal-body
		h3.h--shift-up Login with
		.text-center
			for ipb in authStrategies.ipboard
				a.btn.btn--secondary.btn-lg(href=ipb.url, target="_self")
					i.space-right(class=ipb.icon)
					| #{ipb.name}
			if authStrategies.github
				a.btn.btn--secondary.btn-lg(href="/auth/github", target="_self")
					i.fa.fa-github.space-right
					| GitHub
		hr.hr--light.padder-top-2x
		.clearfix

		div(ng-hide="registering")
			h3.h--shift-up Or, with your account:
			form.form-horizontal(role='form')
				.form-group
					label.col-sm-4.control-label Username
					.col-sm-6
						input.form-control(ng-model="loginUser.username", ng-required)
				.form-group
					label.col-sm-4.control-label Password
					.col-sm-6
						input.form-control(ng-model="loginUser.password", type="password")
		div(ng-show="registering")
			h3.h--shift-up Or, register with your Email:
			form.form-horizontal(role="form")
				.form-group(ng-class="{ error: errors.email }")
					label.col-sm-4.control-label Email
					.col-sm-6
						input.form-control(ng-model="registerUser.email", ng-required)
				.form-group(ng-class="{ error: errors.username }")
					label.col-sm-4.control-label Username
					.col-sm-6
						input.form-control(ng-model="registerUser.username", ng-required)
				.form-group(ng-class="{ error: errors.password }")
					label.col-sm-4.control-label Password
					.col-sm-6
						input.form-control(ng-model="registerUser.password", type="password")
		div.alert.alert-danger(ng-show="errors.email")
			i.fa.fa-exclamation-triangle.space-right
			| {{ errors.email }}
		div.alert.alert-danger(ng-show="errors.username")
			i.fa.fa-exclamation-triangle.space-right
			| {{ errors.username }}
		div.alert.alert-danger(ng-show="errors.password")
			i.fa.fa-exclamation-triangle.space-right
			| {{ errors.password }}
		div.alert.alert-danger(ng-show="error")
			i.fa.fa-exclamation-triangle.space-right
			| {{ error }}
		div.alert.alert-success(ng-show="message")
			i.fa.fa-info-circle.space-right
			| {{ message }}

	.modal-footer
		button.btn.btn-default.pull-left(ng-click="swap()") {{ registering ? "Login" : "Register" }}
		button.btn.btn-default(ng-click="$close()") Cancel
		button.btn.btn--secondary(ng-hide="registering", ng-click="login()") Login
		button.btn.btn--secondary(ng-show="registering", ng-click="register()") Register
